//------------------------------
// *****************************
// Rules
// *****************************
//------------------------------

html, body {
  color: $text-primary-color;
  font-size: $base-font-size;
  font-family: $source-sans-pro;
  font-weight: normal;
  height: 100%;
  min-height: 100%;
  background: #f2f3f9;
}

label {
  display: block;
  font-family: $source-sans-pro;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 5px;
  color: rgba(57, 44, 70, 0.55);
  text-transform: uppercase;
}

hr {
  border-color: #d9d0ed;
  margin-top: 35px;
  margin-bottom: 15px;
}
