//------------------------------
// *****************************
// Text Classes
// *****************************
//------------------------------

.text-purple {
  color: $base-color-purple;
}

.text-blue {
  color: #2481ff;
}

.text-inline {
  display: inline-block;
}

.text-no-margin {
  margin: 0;
}
