//------------------------------
// *****************************
// Variables
// *****************************
//------------------------------

/// TODO: BIG TODO, fix Variables names in the pages developed so far.

/// File Paths
/// @access public
/// @type Path
$icon-font-path: '../fonts/';

/// Base font size setting for Andy
/// @access public
/// @type Length
$base-font-size: 14px !default;

/// Font Family
/// @access public
/// @type Font
$source-sans-pro: 'Source Sans Pro', sans-serif;
$source-code-pro: "Source Code Pro", sans-serif;
$icon-fonts:      "icomoon", sans-serif;

/// Colors
/// @access public
/// @type Hex Color
$text-primary-color: #464e57;


/// Transitions
/// @access public
/// @type Timing
$base-transition: 0.2s;

/// Opacity
/// @access public
/// @type Opacity
$base-opacity: 0.85;

/// Navigation Space Left
/// @access public
/// @type Opacity
$navigation-space-left: 70px;


/// Base colors
/// @access public
/// @type HEX
$base-color-purple: #d74d4f;
$base-color-light-purple: #ff7878;
$base-color-lightest-purple: #f4eded;
$base-color-white:  #ffffff;
$base-color-black:  #000000;
$base-color-blue: $base-color-purple;