<div class="modal-header">ActOn Launch Options</div>
<div class="modal-body">
    <form novalidate>
        <p>For the ActOn connection, <strong>{{ connection.name }}</strong>, do you want to launch this content as an email draft, or email template?</p>
        <div class="form-group" ng-init="options.type = 'template'">
            <label style="display: inline-block; margin-right: 12px;">
                <input type="radio" name="type" ng-model="options.type" value="template">
                Template
            </label>
            <label style="display: inline-block; margin-right: 12px;">
                <input type="radio" name="type" ng-model="options.type" value="draft">
                Draft
            </label>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-black" ng-click="ok(options)">Launch</button>
    <button class="btn btn-warning btn-black" ng-click="cancel()">Cancel</button>
</div>
