<div class="modal-header">Hubspot Options</div>
<div class="modal-body">
	<form name="hubspot_options_form" novalidate>
		<div class="form-group">
			<label for="author">Select Hubspot Template</label>
			<select ng-model="options.template_path" ng-options="template.path as template.label for template in templates" required></select>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary btn-black" ng-click="ok()" ng-disabled=" ! hubspot_options_form.$valid">Send</button>
	<button class="btn btn-warning btn-black" ng-click="cancel()">Cancel</button>
</div>
