<div class="modal-header">LinkedIn Requires Re-authorization</div>
<div class="modal-body">
    <form novalidate>
        <p>Before you can Launch your Content to your LinkedIn account, <strong>{{ connection.name }}</strong>, you will need to re-authorize Content Launch to connect to your LinkedIn profile.</p>
    </form>
</div>
<div class="modal-footer">
    <div class="pull-left" style="line-height: 13px; text-align:left; margin-right: 16px;">
        <small>Hitting Authorize will redirect you to LinkedIn's authorization page<br/>and then to your Account Settings to verify the connection</small>
    </div>

    <button class="btn btn-primary btn-black" ng-click="ok()">Authorize</button>
    <button class="btn btn-warning btn-black" ng-click="cancel()">Cancel</button>
</div>
