<div class="modal-header">{{ title }}</div>
<div class="modal-body">
	<div class="file-dialog" ng-if="isImage">
		<a href="{{ path }}" target="_new">
			<img src="{{ path }}" alt="{{ title }}" />
		</a>
	</div>

	<div ng-if="!isSupported">
		This file is not supported by this browser.
		<a href="{{ path }}">Download {{ title }}</a>
	</div>

	<div ng-if="isSupported">
		<div class="file-dialog" ng-if="isVideo">
			<video controls="controls" preload="preload" autoplay="autoplay">
				<source src="{{ path }}" type="{{ mimeType }}" />
			</video>
		</div>
		<div class="file-dialog" ng-if="isAduio">
			<audio controls="controls" preload="preload" autoplay="autoplay">
				<source src="{{ path }}" type="{{ mimeType }}" />
			</audio>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">OK</button>
</div>