//------------------------------
// *****************************
// Form Legend
// *****************************
//------------------------------

// Variables

// Classes
.form-fieldset {
  position: relative;
  border: 1px solid #c6cfe1;
  padding: 15px 10px;
}

.form-legend {
  position: absolute;
  top: -9px;
  left: 10px;
  width: auto;
  color: #837c8e;
  font-size: 12px;
  text-transform: uppercase;
  border-bottom: 0;
  display: inline-block;
  background: $base-color-white;
  padding: 0 5px;
  font-family: $source-sans-pro;
  margin-bottom: 0;
}
