//------------------------------
// *****************************
// Create
// *****************************
//------------------------------

.create-link-dropdown {
  display: block;
  padding: 10px 0;

  > a {
    display: block;
    font-family: $source-sans-pro;
    font-size: 12px;
    color: #84828d;
    font-weight: bold;
  }
}

.create-panel-container {
  margin-bottom: 20px;
  padding: 15px 30px;

  &.no-padding {
    padding-left: 0;
    padding-right: 0;

    .create-panel-heading {
      margin-left: 10px;
    }

    .alert {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}

.create-panel-heading {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 14px;
  color: #6844b7;
  margin-left: -20px;
  font-weight: bold;

  > i {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: #e9e3f4;
    vertical-align: middle;
    margin-right: 15px;
    text-align: center;
  }

  &.no-margin-left {
    margin-left: 10px;
  }
}

.create-panel-table {
  display: table;
  width: 100%;
  border: 1px solid #e7eaf2;
  border-bottom: 0;

  &.border-left {
    border-left: 2px solid #f7877d;
    &.border-green{
      border-left: 2px solid #7df78e;
    }
  }
}



.create-panel-text {
  display: inline-block;
  font-family: $source-sans-pro;
  font-size: 15px;
  color: #8f8b96;
  margin-bottom: 5px;

  &.small {
    font-size: 12px;
  }
  &.active {
    color: #2482ff;
  }
  &.due {
    color: #f24638;
  }
}

.create-panel-table-cell {
  display: table-cell;
  border-bottom: 1px solid #e7eaf2;
  vertical-align: middle;
  float: none;
  padding: 10px 15px;

  @include transition(0.2s);

  &:hover {
    background: #fbfcfd;
  }

  &.avatar{
    width: 62px;
  }

  > a {
    display: block;
    font-family: $source-sans-pro;
    font-size: 12px;
    color: #84828d;
    font-weight: bold;

    i.large{
      font-size: 26px;
    }

  }
}

@for $i from 1 to 20 {
  $j: $i * 5;
  .cell-size-#{$j} {
    width: percentage($j / 100) !important;
  }
}

.create-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.create-panel-spaceship {
  font-size: 18px;
  cursor: pointer;
}

.create-dropdown {
  position: relative;
  display: inline-block;
}

.create-tag {
  display: inline-block;
  font-size: 12px;
  background: #ffd559;
  color: #9e8245;
  padding: 2px 4px;
}

.modal-icon-success {
  display: inline-block;
  color: #85b200;
  font-size: 128px;
  margin-bottom: 20px;
}

.modal-social {
  margin-bottom: 20px;
  text-align: center;

  > span {
    display: inline-block;
    font-size: 18px;
    background: #ccd0d5;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0 10px;
    color: #fff;

    > i {
      line-height: 1;
    }
  }

  > span.icon-social-facebook,
  > span.icon-social-twitter,
  > span.icon-social-wordpress,
  > span.icon-social-hubspot,
  > span.icon-social-mailchimp,
  > span.icon-social-linkedin,
  > span.icon-social-dropbox,
  > span.icon-social-google-drive {
    background-size: 80% !important;
    background: transparent url("/images/social-icons/color-hubspot.png") no-repeat center center;
    width: 40px;
    height: 40px;
    vertical-align: bottom;
    border: 4px solid #ccd0d5;
  }

  > span.icon-social-facebook {
    background: transparent url("/images/social-icons/color-facebook.svg") no-repeat center center;
  }

  > span.icon-social-twitter {
    background: transparent url("/images/social-icons/color-twitter.svg") no-repeat center center;
  }

  > span.icon-social-wordpress {
    background: transparent url("/images/social-icons/color-wordpress.svg") no-repeat center center;
  }

  > span.icon-social-mailchimp {
    background: transparent url("/images/social-icons/color-mailchimp.gif") no-repeat center center;
  }

  > span.icon-social-linkedin {
    background: transparent url("/images/social-icons/color-linkedin.svg") no-repeat center center;
  }

  > span.icon-social-dropbox {
    background: transparent url("/images/social-icons/color-dropbox.svg") no-repeat center center;
  }

  > span.icon-social-google-drive {
    background: transparent url("/images/social-icons/color-google-drive.svg") no-repeat center center;
  }
}


/* Create overlay */
.create-overlay {
  position: fixed;
  background-color:rgba(18,16,20,0.65);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1050;
  transition: .2s all;
  opacity: 0;
  visibility: hidden;

  .inner {
    position: absolute;
    max-width: 1100px;
    padding: 0 20px;
    width: 100%;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    transition: all 350ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  }

  .list-createmenu > li {
    display: inline-block;
    width: 25%;
    margin-right: -4px;
    padding: 0 7px;
    transform: translateY(-30px);
    opacity: 0;
    transition: all 200ms ease;

    &.second {
      transition: all 200ms ease 50ms;
    }
    &.third {
      transition: all 200ms ease 100ms;
    }
    &.fourth {
      transition: all 200ms ease 150ms;
    }

    > a {
      display: block;
      background-color: #fff;
      padding: 25px 20px;
      border-radius: 6px;
      text-align: center;
      color:rgba(57,44,70,0.65);
      min-height: 180px;
      transition: all 250ms cubic-bezier(0.165, 0.840, 0.440, 1.000);

      &:hover {
        box-shadow: 0 0 0 4px rgba(255,255,255,.55);
      }

      p {
        margin: 0;
        max-width: 190px;
        margin-left: auto;
        margin-right: auto;
        line-height: 1.3em;
      }
      .title {
        color: #2482FF;
        margin: 6px auto;
        font-weight: 700;
        font-size: 1.1em;
      }

      [class^="icon-"] {
        font-size: 2.4em;
        color: #2482FF;
      }
    }
  }
}

.showcreate {

  .create-overlay {
    opacity: 1;
    visibility: visible;

    .list-createmenu > li {
      transform: translateY(0);
      opacity: 1;
    }

  }

}

.promo-notification {
  .alert {
    margin: 0 0 30px 0;
    line-height: 30px;
  }
}

.bulk-order-step {
  text-align: center;

  .bulk-sample-link, .content{
    display: inline-block;
    padding: 10px 0;

    &:hover{
      background-color: #f5f5f5;
    }
  }

  .bulk-step-image{
    width: 100px;
    margin: 10px 50px;
  }
}

.order-content-form-divider{
  margin: 10px 20px 45px;
}


#bulk-uploader{
 /* background-image: url('/images/bulk_add_details.svg'); */
  border: none;
  color: grey;
  padding: 10px 0;
  background-image: url('/images/excel_upload.png') !important;
  background-position: center 20px;
  background-size: 45%;
  background-repeat: no-repeat;
  height:160px;

  &.no-background {
    background-image: none;
  }

  &:hover{
    background-color: #f5f5f5;
  }

  .dz-message{
    margin: 0;
    position: absolute;
    bottom: 10px;
    width: 100%;

    span {
      display: block;
    }
  }
}

.coming-soon {
  padding: 50px 0;
  text-align: center;
  font-size: 26px;
  font-style: italic;
  color: #2482ff;
}