/vendor
/node_modules
/public/storage
/public/css
/public/js
/public/fonts
/public/images
/public/tmp
/public/rev-manifest.json
/bower_components
/.vagrant
Homestead.yaml
Homestead.json
homestead.sh
.env
.idea
.DS_Store
.vscode
_ide_helper.php
*.iml
composer.phar
package-lock.json