/bootstrap/compiled.php
/vendor
/node_modules
/bower_components
/public/assets
composer.phar
composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db
uploads/
.vagrant/
public/adminer/

# ignore local configurations
app/config/local/
*.sublime-workspace
