<div class="view accounts" ng-show="!isLoading">
	<div class="col-md-3 left-pane">
		<div account-left-pane selected-setting="'account'"></div>
	</div>
	<div class="col-md-9 right-pane">
		<h2 class="right-pane-header">Account Settings</h2>
		<div class="right-pane-content" ng-cloak account-form selected-account="selectedAccount" refresh-method="refreshMethod" after-save-success="afterSaveSuccess" self-editing="true" creating-new="false"></div>
	</div>
</div>

<div class="loading-spinner-container" ng-show="isLoading">
	<spinner spin="{ length: 50, width: 10, radius: 30 }"></spinner>
</div>