
<div class="view accounts">
	<div class="col-md-3 left-pane">
		<div account-left-pane selected-setting="'connections'"></div>
	</div>
	<div class="col-md-9 right-pane">
		<div class="loading-spinner-container spinner-mask" ng-hide=" ! isLoading">
		    <spinner spin="{ length: 50, width: 10, radius: 30 }"></spinner>
		</div>
		<h2 class="right-pane-header">Content Connections</h2>

		<div class="right-pane-content">

			<div class="control-group btn-toolbar content-connection-button-bar">
				<div class="form-group input-group">
					<input type="text" class="form-control" placeholder="Search" ng-model="search.searchTerm" ng-change="search.applyFilter(true)" />
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-search"></span>
					</span>
				</div>

				<div class="btn-group btn-group-justified btn-group-filter">
					<a class="btn btn-default" ng-class="{ active: search.connectionStatus === 'active' }" ng-click="search.toggleStatus('active')">Active</a>
					<a class="btn btn-default" ng-class="{ active: search.connectionStatus === 'inactive' }" ng-click="search.toggleStatus('inactive')">Inactive</a>
					<a class="btn btn-default" ng-class="{ active: search.connectionStatus === 'all' }" ng-click="search.toggleStatus('all')">All</a>
				</div>

				<div class="btn-group add-connection" ng-show="canCreateConnection">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						New Connection
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li ng-repeat="provider in providers" ng-click="addConnection(provider)">
							<a href="#">
								<span class="{{ icon(provider.provider) }}"></span>
								{{ provider.name }}
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="connection-list">
				<div class="row">
					<div class="col-md-4 header">Name</div>
					<div class="col-md-4 header">URL</div>
					<div class="col-md-2 header">Status</div>
					<div class="col-md-2 header">Delete</div>
				</div>
				<div class="row" ng-repeat="connection in filteredConnections | orderBy:'connectionName'">
					<div class="col-md-4">
						<div class="provider-icon">
							<span class="{{ icon(connection.provider) }}"></span>
						</div>
						<div class="identifier">
							<strong contenteditable ng-model="connection.name" on-change="editConnectionName" ng-show="canEditConnection" ng-focus="selectConnection($event, connection)"></strong>
							<strong ng-show="!canEditConnection" ng-bind="connection.name"></strong>
							<span ng-bind="connection.connectionName" class="provider"></span>
						</div>
					</div>
					<div class="col-md-4">
						<a href="{{ connection.url }}" target="_blank">{{ connection.url }}</a>
					</div>
					<div class="col-md-2">
						<span class="toggle" ng-click="toggleActiveStatus(connection)">{{ connection.activeStatus() }}</span> | 
						<span ng-click="checkStatus(connection)">Check Status</span>
					</div>
					<div class="col-md-2">
						<span class="fa fa-trash-o" ng-show="canEditConnection" ng-click="deleteConnection(connection)"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="wordpress-connect.html">
	<div class="modal-header">In order to connect Content Launch to your WordPress site, you first need to install the Jetpack plugin and connect it to a WordPress.com account.</div>
	<div class="modal-body">
		<form name="wordpressForm" novalidate>
			<dl>
			  <dt>1. Install the Jetpack plugin</dt>
			  <dd>Jetpack offers a host of great features, one of which is to leverage WordPress.com&#39s secure OAuth2 authentication system and the WordPress.com REST API to manage and access your site’s content. Log in to your site&#39s Dashboard, click on the "Plugins" tab in the left panel, and then click "Add New". Search for "Jetpack" and the latest version will appear at the top of the list.</dd>
			  <br/>
			  <dt>2. Connect Jetpack to your WordPress.com account</dt>
			  <dd>After you&#39ve installed Jetpack, head over to its control panel by clicking "Jetpack" in the left panel of your Dashboard. First, click on the "Connect to Get Started" button. This will redirect you to WordPress.com and connect your site to your WordPress.com account (create an account if you&#39re not already registered). Finally, enter the settings menu for Jetpack on your WordPress site, scroll down to "JSON API" and select it to configure it, and in its configuration menu, enable it and save your changes.</dd>
			</dl>
			<div class="buttons clearfix">
				<button class="btn btn-primary btn-black" ng-click="ok()">Connect</button>
				<button class="btn btn-warning btn-black" ng-click="cancel()">Cancel</button>
			</div>
		</form>
	</div>
</script>

<script type="text/ng-template" id="wordpress-error.html" ng-hide="isLoading">
	<div class="modal-header"><i>{{ errorMessage }}</i></div>
	<div class="modal-body">
		<form name="wordpressForm" novalidate>
		<p>We can see that your WordPress site exists, but some configuration on your server is preventing us from establishing a connection. Please consult your system administrator or hosting provider with the error message posted above.</p>
			<div class="buttons clearfix">
				<button class="btn btn-primary btn-black" ng-click="ok()">OK</button>
			</div>
		</form>
	</div>
</script>



