<div class="view accounts">
	<div class="col-md-3 left-pane">
		<div account-left-pane selected-setting="'promote'"></div>
	</div>
	<div class="col-md-9 right-pane">
		<h2 class="right-pane-header">Promote Settings</h2>
		
		<div class="right-pane-content">
			<!--<div class="promote-connection-list">
				<div class="row">
					<div class="col-md-3 promote-connection-type-container">
						<span class="cl-icon cl-icon-med cl-icon-promote-social"></span>
						<span class="promote-connection-type">Social</span>
					</div>
					<div class="col-md-9">
						<div class="row">
							<div class="col-md-7">
								Social through
								<span class="cl-banner cl-banner-hootsuite"></span>
							</div>
							<div class="col-md-5">
								<button class="btn btn-black" ng-click="connect('hootsuite')" ng-hide="providerIsConnected('hootsuite')">Connect</button>
								<button class="btn btn-black" ng-click="disconnect('hootsuite')" ng-show="providerIsConnected('hootsuite')">Disconnect</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 promote-connection-type-container">
						<span class="cl-icon cl-icon-med cl-icon-promote-automation"></span>
						<span class="promote-connection-type">Automation</span>
					</div>
					<div class="col-md-9">
						<div class="row">
							<div class="col-md-7">
								Automation through
								<span class="cl-banner cl-banner-hubspot"></span>
							</div>
							<div class="col-md-5">
								<button class="btn btn-black" ng-click="connect('hubspot')" ng-hide="providerIsConnected('hubspot')" ng-disabled="providerIsConnected('act-on')">Connect</button>
								<button class="btn btn-black" ng-click="disconnect('hubspot')" ng-show="providerIsConnected('hubspot')">Disconnect</button>
							</div>
						</div>
						<div class="row">
							<div class="col-md-7">
								Automation through
								<span class="cl-banner cl-banner-act-on"></span>
							</div>
							<div class="col-md-5">
								<button class="btn btn-black" ng-click="connect('act-on')" ng-hide="providerIsConnected('act-on')" ng-disabled="providerIsConnected('hubspot')">Connect</button>
								<button class="btn btn-black" ng-click="disconnect('act-on')" ng-show="providerIsConnected('act-on')">Disconnect</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 promote-connection-type-container">
						<span class="cl-icon cl-icon-med cl-icon-promote-amplification"></span>
						<span class="promote-connection-type">Amplification</span>
					</div>
					<div class="col-md-9">
						<div class="row">
							<div class="col-md-7">
								Amplify through
								<span class="cl-banner cl-banner-outbrain"></span>
							</div>
							<div class="col-md-5">
								<button class="btn btn-black" ng-click="connect('outbrain')" ng-hide="providerIsConnected('outbrain')">Connect</button>
								<button class="btn btn-black" ng-click="disconnect('outbrain')" ng-show="providerIsConnected('outbrain')">Disconnect</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 promote-connection-type-container">
						<span class="cl-icon cl-icon-med cl-icon-promote-intelligence"></span>
						<span class="promote-connection-type">Intelligence</span>
					</div>
					<div class="col-md-9">
						<div class="row">
							<div class="col-md-7">
								Intelligence through
								<span class="cl-banner cl-banner-papershare"></span>
							</div>
							<div class="col-md-5">
								<button class="btn btn-black" ng-click="connect('papershare')" ng-hide="providerIsConnected('papershare')">Connect</button>
								<button class="btn btn-black" ng-click="disconnect('papershare')" ng-show="providerIsConnected('papershare')">Disconnect</button>
							</div>
						</div>
					</div>
				</div>
			</div>-->
		</div>
	</div>
</div>