<div class="signup-form row">
	<div class="col-md-2"></div>
	<div class="col-md-4">
		<ul class="signup-module-list">
			<li class="row">
				<div class="col-md-5 signup-module-list-item create">
					<span class="cl-icon cl-icon-navigation cl-icon-navigation-create"></span>
				</div>
				<div class="col-md-7">
					<span class="signup-module-list-item-title">CREATE</span>
					<span class="signup-module-list-item-desc">compelling content for your business</span>
				</div>
			</li>
			<li class="row">
				<div class="col-md-5 signup-module-list-item collaborate">
					<span class="cl-icon cl-icon-navigation cl-icon-navigation-collaborate"></span>
				</div>
				<div class="col-md-7">
					<span class="signup-module-list-item-title">COLLABORATE</span>
					<span class="signup-module-list-item-desc">with leaders in your industry</span>
				</div>
			</li>
			<li class="row">
				<div class="col-md-5 signup-module-list-item consult">
					<span class="cl-icon cl-icon-navigation cl-icon-navigation-consult"></span>
				</div>
				<div class="col-md-7">
					<span class="signup-module-list-item-title">CONSULT</span>
					<span class="signup-module-list-item-desc">with our team of content marketing pros</span>
				</div>
			</li>
			<li class="row">
				<div class="col-md-5 signup-module-list-item promote">
					<span class="cl-icon cl-icon-navigation cl-icon-navigation-promote"></span>
				</div>
				<div class="col-md-7">
					<span class="signup-module-list-item-title">PROMOTE</span>
					<span class="signup-module-list-item-desc">your content with our connection providers</span>
				</div>
			</li>
			<li class="row">
				<div class="col-md-5 signup-module-list-item measure">
					<span class="cl-icon cl-icon-navigation cl-icon-navigation-measure"></span>
				</div>
				<div class="col-md-7">
					<span class="signup-module-list-item-title">MEASURE</span>
					<span class="signup-module-list-item-desc">your success</span>
				</div>
			</li>
		</ul>
	</div>
	<div class="col-md-4">
		<form name="signupForm" novalidate="novalidate">
			<div class="control-group">
				SIGN UP NOW
			</div>
			<div class="control-group">
				<div class="form-group">
					<label class="control-label" for="txtFirstName">First Name <span class="error">*</span></label>
					<input type="text" id="txtFirstName" name="txtFirstName" class="form-control" ng-model="user.firstName" />
				</div>
			</div>

			<div class="control-group">
				<div class="form-group">
					<label class="control-label" for="txtFirstName">Last Name <span class="error">*</span></label>
					<input type="text" id="txtLastName" name="txtLastName" class="form-control" ng-model="user.lastName" />
				</div>
			</div>

			<div class="control-group">
				<div class="form-group">
					<label class="control-label" for="txtTitle">Title</label>
					<input type="text" id="txtTitle" name="txtTitle" class="form-control" ng-model="user.title" />
				</div>
			</div>

			<div class="control-group">
				<div class="form-group">
					<label class="control-label" for="txtBusinessName">Company Name <span class="error">*</span></label>
					<input type="text" id="txtBusinessName" name="txtBusinessName" class="form-control" ng-model="user.businessName" />
				</div>
			</div>

			<div class="control-group">
				<div class="form-group">
					<label class="control-label" for="txtPhoneNumber">Phone Number</label>
					<input type="text" id="txtPhoneNumber" name="txtPhoneNumber" class="form-control" ng-model="user.phoneNumber" />
				</div>
			</div>

			<div class="control-group">
				<div class="form-group">
					<label class="control-label" for="txtEmailAddress">Email Address <span class="error">*</span></label>
					<input type="text" id="txtEmailAddress" name="txtEmailAddress" class="form-control" ng-model="user.emailAddress" />
				</div>
			</div>
			
			<button type="button" class="btn btn-default btn-black" ng-click="signUp()">SIGN UP</button>
		</form>
	</div>
	<div class="col-md-2"></div>
</div>

<div class="full-screen-modal" ng-show="isSaving">
	<spinner spin="{ color: 'white', length: 50, width: 10, radius: 30 }"></spinner>
</div>