.btn-upgrade, .btn-hide {
  background-color: $base-color-purple;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1.5px;
  padding: 8px 18px;
}

.freemium-notification, .freemium-notification-2 {
  margin-top: 0;
  border-radius: 0;
  position: relative;
  padding: 20px;

  a.close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 30px;
    font-weight: 200;
    color: #6B7785;
    border: 1px solid #6B7785;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    opacity: 0.6;
  }

  .height-60 {
    height: 60px;
  }
}

.freemium-notification {
  text-align: center;
  background-color: #F0EDF8;
  border-color: #F0EDF8;

  h4 {
    margin-top: 0;
    margin-bottom: 5px;
    color: #3A3049;
  }

  p {
    color: #665E73;
  }

  .btn-upgrade {
    margin-bottom: -45px;
  }
}

.freemium-notification-2 {
  padding-left: 15%;
  background-color: #FEFDDF;
  border-color: #FEFDDF;

  h4 {
    margin-top: 0;
    margin-bottom: 10px;
    color: $base-color-purple;
    font-weight: 900;
  }

  p {
    color: #3F3747;
    font-size: 16px;
  }

  .btn-upgrade {
    font-size: 13px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  a.close {
    text-align: center;
    z-index: 1;
  }
}

#freemium-modal {
  left: 80px;
  right: inherit;
  outline: none;
  overflow: hidden;
  width: 400px;

  .modal-dialog {
    width: 100%;
  }

  .modal-body {
    padding: 20px 50px 30px;
  }

  img {
    width: 50%;
  }

  h4 {
    color: $base-color-purple;
  }

  p {
    margin-top: 15px;
  }

  .btn {
    width: 48%;
    letter-spacing: 1px;

    &.btn-upgrade {
      margin-right: 1%;
    }

    &.btn-hide {
      background-color: #fff;
      color: #6C7784;
      border-color: #6C7784;
      font-weight: 900;
    }
  }
}

.popup-pointer {
  display: none;
  position: absolute;
  left: 60px;
  top: 80px;
  z-index: 1100;
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  background: #fff;

  .play-left {
    width: 12px;
    height: 16px;
    border-top: 8px solid transparent;
    border-right: 12px solid $base-color-purple;
    border-bottom: 8px solid transparent;
    margin: 12px !important;
  }
}