.freemium-notification, .freemium-notification-2 {
  margin-top: 0;
  border-radius: 0;
  position: relative;
  padding: 20px;

  .btn-upgrade {
    background-color: #6944B6;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1.5px;
    padding: 8px 18px;
  }

  a.close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 30px;
    font-weight: 200;
    color: #6B7785;
    border: 1px solid #6B7785;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    opacity: 0.6;
  }

  .height-60{
    height: 60px;
  }
}

.freemium-notification {
  text-align: center;
  background-color: #F0EDF8;
  border-color: #F0EDF8;

  h4 {
    margin-top: 0;
    margin-bottom: 5px;
    color: #3A3049;
  }

  p {
    color: #665E73;
  }

  .btn-upgrade {
    margin-bottom: -45px;
  }
}

.freemium-notification-2 {
  padding-left: 15%;
  background-color: #FEFDDF;
  border-color: #FEFDDF;

  h4 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #6944B6;
    font-weight: 900;
  }

  p {
    color: #3F3747;
    font-size: 16px;
  }

  .btn-upgrade {
    font-size: 13px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  a.close {
    text-align: center;
    z-index: 1;
  }
}
