option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root

files:
  "/etc/php.d/contentlaunch.ini" :
    mode: "000644"
    owner: root
    group: root
    content: |
      session.save_handler = redis
      session.save_path = "tcp://contentlaunch-prod.i9zt5p.0001.use1.cache.amazonaws.com:6379"
commands:
  00installredisphp:
    command: pecl install pecl/redis

  01updateComposer:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update

  02installnode1:
    command: curl -sL https://rpm.nodesource.com/setup_5.x | bash -
  02installnode2:
    command: yum install -y nodejs

  03installgulp:
    command: npm install -g gulp
  04installbower:
    command: npm install -g bower
  05remove_pgsql:
    command: "yum remove -y php56-pgsql"

container_commands:
  01npm:
    command: npm install
    env:
        HOME: /root
        PATH: /usr/bin:/usr/lib/node_modules:/sbin:/bin:/usr/sbin:/opt/aws/bin
  02bower:
    command: bower install --allow-root
    env:
        HOME: /root
        PATH: /usr/bin:/usr/lib/node_modules:/sbin:/bin:/usr/sbin:/opt/aws/bin
  03gulp:
    command: gulp

  04migrate:
    command: /var/app/ondeck/eb-migrate.sh
    leader_only: true
