commands:
  01updateComposer:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update
  02isntallnode:
    command: yum -y --enablerepo=epel install nodejs npm
  03installgulp:
    command: npm install -g gulp
  04installbower:
    command: npm install -g bower
  05bower:
    command: bower install --allow-root
  06npm:
    command: npm install
  07gulp:
    command: gulp

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root
