commands:
  01updateComposer:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update
  02installgulp:
    command: npm install -g gulp
  03installbower:
    command: npm install -g bower
  04bower:
    command: bower install
  05npm:
    command: npm install
  06gulp:
    command: gulp

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root
