<div class="create-header">
    <h3>Content</h3>
    
    <div class="btn-group" ng-show="canViewContent">
        <button class="btn btn-default" ng-class="{ active: search.contentStage === 'content' }" ng-click="search.toggleContentStage('content')" ng-show="canViewContent">Content</button>
        <button class="btn btn-default" ng-class="{ active: search.contentStage === 'concepts' }" ng-click="search.toggleContentStage('concepts')" ng-show="canViewConcepts">Concepts</button>
        <button class="btn btn-default" ng-class="{ active: search.contentStage === 'archived' }" ng-click="search.toggleContentStage('archived')" ng-show="canViewContent">Archived</button>
    </div>
    
    <div class="create-download">
        <button type="button" class="btn btn-default fa fa-download" ng-click="download()"></button>
    </div>

    <div class="create-delete" ng-show="canDelete && search.contentStage !== 'content'">
        <button type="button" class="btn btn-default fa fa-trash-o" ng-click="deleteSelected()"></button>
    </div>

    <div class="create-paging-controls">
        <div class="form-group form-inline">
            <label class="control-label" for="selPageSize">Items per page:</label>
            <select class="form-control" id="selPageSize" name="selPageSize" ng-model="pagination.pageSize" ng-change="pagination.groupToPages()">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>

        <div style="width: 100px; text-align: center;">
            {{ pagination.getPageIndicator() }}
        </div>

        <div class="create-pager" ng-show="pagination.totalItems > pagination.pageSize">
            <pagination
                total-items="pagination.totalItems"
                items-per-page="pagination.pageSize"
                page="pagination.currentPage"
                on-select-page="pagination.onPageChange(page, editUser)"
                direction-links="true"
                max-size="0">
            </pagination>
        </div>
    </div>
</div>

<div class="create-table-container">
    <table class="create-table">
        <thead>
            <tr>
                <th class="small-cell">&nbsp;</th>
                <th class="small-cell" ng-hide="search.contentStage === 'content'">&nbsp;</th>
                <th>Title</th>
                <th>Author</th>
                <th ng-hide="search.contentStage === 'concepts'">Persona</th>
                <th ng-hide="search.contentStage === 'concepts'">Buying Stage</th>
                <th ng-show="search.contentStage === 'content'">Current Step</th>
                <th>Next Step</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="c in pagedContent[pagination.currentPage - 1]" ng-class-odd="'dark'">
                <td class="small-cell"><div class="campaign-dot campaign-dot-small" ng-class="'campaign-dot-' + c.campaign.index()"></div></td>
                <td class="small-cell" ng-hide="search.contentStage === 'content'"><input type="checkbox" class="form-control" ng-model="c.isSelected" /></td>
                <td>
                    <span class="cl-icon" ng-class="formatContentTypeIcon(c.contentType.name)"></span>
                    {{ c.title }}
                </td>
                <td>
                    <span class="user-image user-image-small" ng-style="{ 'background-image': c.author.image }"></span>
                    {{ c.author.formatName() }}
                </td>
                <td ng-hide="search.contentStage === 'concepts'">{{ c.persona }}</td>
                <td ng-hide="search.contentStage === 'concepts'"><span class="cl-icon" ng-class="'cl-icon-personas-' + c.buyingStage"></span></td>
                <td ng-show="search.contentStage === 'content'">
                    <span class="cl-icon cl-icon-workflow" ng-class="formatWorkflowItem(c.currentStep())"></span>
                    <div class="workflow-info">
                        <div>{{ formatWorkflowTitle(c.currentStep()) }}</div>
                        <!--<div class="small-text">{{ formatDate(c.updated) }}</div>-->
                    </div>
                </td>
                <td>
                    <div class="workflow-info">
                        <a href="#" ng-click="handleNextStep(c)" ng-show="canEditContent(c)">{{ formatWorkflowTitle(c.nextStep()) }}</a>
                        <span ng-show="!canEditContent(c)">{{ formatWorkflowTitle(c.nextStep()) }}</span>
                        <!--<div class="small-text" ng-class="{ error: highlightDate(c.dueDate) }">Due: {{ formatDate(c.dueDate) }}</div>-->
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>