<div class="create-header">
    <h3>Content</h3>
    
    <div class="btn-group" ng-show="canViewContent">
        <button class="btn btn-default" ng-class="{ active: search.contentStage === 'content' }" ng-click="search.toggleContentStage('content')" ng-show="canViewContent">Content</button>
        <button class="btn btn-default" ng-class="{ active: search.contentStage === 'concepts' }" ng-click="search.toggleContentStage('concepts')" ng-show="canViewConcepts">Concepts</button>
        <button class="btn btn-default" ng-class="{ active: search.contentStage === 'archived' }" ng-click="search.toggleContentStage('archived')" ng-show="canViewContent">Archived</button>
    </div>
    
    <div class="create-download">
        <a class="btn btn-default fa fa-download" target="_blank" href="/api/account/{{ user.account.id }}/content/export-csv"></a>
    </div>

    <div class="create-delete" ng-show="canDelete && search.contentStage !== 'content'">
        <button type="button" class="btn btn-default fa fa-trash-o" ng-click="deleteSelected()"></button>
    </div>

    <div class="create-paging-controls">
        <div class="form-group form-inline">
            <label class="control-label" for="selPageSize">Items per page:</label>
            <select class="form-control" id="selPageSize" name="selPageSize" ng-model="pagination.pageSize" ng-change="pagination.groupToPages()">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>

        <div style="width: 100px; text-align: center;">
            {{ pagination.getPageIndicator() }}
        </div>

        <div class="create-pager" ng-show="pagination.totalItems > pagination.pageSize">
            <pagination
                total-items="pagination.totalItems"
                items-per-page="pagination.pageSize"
                page="pagination.currentPage"
                on-select-page="pagination.onPageChange(page, editUser)"
                direction-links="true"
                max-size="0">
            </pagination>
        </div>
    </div>
</div>

<div class="create-table-container">
	<table class="create-table">
		<thead>
			<tr>
				<th class="small-cell">&nbsp;</th>
				<th class="small-cell" ng-hide="search.contentStage === 'content'">&nbsp;</th>
				<th>
					<span class="clickable-header" ng-click="applySort('title')">Title</span>
					<span class="fa" ng-show="pagination.currentSort === 'title'" ng-class="'fa-sort-alpha-' + pagination.currentSortDirection"></span>
				</th>
				<th>
					<span class="clickable-header" ng-click="applySort('author')">Author</span>
					<span class="fa" ng-show="pagination.currentSort === 'author'" ng-class="'fa-sort-alpha-' + pagination.currentSortDirection"></span>
				</th>
				<th ng-hide="search.contentStage === 'concepts'">
					<span class="clickable-header" ng-click="applySort('persona')">Persona</span>
					<span class="fa" ng-show="pagination.currentSort === 'persona'" ng-class="'fa-sort-alpha-' + pagination.currentSortDirection"></span>
				</th>
				<th style="text-align: center;" ng-hide="search.contentStage === 'concepts'">
					<span class="clickable-header" ng-click="applySort('buyingStage')">Buying Stage</span>
					<span class="fa" ng-show="pagination.currentSort === 'buyingstage'" ng-class="'fa-sort-alpha-' + pagination.currentSortDirection"></span>
				</th>
				<th>
					<span class="clickable-header" ng-click="applySort('currentStep')">Current Step</span>
					<span class="fa" ng-show="pagination.currentSort === 'currentstep'" ng-class="'fa-sort-numeric-' + pagination.currentSortDirection"></span>
				</th>
				<th ng-show="search.contentStage === 'content'">
					<span class="clickable-header" ng-click="applySort('nextStep')">Next Step</span>
					<span class="fa" ng-show="pagination.currentSort === 'nextstep'" ng-class="'fa-sort-numeric-' + pagination.currentSortDirection"></span>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="c in pagedContent[pagination.currentPage - 1]" ng-class-odd="'dark'">
				<td class="small-cell"><div class="campaign-dot campaign-dot-small" ng-class="'campaign-dot-' + c.campaign.index()"></div></td>
				<td class="small-cell" ng-hide="search.contentStage === 'content'"><input type="checkbox" class="form-control" ng-model="c.isSelected" /></td>
				<td>
					<span class="cl-icon" ng-class="formatContentTypeIcon(c.contentType.name)"></span>
					{{ c.title }}
				</td>
				<td>
					<span class="user-image user-image-small" ng-style="{ 'background-image': c.author.image }"></span>
					{{ c.author.formatName() }}
				</td>
				<td ng-hide="search.contentStage === 'concepts'">{{ c.persona }}</td>
				<td style="text-align: center;" ng-hide="search.contentStage === 'concepts'"><span class="cl-icon" ng-class="'cl-icon-personas-' + c.buyingStage"></span></td>
				<td>
					<span class="cl-icon cl-icon-workflow" ng-class="formatWorkflowItem(c.currentStep())"></span>
					<a href="#" ng-click="handleCurrentStep(c)">
						<span ng-bind="formatWorkflowTitle(c.currentStep())"></span>
					</a>
				</td>
				<td ng-show="search.contentStage === 'content'">
					<a href="#" ng-click="handleNextStep(c)">
						<span ng-bind="formatWorkflowTitle(c.nextStep())"></span>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>