//------------------------------
// *****************************
// Dropdown
// *****************************
//------------------------------

// Variables

// Classes
.dropdown-menu {
  border: 1px solid #bac4da;
  padding-top: 0;
  padding-bottom: 0;
  min-width: 210px;
  overflow: hidden;

  > li {
    border-top: 1px solid #dadfeb;

    > a {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 6px;
      padding-bottom: 6px;
      font-weight: bold;
      font-family: $source-sans-pro;
      font-size: 13px;
    }
    
    > a:hover {
      background-color: #fbfcfd;
    }

    &:first-child {
      border-top: 0;
    }

    &:first-child {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    &:last-child > a {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    
    > a.active {
      position: relative;
      padding-right: 35px;
      color: #2482FF;
      
      &:after {
        content: "\e913";
        font-family: "icomoon";
        display: inline-block;
        width: 18px;
        height: 18px;
        line-height: 20px;
        background-color: #2482FF;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        font-size: 9px;
        position: absolute;
        right: 10px;
        top: 6px;
      }
      
      &:hover {
        background-color: #fff;
      }
    }
  }

  &:before, &:after {
    display: inline-block;
    content: ' ';
    position: absolute;

    width: 0;
    height: 0;
    border-style: solid;
  }

  &:before {
    top: -5px;
    left: 9px;
    border-width: 0 6px 5px 6px;
    border-color: transparent transparent #bac4da transparent;
  }
  &:after {
    top: -4px;
    left: 9px;
    border-width: 0 6px 5px 6px;
    border-color: transparent transparent #fbfcfd transparent;
  }
}

.dropdown-header {
  text-transform: uppercase;
  background: #fbfcfd;
  font-size: 11px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: #6C7785;
  letter-spacing: 1px;

  &.important {
    color: #6944b7;
  }
}

.dropdown-header-secondary {
  text-transform: uppercase;
  background: #fbfcfd;
  font-size: 10px;
  padding: 5px 10px;

  @include clearfix;
}

.dropdown-header-secondary-text {
  float: left;
  font-size: 12px;
  margin-right: 10px;
}

.dropdown-header-secondary-search {
  @extend .input;

  border: 0;
  width: 100%;
  padding: 5px 15px;
  background: url("../images/icons/magnifier.svg") no-repeat left 10px center;
  background-size: 15px;
  padding-left: 30px;
  font-family: $source-sans-pro;
  font-size: 12px;

  &:hover, &:focus {
    outline: none;
    border-bottom: 0;
  }
}

.dropdown-menu-right {
  &:before, &:after {
    left: auto;
  }
  &:before {
    right: 9px;
  }
  &:after {
    top: -4px;
    right: 9px;
  }
}
