//------------------------------
// *****************************
// Images
// *****************************
//------------------------------

.images-list {
  padding: 0;
  margin: 0;

  > li {
    position: relative;
    display: inline-block;
    list-style: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin-left: -5px;
    vertical-align: middle;

    &:first-child {
      margin-left: 0;
    }

    > img {
      max-width: 100%;
    }
  }
}

.loading-relative {
  margin: 20px auto;
  display: block;
  max-height: 50px;
}

.loading-gif {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  &#searchbar-loading-gif {
    display: none;
  }
}