//------------------------------
// *****************************
// Forms
// *****************************
//------------------------------

// Variables
$input-color: #392C46;
$input-border: solid #A7A1AD;
$input-border-focus: solid #837A8B;
$input-border-focus-color: #837A8B;
$input-strength-indicator-background: #f2f3f9;
$input-strength-indicator-progressbar: #f2b7b6;

// Classes
.input {
  @extend .form-control;

  border: none;
  border-bottom: 1px $input-border;
  box-shadow: none;
  border-radius: 0;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px;
  font-family: $source-sans-pro;
  color: $input-color;

  @include transition($base-transition);

  &:focus {
    outline: none;
    box-shadow: none;
    border-bottom: 1px $input-border-focus;
    box-shadow: 0 1px 0 $input-border-focus-color;
  }
  
  &.full {
    border: 1px $input-border;
    border-radius: 3px;
    height: 38px;
    padding-left: 12px;
    
    &:focus {
      border-color: #7D7586;
      box-shadow: none;
    }
  }
  
  &.input-area {
    min-height: 80px;
  }
}

.input-secondary {
  border: 1px solid #b8c1d8;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;

  &:focus {
    border: 1px $input-border-focus;
    box-shadow: none;
  }
}

.input-tertiary {
  border: 1px solid #a7a1ad;
  border-radius: 2px;
  font-size: 14px;
  font-family: $source-sans-pro;
  font-weight: normal;

  &:hover, &:focus {
    border: 1px solid $base-color-black;
  }
}

.input-calendar {
  background: url("../images/icons/calendar.svg") no-repeat right 10px center;
  background-size: 15px;
  padding-right: 30px;
}

.input-strength-indicator {
  height: 8px;
  background: $input-strength-indicator-background;
  margin-bottom: 10px;

  > span {
    display: block;
    background: $input-strength-indicator-progressbar;
    height: 100%;
    width: 0;
    
    @include transition($base-transition);
  }
}

.input-form-button {
  position: relative;
  display: table;
  width: 100%;
  border: 2px solid #b4bed6;
  border-collapse: separate;
  border-radius: 4px;

  > input {
    position: relative;
    display: table-cell;
    width: 100%;
    height: 38px;
    border: 0;
    padding: 0 15px;
    float: left;
    z-index: 2;
    margin-bottom: 0;
    vertical-align: top;
    font-size: 1.1em;

    &:hover, &:focus {
      outline: none; 
    }
  }
  
  &.prefixed {
    position: relative;
    
    > input {
      padding-left: 35px;
    }
    
    .picto {
      position: absolute;
      left: 12px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      opacity: .35;
    }
  }
}

.input-form-button-action {
  position: relative;
  display: table-cell;
  font-size: 0;
  white-space: nowrap;
  width: 1%;
  vertical-align: top;

  > button, > a {
    border: 0;
    border-left: 1px solid #b4bed6;
    background: #ffffff;
    font-family: $source-sans-pro;
    color: #6c7786;
    font-size: 14px;
    border-radius: 0;

    &:hover, &:focus {
      background: #6d7886;
      color: $base-color-white;
    }
  }
}


.additional-links {
  padding-top: 15px;
  
  .btn-text {
    color: rgba(0,0,0,.45);
    border-bottom: 1px solid rgba(0,0,0,.15);
    
    &:hover {
      color: #2482ff;
      border-bottom-color: #2482ff;
    }
  }
}
.additional-links p {
  color: rgba(0,0,0,.45);
}
