//------------------------------
// *****************************
// Panel
// *****************************
//------------------------------

// Variables
$panel-border-radius: 4px;

// Panel Classes

.panel {
  background: $base-color-white;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.1);
  border: 1px solid #dadfeb;
  border-radius: $panel-border-radius;

  &.max-height {
    height: 470px;
    overflow-y: auto;
  }
}

.panel-header {
  position: relative;
  height: 47px;
  background: $base-color-white;
  border-bottom: 1px solid #dadfeb;
  border-top-left-radius: $panel-border-radius;
  border-top-right-radius: $panel-border-radius;
}

.panel-header h4 {
  opacity: .75;
  font-size: 1.1em;
}
.panel-header h4.panel-sidebar-title-secondary {
  opacity: 1;
  font-size: 16px;
}


.panel-tabs {
  background: #f8f9fc;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  @include clearfix;



  > li {
    position: relative;
    display: inline-block;

    > a {
      display: block;
      height: 47px;
      line-height: 45px;
      padding: 0 15px;
      font-weight: bold;
      font-family: $source-sans-pro;
      font-size: 16px;
      color: #adacb3;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
    }

    &.active > a, &:hover > a, &:focus > a {
      background: #ffffff;
      color: $base-color-blue;
      text-decoration: none;
      /* border-top: 2px solid $base-color-blue; */
      box-shadow: 0 -2px $base-color-blue;
      border-left: 1px solid #dadfeb;
      border-right: 1px solid #dadfeb;
    }

    &.tablink {
      float: right;
      margin-right: 0;

      > a {
        padding-left: 6px;
        padding-right: 6px;
        color: #2480FF;
      }

      > a:hover {
        border-left-color: transparent;
        border-right-color: transparent;
        box-shadow: none;
        color: #6d7886;
      }
    }


  }

  &.spacing {
    padding: 0 15px;
  }

  &.withborder > li {
    margin-right: -4px;

    &:last-child {
      margin-right: 0;
    }

    > a {
      border-right: 1px solid #DADFEB;

      &:hover {
        background-color: rgba(255,255,255,.3);
        border-top-color: transparent;
      }
    }

    &.tablink {
    margin-right: 0;

      > a {
        border-radius: 0;
        border-right: none;
        color: #2480FF;

        &:hover {
          color: #6d7886;
        }
      }

    }

  }

  &.withtopborder {
    border-top: 1px solid #DADFEB;
  }

  &.smaller {
    background-color: transparent;

    > li {
      margin-right: -4px;

      &:last-child {
        margin-right: 0;
      }

      > a {
        height: 38px;
        line-height: 38px;
        font-size: 15px;
        background-color: #f8f9fc;
        border-color: #fff;
        min-width: 190px;
        text-align: center;
      }

      &.active {
        > a {
          background-color: #fff;
          border-color: #dadfeb;
          z-index: 2;
          position: relative;
        }
      }

    }
  }
  &.reduced-padding {
    li > a {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &.fullwidth {
    display: flex;

    > li {
      flex: 1;
    }
  }

}

.panel-tabs.withborder > .active a:hover {
  background-color: #fff;
}

.panel-options {
  padding: 7px 15px;
}

.panel-tabs-link {
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  border: 0;
  background: none;
  color: $base-color-blue;
  font-family: $source-sans-pro;
  font-weight: normal;
  font-size: 16px;
  line-height: 47px;
  font-size: 14px;

  &:hover, &:focus {
    text-decoration: underline;
    color: $base-color-blue;
  }

  .icon-arrow-right {
    font-size: .7em;
    margin-left: 4px;
  }
}

.panel-container {
  padding: 15px;

  &.padded {
    padding: 40px 15px;
  }
  &.bottompadded {
    padding-bottom: 40px;
  }
  &.relative {
    position: relative;
  }
  &.halfpadding {
    padding: 15px 8px;
  }
  &.nopadding {
    padding: 0;
  }
}

.panel-container .intro {
  line-height: 1.2em;
  opacity: .65;
}

.panel-container .inner {
  max-width: 900px;
  margin: 0 auto;
}
.panel-container .inner.wide {
  max-width: 1100px;
  margin: 0 auto;
}

.panel-heading {
  padding: 5px;
  margin: -15px -15px 15px -15px;
  background: #f8f9fc;
  font-family: $source-sans-pro;
  border-radius: 0;
}

.panel-separator {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 20px;
  border-top: 1px solid #dadfeb;
  padding: 15px 15px 0 15px;

  &.noline {
    border-top: none;
  }
  &.negative {
    margin-top: -15px;
  }
}

.panel-separator-vertical {
  border-left: 1px solid #dadfeb;

  &:first-child {
    border-left: 0;
  }
}

.panel-main {
  float: left;
  width: 75%;
  border-right: 1px solid #dadfeb;

  &.left-separator {
    border-left: 1px solid #dadfeb;
    border-right: 0;
  }
}

.panel-sidebar {
  float: left;
  width: 25%;
  border-left: 1px solid #dadfeb;
  margin-left: -1px;

  &.right-separator {
    border-right: 1px solid #dadfeb;
    margin-right: -1px;
    margin-left: 0;
    border-left: 0;
  }
}

.panel-sidebar-title {
  font-family: $source-sans-pro;
  font-size: 16px;
  font-weight: bold;
  color: #797682;
  margin: 0;
  height: 47px;
  line-height: 47px;
  vertical-align: middle;
  padding: 0 15px;
  background: #f8f9fc;
  border-bottom: 1px solid #dadfeb;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  p {
    margin-bottom: 0;
  }
}

.panel-container-title {
  font-family: $source-sans-pro;
  font-size: 16px;
  font-weight: bold;
  color: #797682;
  margin: 0;
  height: 47px;
  line-height: 47px;
  vertical-align: middle;
  padding: 0 15px;
  background: #f8f9fc;
  border-bottom: 1px solid #dadfeb;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  p {
    margin-bottom: 0;
  }
}

.panel-container-options {
  background: #f8f9fc;
  border-bottom: 1px solid #e4e8f1;
  padding: 5px 15px;

  &.white {
    background: #ffffff;
  }
}

.panel-sidebar-title-secondary {
  font-family: $source-sans-pro;
  font-size: 16px;
  font-weight: bold;
  color: $base-color-blue;
  margin: 0;
  height: 47px;
  line-height: 47px;
  vertical-align: middle;
  padding: 0 15px;
  background: $base-color-white;
  border-bottom: 1px solid #dadfeb;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  opacity: 1;

  @include clearfix;

  > a {
    display: block;
    float: right;
    font-size: 13px;
    font-weight: bold;
    color: #b0acb7;
    text-transform: uppercase;
  }
}

.panel-sidebar .panel-tabs li:first-child {
  margin-left: -1px;
}

.sidepanel {
  padding: 20px 10px;
  padding-bottom: 15px;

  &.nopadding {
    padding: 0;
  }
}


.height-full {
  height: 420px;
  overflow-y: auto;
  overflow-x: hidden;
}
.height-double {
  height: 840px;
  overflow-y: auto;
  overflow-x: hidden;
}
.height-spec1 {
  min-height: 634px;
  overflow-y: auto;
}

.page-head {
  margin: 0;
  font-size: 1.3em;
  line-height: 1.1em;
  margin-bottom: 14px;
  margin-top: -6px;
}

.vertically-middle {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.comments-panel {
  padding: 30px;
}
