//------------------------------
// *****************************
// Popover
// *****************************
//------------------------------

.popover-icon {
  color: $base-color-purple;
}

.popover {
  border-radius: 3px;
  border: 1px solid #dadfeb;
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.5);

  &.bottom {

    > .arrow {
      border-width: 5px;
      margin-left: -5px;

      &:after {
        border-width: 5px;
        top: -4px;
        margin-left: -5px;
      }
    }
  }
}

.popover-title {
  color: $base-color-purple;
  background: none;
  font-family: $source-sans-pro;
  font-size: 14px;
  border-bottom: 0;
  padding: 15px 15px 0;
}

.popover-content {
  color: #7e7687;
  font-family: $source-sans-pro;
  font-size: 14px;
}
