//------------------------------
// *****************************
// Radio Button
// *****************************
//------------------------------

// Variables

// Classes
.radio-primary {
  position: relative;
  margin-bottom: 5px;

  > input[type="radio"] {
    display: none;
    visibility: hidden;
  }

  > span {
    display: inline-block;
    height: 20px;
    font-family: $source-sans-pro;
    font-weight: normal;
    font-size: 15px;
    padding-left: 22px;
    vertical-align: middle;
    cursor: pointer;
    color: #392c46;
    text-transform: none;

    &:before {
      content: " ";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      display: inline-block;
      width: 15px;
      height: 15px;
      box-shadow: 0 0 0 1px #e0dee2;
      border: 3px solid #ffffff;
      background: $base-color-white;
      border-radius: 50%;

      @include transition(0.2s);
    }
  }

  &:hover > span:before {
    box-shadow: 0 0 0 1px $base-color-blue;
  }

  > input[type="radio"]:checked + span:before {
    content: " ";
    box-shadow: 0 0 0 1px $base-color-blue;
    border-color: $base-color-blue;
    background: $base-color-white;
  }
}

.radio-secondary {
  position: relative;
  margin-bottom: 5px;

  > input[type="radio"] {
    display: none;
    visibility: hidden;
  }

  > span {
    display: inline-block;
    height: 20px;
    font-family: $source-sans-pro;
    font-weight: normal;
    font-size: 15px;
    padding-left: 22px;
    vertical-align: middle;
    cursor: pointer;
    color: #392c46;
    text-transform: none;

    &:before {
      content: " ";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      display: inline-block;
      width: 15px;
      height: 15px;
      box-shadow: 0 0 0 1px #e0dee2;
      border: 3px solid #ffffff;
      background: $base-color-white;
      border-radius: 50%;

      @include transition(0.2s);
    }
  }

  &:hover > span:before {
    box-shadow: 0 0 0 1px $base-color-blue;
  }

  > input[type="radio"]:checked + span:before {
    box-shadow: 0 0 0 1px $base-color-blue;
    border-color: $base-color-white;
    background: $base-color-blue;
  }
}
