//------------------------------
// *****************************
// Table Row
// *****************************
//------------------------------

.table-row {
  display: table;
  table-layout: auto;
  border-bottom: 1px solid #fbfcfd;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.table-cell-top {
  vertical-align: top;
}
