//------------------------------
// *****************************
// Tags
// *****************************
//------------------------------

// Variables

// Classes
.tag {
  display: inline-block;
  font-family: $source-sans-pro;
  font-size: 12px;
  font-weight: normal;
  color: #000;
  border-radius: 2px;
  background: #ffffff;
  padding: 1px 3px;
  margin: 3px;
}

.tag-primary {
  background: $base-color-lightest-purple;
  color: #372c49;

  .tag-remove {
    color: #a09baa;
  }
}

.tag-secondary {
  background: #9fa6b0;
  color: $base-color-white;

  .tag-remove {
    color: $base-color-white;
  }
}

.tag-remove {
  display: inline-block;
  font-size: 8px;
  margin: 0 3px;
  color: #000;

  &:hover, &:focus {
    text-decoration: none;
  }
}
