//------------------------------
// *****************************
// Tombstone
// *****************************
//------------------------------

.tombstone {
  position: relative;
  border: 1px solid #dadfeb;
  border-radius: 2px;
  width: 100%;
  background: $base-color-white;
  cursor: pointer;
  margin-bottom: 20px;

  @include transition(0.2s);
}

.tombstone-horizontal {
  display: table;

  > .tombstone-image {
    width: 180px;
    height: 125px;
  }

  > .tombstone-image,
  > .tombstone-container {
    display: table-cell;
    vertical-align: top;
  }
}

.tombstone-active {
  border: 2px solid #a7cdff;
  background: #f1f3fa;

  .tombstone-cell > i {
    background: #f1f3fa;
  }

  &:before {
    position: absolute;
    top: 10px;
    left: 10px;
    display: inline-block;
    content: '\e913';
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #2482ff;
    z-index: 10;
    border-radius: 50%;
    color: #ffffff;
    font-size: 8px;
    font-family: $icon-fonts !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.tombstone-container {
  padding: 15px;

  > h3 {
    font-family: $source-sans-pro;
    font-weight: bold;
    color: #1d1131;
    margin-top: 0;
    font-size: 18px;
  }

  > p {
    color: #716c79;
    font-size: 15px;
    font-family: $source-sans-pro;
    font-weight: normal;
  }

  &.horizontal {
    float: left;
  }
}

.tombstone-image {
  position: relative;
  overflow: hidden;
  height: 180px;

  > img {
    display: block;
    @include center-both;
  }

  > span {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: inline-block;
    font-family: $source-sans-pro;
    font-size: 11px;
    color: #ffffff;
    font-weight: normal;
    background: rgba(0, 0, 0, 0.7);
    padding: 3px 5px;
    border-radius: 2px;
  }

  &.horizontal {
    float: left;
    width: 180px;
  }
}

.tombstone-social {
  display: table;
  width: 100%;
}

.tombstone-cell {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 10px 5px;
  border-top: 1px solid #e3e7f0;
  border-left: 1px solid #e3e7f0;
  font-family: $source-sans-pro;
  font-size: 18px;
  color: #4a525b;

  > i {
    display: inline-block;
    position: absolute;
    top: -8px;
    left: 50%;
    margin-left: -6px;
    font-size: 12px;
    background: #ffffff;
    padding: 2px;
    color: #c3c8d2;
  }

  &:first-child {
    width: 30%;
    border-left: 0;
  }
}
