//------------------------------
// *****************************
// 404 Page
// *****************************
//------------------------------

.landing-hero.four-oh-four{
  width: 300px;
  margin: auto;
  > img{
    width: 300px
  }
}