//------------------------------
// *****************************
// OnBoarding Container
// *****************************
//------------------------------

// Workspace Variables
$onboarding-container-background: #ffffff;

// Workspace Classes
.onboarding-container {
  background: $onboarding-container-background;
  padding: 30px;
}
