//------------------------------
// *****************************
// OnBoarding Text
// *****************************
//------------------------------

// Workspace Variables
$onboarding-heading-color: #554f60;
$onboarding-welcome-text-color: #bcbabf;

// Workspace Classes
.onboarding-heading {
  font-family: $source-sans-pro;
  color: $onboarding-heading-color;
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.onboarding-text {
  color: $onboarding-welcome-text-color;
  font-size: 16px;
  font-family: $source-sans-pro;
}

.onboarding-notification-text {
  position: relative;
  color: #392c46;
  padding-left: 25px;

  > i {
    position: absolute;
    top: 3px;
    left: 5px;
    color: #ccd0d5;
  }
}
