<div class="btn-group">
	<a href="/measure" class="btn btn-default" ng-class="{ active: (selectedTab === 'overview') }">Overview</a>
	<a href="/measure/creation-stats" class="btn btn-default" ng-class="{ active: (selectedTab === 'creation-stats') }">Creation Stats</a>
	<a href="/measure/content-trends" class="btn btn-default" ng-class="{ active: (selectedTab === 'content-trends') }">Content Trends</a>
	<a href="/measure/content-details" class="btn btn-default" ng-class="{ active: (selectedTab === 'content-details') }">Content Details</a>
	<a href="/measure/marketing-automation" class="btn btn-default" ng-class="{ active: (selectedTab === 'marketing-automation') }">Marketing Automation</a>
</div>
