<div class="view measure" ng-show="!isLoading">
	<div class="col-md-3 left-pane"></div>
	<div class="col-md-9 right-pane">
		<h2 class="right-pane-header">Measure</h2>

		<div class="measure-editor row">
			<div class="measure-header" ng-include="'/assets/views/measure/measure-navigation.html'"></div>
			
			<div class="measure-creation-stats">
				<div class="row">
					<div class="col-md-7">
						<div class="measure-sub-header">
							Total Content

							<select class="form-control" ng-model="contentCreatedLineChartGroupBy">
								<option value="all">All Content</option>
								<option value="author">By Author</option>
								<option value="buying-stage">By Buying Stage</option>
								<option value="content-type">By Content Type</option>
							</select>

							<select class="form-control" ng-model="contentCreatedLineChartTime">
								<option value="7">7 Days</option>
								<option value="14">14 Days</option>
								<option value="30">30 Days</option>
								<option value="Q">Quarter to Date</option>
								<option value="Y">Year to Date</option>
								<option value="A">Earliest to Date</option>
							</select>
						</div>

						<div class="measure-graph">
                            <wijmo-line-chart info="contentCreatedLine" days="contentCreatedLineChartTime" group="contentCreatedLineChartGroupBy"></wijmo-line-chart>
						</div>
					</div>
					<div class="col-md-5">
						<div class="measure-sub-header">
							Total Content
			
							<select class="form-control" ng-model="contentCreatedPieChartGroupBy">
								<option value="author">By Author</option>
								<option value="buying-stage">By Buying Stage</option>
								<option value="content-type">By Content Type</option>
							</select>
						</div>
		
						<div class="measure-graph">
                            <wijmo-pie-chart info="contentCreatedPie" group="contentCreatedPieChartGroupBy"></wijmo-pie-chart>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-7">
						<div class="measure-sub-header">
							New Content Launched

							<select class="form-control" ng-model="contentLaunchedBarChartGroupBy">
								<option value="all">All Content</option>
								<option value="author">By Author</option>
								<option value="buying-stage">By Buying Stage</option>
								<option value="content-type">By Content Type</option>
							</select>

							<select class="form-control" ng-model="contentLaunchedBarChartTime">
								<option value="7">7 Days</option>
								<option value="14">14 Days</option>
								<option value="30">30 Days</option>
								<option value="Q">Quarter to Date</option>
								<option value="Y">Year to Date</option>
								<option value="A">Earliest to Date</option>
							</select>
						</div>
		
						<div class="measure-graph">
                            <wijmo-bar-chart info="contentLaunched" days="contentLaunchedBarChartTime" group="contentLaunchedBarChartGroupBy"></wijmo-bar-chart>
						</div>
					</div>
					<!--<div class="col-md-5">-->
						<!--<div class="measure-sub-header">Concept Conversion</div>-->
		<!---->
						<!--<div class="measure-graph">-->
							<!--CONTENT HERE-->
						<!--</div>-->
					<!--</div>-->
				</div>
				<div class="row">
					<div class="col-md-7">
						<div class="measure-sub-header">
							Average Production Days
			
							<select class="form-control" ng-model="productionDaysLineChartGroupBy">
								<option value="all">All Content</option>
								<option value="author">By Author</option>
								<option value="buying-stage">By Buying Stage</option>
								<option value="content-type">By Content Type</option>
							</select>

							<select class="form-control" ng-model="productionDaysLineChartTime">
								<option value="30">30 Days</option>
								<option value="Q">Quarter to Date</option>
								<option value="Y">Year to Date</option>
								<option value="A">Earliest to Date</option>
							</select>
						</div>
		
						<div class="measure-graph">
                            <wijmo-line-chart info="productionDays" days="productionDaysLineChartTime" group="productionDaysLineChartGroupBy"></wijmo-line-chart>
						</div>
					</div>
					<!--<div class="col-md-5">-->
						<!--<div class="measure-sub-header">-->
							<!--Deadline Success-->
						<!--</div>-->
		<!---->
						<!--<div class="measure-graph">-->
							<!--CONTENT HERE-->
						<!--</div>-->
					<!--</div>-->
				</div>
			</div>
		</div>
	</div>
</div>

<div class="loading-spinner-container" ng-show="isLoading">
	<spinner spin="{ length: 50, width: 10, radius: 30 }"></spinner>
</div>