<div class="row">
	<div class="col-md-7">
		<div class="measure-sub-header">
			Total Content

			<select class="form-control" ng-model="pageSettings.creationStats.contentCreatedLineChartGroupBy">
				<option value="all">All Content</option>
				<option value="author">By Author</option>
				<option value="buying-stage">By Buying Stage</option>
				<option value="content-type">By Content Type</option>
			</select>

			<select class="form-control" ng-model="pageSettings.creationStats.contentCreatedLineChartTime">
				<option value="7">7 Days</option>
				<option value="14">14 Days</option>
				<option value="30">30 Days</option>
				<option value="Q">Quarter to Date</option>
				<option value="Y">Year to Date</option>
				<option value="A">Earliest to Date</option>
			</select>
		</div>
		
		<div class="measure-graph">
			GRAPH CONTENT HERE
		</div>
	</div>
	<div class="col-md-5">
		<div class="measure-sub-header">
			Total Content
			
			<select class="form-control" ng-model="pageSettings.creationStats.contentCreatedPieChart">
				<option value="author">By Author</option>
				<option value="buying-stage">By Buying Stage</option>
				<option value="content-type">By Content Type</option>
			</select>
		</div>
		
		<div class="measure-graph">
			GRAPH CONTENT HERE
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-7">
		<div class="measure-sub-header">
			New Content Launched

			<select class="form-control" ng-model="pageSettings.creationStats.contentLaunchedLineChartGroupBy">
				<option value="all">All Content</option>
				<option value="author">By Author</option>
				<option value="buying-stage">By Buying Stage</option>
				<option value="content-type">By Content Type</option>
			</select>

			<select class="form-control" ng-model="pageSettings.creationStats.contentLaunchedLineChartTime">
				<option value="7">7 Days</option>
				<option value="14">14 Days</option>
				<option value="30">30 Days</option>
				<option value="Q">Quarter to Date</option>
				<option value="Y">Year to Date</option>
				<option value="A">Earliest to Date</option>
			</select>
		</div>
		
		<div class="measure-graph">
			GRAPH CONTENT HERE
		</div>
	</div>
	<div class="col-md-5">
		<div class="measure-sub-header">Concept Conversion</div>
		
		<div class="measure-graph">
			CONTENT HERE
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-7">
		<div class="measure-sub-header">
			Average Production Days
			
			<select class="form-control" ng-model="pageSettings.creationStats.productionDaysLineChartGroupBy">
				<option value="all">All Content</option>
				<option value="author">By Author</option>
				<option value="buying-stage">By Buying Stage</option>
				<option value="content-type">By Content Type</option>
			</select>

			<select class="form-control" ng-model="pageSettings.creationStats.productionDaysLineChartTime">
				<option value="30">30 Days</option>
				<option value="Q">Quarter to Date</option>
				<option value="Y">Year to Date</option>
				<option value="A">Earliest to Date</option>
			</select>
		</div>
		
		<div class="measure-graph">
			GRAPH CONTENT HERE
		</div>
	</div>
	<div class="col-md-5">
		<div class="measure-sub-header">
			Deadline Success
		</div>
		
		<div class="measure-graph">
			CONTENT HERE
		</div>
	</div>
</div>