<div class="view measure" ng-show="!isLoading">
	<div class="col-md-3 left-pane">
		<div class="measure-score-container">
				<div class="measure-score-container-score">85</div>
				Content Score
		</div>
	</div>
	<div class="col-md-9 right-pane">
		<h2 class="right-pane-header">Measure</h2>
		
		<div class="measure-editor row">
			<div class="measure-header">
				<a href="/measure/content-details" class="btn btn-default">View All Content</a>
			</div>

			<div class="measure-content-item" ng-if="!!selectedContent">
				<div class="control-group">
					<div class="form-group form-group-wide">
						<label class="control-label" for="selSelectedContent">Content</label>
						<select id="selSelectedContent" name="selSelectedContent" class="form-control" ng-model="selectedContent"
							ng-options="value as value.title for value in content" ng-change="changeContent(selectedContent)">
						</select>
					</div>
				</div>

				<div class="control-group">
					<div class="form-group form-group-narrow">
						<label class="control-label">Content Type</label>
						<div class="form-control" disabled="disabled">
							<span class="{{ getContentTypeIconClass(selectedContent.contentType.name) }}"></span>
							<span>{{ selectedContent.contentType.title }}</span>
						</div>
					</div>
					<div class="form-group form-group-narrow">
						<label class="control-label">Author</label>
						<div class="form-control" disabled="disabled">
							<span class="user-image user-image-small" ng-style="{ 'background-image': selectedContent.author.image }"></span>
							<span>{{ selectedContent.author.formatName() }}</span>
						</div>
					</div>
					<div class="form-group form-group-narrow">
						<label class="control-label">Campaign</label>
						<div class="form-control" disabled="disabled">
							<span class="campaign-dot campaign-dot-small" style="background-color: {{ selectedContent.campaign.color }}"></span>
							<span>{{ selectedContent.campaign.title }}</span>
						</div>
					</div>
				</div>
				
				<div class="measure-sub-header">
					Totals
				</div>
				
				<div class="measure-graph">
					TOTALS HERE
				</div>
				
				<div class="measure-sub-header">
					Metrics Breakdown
				</div>
				
				<div class="measure-graph">
					METRICS BREAKDOWN HERE
				</div>
			</div>

			<div class="measure-footer">
				<a href="/create/content/edit/{{ selectedContent.id }}" type="button" class="btn btn-lg btn-default btn-launch dropdown-toggle">
					<span class="cl-icon cl-icon-white cl-icon-workflow-launch"></span>
					<span ng-show="!content.archived">LAUNCH TO MORE</span>
				</a>
				
				<a href="/promote/content/{{ selectedContent.id }}" type="button" class="btn btn-lg btn-default btn-promote dropdown-toggle">
					<span class="cl-icon cl-icon-white cl-icon-workflow-promote"></span>
					<span>VIEW IN PROMOTE</span>
				</a>
			</div>
		</div>
	</div>
</div>

<div class="loading-spinner-container" ng-show="isLoading">
	<spinner spin="{ length: 50, width: 10, radius: 30 }"></spinner>
</div>