<form name="editAccount" class="account-editor" novalidate="novalidate">
	<h2>Account Settings</h2>

	<div class="control-group">
		<div class="form-group" ng-class="{ 'has-error': errorState('title', editAccount.txtAccountName) }">
			<label class="control-label" for="txtAccountName">
				Account Name
				<span class="error-message" error-message message="errorMessage('title', editAccount.txtAccountName)"></span>
			</label>
			<input type="text" id="txtAccountName" name="txtAccountName" class="form-control" ng-model="selectedAccount.title" />
		</div>
		<div class="form-group" ng-class="{ 'has-error': errorState('active', editAccount.selStatus) }">
			<label class="control-label" for="selStatus">
				Status
				<span class="error-message" error-message message="errorMessage('active', editAccount.selStatus)"></span>
			</label>
			<span ng-bind="selectedAccount.active"></span>
			<select id="selStatus" name="selStatus" class="form-control" ng-model="selectedAccount.active" ng-disabled="selfEditing">
				<option value="true" ng-selected="selectedAccount.active === true">Active</option>
				<option value="false" ng-selected="selectedAccount.active !== true">Inactive</option>
			</select>
		</div>
		<div class="form-group" ng-hide="selfEditing">
			<a href="#" ng-click="impersonateAccount()">Login as {{ selectedAccount.title }} Site Admin</a>
		</div>
	</div>

	<div class="control-group">
		<div class="form-group" ng-class="{ 'has-error': errorState('address1', editAccount.txtAddress1) }">
			<label class="control-label" for="txtAddress1">
				Address 1
				<span class="error-message" error-message message="errorMessage('address1', editAccount.txtAddress1)"></span>
			</label>
			<input type="text" id="txtAddress1" name="txtAddress1" class="form-control" ng-model="selectedAccount.address1" />
		</div>
		<div class="form-group">
			<label class="control-label" for="txtAddress2">Address 2</label>
			<input type="text" id="txtAddress2" name="txtAddress2" class="form-control" ng-model="selectedAccount.address2" />
		</div>
		<div class="form-group" ng-class="{ 'has-error': errorState('city', editAccount.txtCity) }">
			<label class="control-label" for="txtCity">
				City
				<span class="error-message" error-message message="errorMessage('city', editAccount.txtCity)"></span>
			</label>
			<input type="text" id="txtCity" name="txtCity" class="form-control" ng-model="selectedAccount.city" />
		</div>
	</div>

	<div class="control-group">
		<div class="form-group" ng-class="{ 'has-error': errorState('country', editAccount.selCountry) }">
			<label class="control-label" for="selCountry">
				Country
				<span class="error-message" error-message message="errorMessage('country', editAccount.selCountry)"></span>
			</label>
			<select id="selCountry" name="selCountry" class="form-control" ng-model="selectedAccount.country">
				<option value="Australia">Australia</option>
				<option value="Canada">Canada</option>
				<option value="UK">UK</option>
				<option value="USA">USA</option>
			</select>
		</div>
		<div class="form-group" ng-class="{ 'has-error': errorState('state', editAccount.selState) }">
			<label class="control-label" for="selState">
				State
				<span class="error-message" error-message message="errorMessage('state', editAccount.selState)"></span>
			</label>
			<select id="selState" name="selState" class="form-control" ng-model="selectedAccount.state" ng-options="s.name for s in getStates(false) track by s.value"></select>
		</div>
		<div class="form-group" ng-class="{ 'has-error': errorState('postalCode', editAccount.txtPostalCode) }">
			<label class="control-label" for="txtPostalCode">
				Postal Code
				<span class="error-message" error-message message="errorMessage('postalCode', editAccount.txtPostalCode)"></span>
			</label>
			<input type="text" id="txtPostalCode" name="txtPostalCode" class="form-control" ng-model="selectedAccount.postalCode" />
		</div>
	</div>

	<div class="control-group">
		<div class="form-group" ng-class="{ 'has-error': errorState('email', editAccount.txtEmail) }">
			<label class="control-label" for="txtEmail">
				Email
				<span class="error-message" error-message message="errorMessage('email', editAccount.txtEmail)"></span>
			</label>
			<input type="text" required="required" id="txtEmail" name="txtEmail" class="form-control" ng-model="selectedAccount.email" />
		</div>
		<div class="form-group" ng-class="{ 'has-error': errorState('phoneNumber', editAccount.txtPhoneNumber) }">
			<label class="control-label" for="txtPhoneNumber">
				Phone
				<span class="error-message" error-message message="errorMessage('phoneNumber', editAccount.txtPhoneNumber)"></span>
			</label>
			<input type="text" id="txtPhoneNumber" name="txtPhoneNumber" class="form-control" ng-model="selectedAccount.phoneNumber" />
		</div>
		<div class="form-group" ng-hide="selfEditing">
			<a href="#" ng-click="resendAccountCreationEmail()">Resend Account Creation Email</a>
		</div>
	</div>

	<h2>Subscription Info</h2>
	
	<div class="row">
		<div class="col-md-6">
			<div class="control-group">
				<div class="form-group" ng-class="{ 'has-error': errorState('subscription', editAccount.selSubscription) }">
					<label class="control-label" for="selSubscription">
						Subscription Level
						<span class="error-message" error-message message="errorMessage('subscription', editAccount.selSubscription)"></span>
					</label>
					<select id="selSubscription" name="selSubscription" class="form-control" ng-model="selectedAccount.subscription.id" ng-change="selectedAccount.subscription.changeTier()">
						<option value="1">Tier 1</option>
						<option value="2">Tier 2</option>
						<option value="3">Tier 3</option>
					</select>
				</div>
			</div>
			
			<div class="control-group">
				<label class="radio-inline"><input type="radio" name="radPaymentPeriod" id="radMonthly" ng-value="false" ng-model="selectedAccount.subscription.yearlyPayment" ng-change="selectedAccount.subscription.changePaymentPeriod()" />Monthly Payment</label>
				<label class="radio-inline"><input type="radio" name="radPaymentPeriod" id="radYearly" ng-value="true" ng-model="selectedAccount.subscription.yearlyPayment" ng-change="selectedAccount.subscription.changePaymentPeriod()" />Yearly Payment (10% discount)</label>
			</div>

			<div class="control-group">
				<div class="checkbox">
					<label class="control-label" for="chkAutoRenew">
						<input type="checkbox" id="chkAutoRenew" ng-model="selectedAccount.subscription.autoRenew" ng-change="toggleSubscription()" />
						Account Auto Renew
					</label>
				</div>
			</div>
			
			<div class="control-group">
				Account Renew/Expiration Date: <span ng-bind="selectedAccount.subscription.formattedExpirationDate()"></span>
			</div>
			
			<div class="control-group">
				<div class="form-group" ng-class="{ 'has-error': errorState('numberLicenses', editAccount.txtMaxNumUsers) }" ng-hide="selfEditing">
					<label class="control-label" for="txtMaxNumUsers">
						Max # of Users
						<span class="error-message" error-message message="errorMessage('numberLicenses', editAccount.txtMaxNumUsers)"></span>
					</label>
					<input type="text" required="required" id="txtMaxNumUsers" name="txtMaxNumUsers" class="form-control" ng-model="selectedAccount.subscription.numberLicenses" ng-disabled="selfEditing" />
				</div>
				
				<div ng-show="selfEditing">
					<button type="button" class="btn btn-default" ng-show="!selectedAccount.subscription.autoRenew" ng-click="renewAccount()">Renew Account</button>
					<button type="button" class="btn btn-default" ng-click="cancelAccount()">Cancel Account</button>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div tier-components selected-subscription="selectedAccount.subscription"></div>
		</div>
	</div>

	<h2>Payment Info</h2>
	
	<div class="control-group">
		<label class="radio-inline"><input type="radio" name="radPaymentMethod" id="radCreditCard" ng-value="'CC'" ng-model="selectedAccount.subscription.paymentType" />Credit Card</label>
		<label class="radio-inline"><input type="radio" name="radPaymentMethod" id="radACH" ng-value="'ACH'" ng-model="selectedAccount.subscription.paymentType" />ACH</label>
	</div>
	
	<div ng-show="selectedAccount.subscription.paymentType === 'CC'">
		<div class="control-group">
			<div class="form-group">
				<label class="control-label" for="txtNameOnCard">Name on Card</label>
				<input type="text" id="txtNameOnCard" name="txtNameOnCard" class="form-control" ng-model="selectedAccount.creditCard.nameOnCard" />
			</div>
			<div class="form-group">
				<label class="control-label" for="txtCardNumber">Card Number</label>
				<input type="text" id="txtCardNumber" name="txtCardNumber" class="form-control" ng-model="selectedAccount.creditCard.cardNumber" />
			</div>
		</div>

		<div class="control-group">
			<div class="form-group">
				<label class="control-label" for="txtCVCNumber">CVC</label>
				<input type="text" id="txtCVCNumber" name="txtCVCNumber" class="form-control" ng-model="selectedAccount.creditCard.cvc" />
			</div>
			<div class="form-group">
				<label class="control-label" for="selExpirationMonth">Expir. Month</label>
				<select id="selExpirationMonth" name="selExpirationMonth" class="form-control" ng-model="selectedAccount.creditCard.expirationDateMonth">
					<option value="1">Jan</option>
					<option value="2">Feb</option>
					<option value="3">Mar</option>
					<option value="4">Apr</option>
					<option value="5">May</option>
					<option value="6">Jun</option>
					<option value="7">Jul</option>
					<option value="8">Aug</option>
					<option value="9">Sep</option>
					<option value="10">Oct</option>
					<option value="11">Nov</option>
					<option value="12">Dec</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label" for="selExpirationYear">Expir. Year</label>
				<select id="selExpirationYear" name="selExpirationYear" class="form-control" ng-model="selectedAccount.creditCard.expirationDateYear"></select>
			</div>
		</div>
	
		<div class="control-group">
			<div class="form-group">
				<label class="control-label" for="txtCCAddress1">Address 1</label>
				<input type="text" id="txtCCAddress1" name="txtCCAddress1" class="form-control" ng-model="selectedAccount.creditCard.address1" />
			</div>
			<div class="form-group">
				<label class="control-label" for="txtCCAddress2">Address 2</label>
				<input type="text" id="txtCCAddress2" name="txtCCAddress2" class="form-control" ng-model="selectedAccount.creditCard.address2" />
			</div>
		</div>
	
		<div class="control-group">
			<div class="form-group">
				<label class="control-label" for="txtCCCity">City</label>
				<input type="text" id="txtCCCity" name="txtCCCity" class="form-control" ng-model="selectedAccount.creditCard.city" />
			</div>
			<div class="form-group">
				<label class="control-label" for="selCCCountry">Country</label>
				<select id="selCCCountry" name="selCCCountry" class="form-control" ng-model="selectedAccount.creditCard.country">
					<option value="Australia">Australia</option>
					<option value="Canada">Canada</option>
					<option value="UK">UK</option>
					<option value="USA">USA</option>
				</select>
			</div>
		</div>
	
		<div class="control-group">
			<div class="form-group">
				<label class="control-label" for="selCCState">State</label>
				<select id="selCCState" name="selCCState" class="form-control" ng-model="selectedAccount.creditCard.state" ng-options="s.name for s in getStates(true) track by s.value"></select>
			</div>
			<div class="form-group">
				<label class="control-label" for="txtCCPostalCode">Postal Code</label>
				<input type="text" id="txtCCPostalCode" name="txtCCPostalCode" class="form-control" ng-model="selectedAccount.creditCard.postalCode" />
			</div>
		</div>
	</div>
	
	<div ng-show="selectedAccount.subscription.paymentType === 'ACH'">
		<div class="control-group">
			<div class="form-group">
				<label class="control-label" for="txtBankName">Bank Name</label>
				<input type="text" id="txtBankName" name="txtBankName" class="form-control" ng-model="selectedAccount.bankAccount.bankName" />
			</div>
			<div class="form-group">
				<label class="control-label" for="txtRoutingNumber">Routing Number</label>
				<input type="text" id="txtRoutingNumber" name="txtRoutingNumber" class="form-control" ng-model="selectedAccount.bankAccount.routingNumber" />
			</div>
		</div>
		
		<div class="control-group">
			<div class="form-group">
				<label class="control-label" for="txtAccountNumber">Account Number</label>
				<input type="text" id="txtAccountNumber" name="txtAccountNumber" class="form-control" ng-model="selectedAccount.bankAccount.accountNumber" />
			</div>
		</div>
	</div>

	<div class="control-group btn-toolbar">
		<button type="button" class="btn btn-default ladda-button" ng-click="saveAccount(editAccount)" data-style="zoom-in" ladda-button="isSaving">
			<span class="ladda-label">Save</span>
		</button>
		<button type="button" class="btn btn-default" ng-click="cancelEdit(editAccount)" ng-show="!!creatingNew">Cancel</button>
		<button type="button" class="btn btn-default" ng-click="deleteAccount(editAccount)" ng-show="!creatingNew && !selfEditing">Delete</button>
	</div>
</form>