<form name="editAccount" class="account-editor" novalidate="novalidate">
	<div class="control-group">
		<div class="form-group" ng-class="{ 'has-error': hasError(selectedAccount, 'title', editAccount.txtAccountName, forceDirty) }">
			<label class="control-label" for="txtAccountName">Account Name</label>
			<input type="text" id="txtAccountName" name="txtAccountName" class="form-control" ng-model="selectedAccount.title"
					error-message message="errorMessage(selectedAccount, 'title', editAccount.txtAccountName)" />
		</div>
		<div class="form-group" ng-class="{ 'has-error': hasError(selectedAccount, 'active', editAccount.selStatus, forceDirty) }">
			<label class="control-label" for="selStatus">Status</label>
			<select id="selStatus" name="selStatus" class="form-control" ng-model="selectedAccount.active" ng-disabled="selfEditing"
					error-message message="errorMessage(selectedAccount, 'active', editAccount.selStatus)">
				<option value="true" ng-selected="selectedAccount.active === true">Active</option>
				<option value="false" ng-selected="selectedAccount.active !== true">Inactive</option>
			</select>
		</div>
		<div class="form-group" ng-hide="selfEditing">
			<a href="#" ng-click="impersonateAccount()">Login as {{ selectedAccount.title }} Site Admin</a>
		</div>
	</div>

	<div class="control-group">
		<div class="form-group" ng-class="{ 'has-error': hasError(selectedAccount, 'address1', editAccount.txtAddress1, forceDirty) }">
			<label class="control-label" for="txtAddress1">Address 1</label>
			<input type="text" id="txtAddress1" name="txtAddress1" class="form-control" ng-model="selectedAccount.address1"
					error-message message="errorMessage(selectedAccount, 'address1', editAccount.txtAddress1)" />
		</div>
		<div class="form-group">
			<label class="control-label" for="txtAddress2">Address 2</label>
			<input type="text" id="txtAddress2" name="txtAddress2" class="form-control" ng-model="selectedAccount.address2" />
		</div>
		<div class="form-group" ng-class="{ 'has-error': hasError(selectedAccount, 'city', editAccount.txtCity, forceDirty) }">
			<label class="control-label" for="txtCity">City</label>
			<input type="text" id="txtCity" name="txtCity" class="form-control" ng-model="selectedAccount.city"
					error-message message="errorMessage(selectedAccount, 'city', editAccount.txtCity)" />
		</div>
	</div>

	<div class="control-group">
		<div class="form-group" ng-class="{ 'has-error': hasError(selectedAccount, 'country', editAccount.selCountry, forceDirty) }">
			<label class="control-label" for="selCountry">Country</label>
			<select id="selCountry" name="selCountry" class="form-control" ng-model="selectedAccount.country"
					error-message message="errorMessage(selectedAccount, 'country', editAccount.selCountry)">
				<option value="Australia">Australia</option>
				<option value="Canada">Canada</option>
				<option value="UK">UK</option>
				<option value="USA">USA</option>
			</select>
		</div>
		<div class="form-group" ng-class="{ 'has-error': hasError(selectedAccount, 'state', editAccount.selState, forceDirty) }">
			<label class="control-label" for="selState">State</label>
			<select id="selState" name="selState" class="form-control"
					ng-model="selectedAccount.state" ng-options="s.name for s in getStates(false) track by s.value"
					error-message message="errorMessage(selectedAccount, 'state', editAccount.selState)"></select>
		</div>
		<div class="form-group" ng-class="{ 'has-error': hasError(selectedAccount, 'postalCode', editAccount.txtPostalCode, forceDirty) }">
			<label class="control-label" for="txtPostalCode">Postal Code</label>
			<input type="text" id="txtPostalCode" name="txtPostalCode" class="form-control" ng-model="selectedAccount.postalCode"
					error-message message="errorMessage(selectedAccount, 'postalCode', editAccount.txtPostalCode)" />
		</div>
	</div>

	<div class="control-group">
		<div class="form-group" ng-class="{ 'has-error': hasError(selectedAccount, 'email', editAccount.txtEmail, forceDirty) }">
			<label class="control-label" for="txtEmail">Email</label>
			<input type="text" required="required" id="txtEmail" name="txtEmail" class="form-control" ng-model="selectedAccount.email"
					error-message message="errorMessage(selectedAccount, 'email', editAccount.txtEmail)" />
		</div>
		<div class="form-group" ng-class="{ 'has-error': hasError(selectedAccount, 'phoneNumber', editAccount.txtPhoneNumber, forceDirty) }">
			<label class="control-label" for="txtPhoneNumber">Phone</label>
			<input type="text" id="txtPhoneNumber" name="txtPhoneNumber" class="form-control" ng-model="selectedAccount.phoneNumber"
					error-message message="errorMessage(selectedAccount, 'phoneNumber', editAccount.txtPhoneNumber)" />
		</div>
		<div class="form-group" ng-hide="selfEditing">
			<a href="#" ng-click="resendAccountCreationEmail()">Resend Account Creation Email</a>
		</div>
	</div>

	<h2>Subscription Info</h2>

	<div class="row">
		<div class="col-md-6">
			<div class="control-group" ng-show="!selfEditing">
				<div class="form-group" ng-class="{ 'has-error': hasError(selectedAccount, 'subscription', editAccount.selSubscription, forceDirty) }">
					<label class="control-label" for="selSubscription">Subscription Level</label>
					<select id="selSubscription" name="selSubscription" class="form-control"
							ng-model="selectedAccount.subscription" ng-change="changeTier()" ng-options="s.getName() for s in subscriptions track by s.subscriptionLevel"
							error-message message="errorMessage(selectedAccount, 'subscription', editAccount.selSubscription)">
					</select>
				</div>
			</div>

			<div class="control-group">
				<label class="radio-inline"><input type="radio" name="radPaymentPeriod" id="radMonthly" ng-value="false" ng-model="selectedAccount.yearlyPayment" ng-change="changePaymentPeriod()" />Monthly Payment</label>
				<label class="radio-inline"><input type="radio" name="radPaymentPeriod" id="radYearly" ng-value="true" ng-model="selectedAccount.yearlyPayment" ng-change="changePaymentPeriod()" />Annual Payment (<span>{{ selectedAccount.subscription.annualDiscount }}</span>% discount)</label>
			</div>

			<div class="control-group">
				<div class="checkbox">
					<label class="control-label" for="chkAutoRenew">
						<input type="checkbox" id="chkAutoRenew" ng-model="selectedAccount.autoRenew" ng-disabled="!selectedAccount.yearlyPayment" />
						Account Auto Renew
					</label>
				</div>
			</div>

			<div class="control-group">
				Account Renew/Expiration Date: <span ng-bind="selectedAccount.formattedExpirationDate()"></span>
			</div>

			<div class="control-group">
				<div class="form-group" ng-class="{ 'has-error': hasError(selectedAccount.subscription, 'numberLicenses', editAccount.txtMaxNumUsers, forceDirty) }" ng-hide="selfEditing">
					<label class="control-label" for="txtMaxNumUsers">Max # of Users</label>
					<input type="text" required="required" id="txtMaxNumUsers" name="txtMaxNumUsers" class="form-control"
							ng-model="selectedAccount.subscription.numberLicenses" ng-disabled="selfEditing"
							error-message message="errorMessage(selectedAccount.subscription, 'numberLicenses', editAccount.txtMaxNumUsers)" />
				</div>
				
				<div class="control-group btn-group" ng-show="selfEditing">
					<button type="button" class="btn btn-default" ng-show="!selectedAccount.autoRenew" ng-click="renewAccount()">Renew Account</button>
					<button type="button" class="btn btn-default" ng-click="cancelAccount()">Cancel Account</button>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="tier-components">
				<div style="display: inline-block;" tier-tiles selected-subscription="selectedAccount.subscription"></div>

				<div class="tier-info">
					<ul class="tier-info-list">
						<li>
							<div class="tier-info-label">Price / Month:</div>
							<div class="tier-info-data">${{ selectedAccount.subscription.formatPricePerMonth(selectedAccount.yearlyPayment) }}</div>
						</li>
						<li>
							<div class="tier-info-label">Max # Users:</div>
							<div class="tier-info-data">{{ selectedAccount.subscription.numberLicenses }}</div>
						</li>
						<li>
							<div class="tier-info-label">Training:</div>
							<div class="tier-info-data">{{ (selectedAccount.subscription.training === true ? 'Included' : 'Not Included') }}</div>
						</li>
						<li>
							<div class="tier-info-label">Additional Features:</div>
							<div class="tier-info-data">{{ selectedAccount.subscription.features }}</div>
						</li>
					</ul>
					
					<div class="control-group btn-group">
						<button type="button" class="btn btn-default" ng-click="compareTiers()" ng-show="selfEditing">Compare Tiers</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<h2>Payment Info</h2>

	<div ng-if="selectedAccount.hasToken">
		<p>Stored payment type: {{ selectedAccount.tokenizedType }}</p>
	</div>

	<div class="control-group">
		<label class="radio-inline"><input type="radio" name="radPaymentMethod" id="radCreditCard" ng-value="'CC'" ng-model="selectedAccount.paymentType" />Credit Card</label>
		<label class="radio-inline"><input type="radio" name="radPaymentMethod" id="radACH" ng-value="'ACH'" ng-model="selectedAccount.paymentType" />ACH</label>
	</div>

	<div ng-show="selectedAccount.paymentType === 'CC'">
		<div class="control-group">
			<div class="form-group" ng-class="{ 'has-error': hasError(selectedAccount.creditCard, 'nameOnCard', editAccount.txtNameOnCard, forceDirty) }">
				<label class="control-label" for="txtNameOnCard">Name on Card</label>
				<input type="text" id="txtNameOnCard" name="txtNameOnCard" class="form-control" ng-model="selectedAccount.creditCard.nameOnCard"
					error-message message="errorMessage(selectedAccount.creditCard, 'nameOnCard', editAccount.txtNameOnCard)" />
			</div>
			<div class="form-group" ng-class="{ 'has-error': hasError(selectedAccount.creditCard, 'cardType', editAccount.selCardType, forceDirty) }">
				<label class="control-label" for="selCardType">Card Type</label>
				<select id="selCardType" name="selCardType" class="form-control" ng-model="selectedAccount.creditCard.cardType"
					error-message message="errorMessage(selectedAccount.creditCard, 'cardType', editAccount.selCardType)">
					<option value="VISA">Visa</option>
					<option value="MASTERCARD">MasterCard</option>
					<option value="AMEX">American Express</option>
					<option value="DISCOVER">Discover</option>
				</select>
			</div>
			<div class="form-group" ng-class="{ 'has-error': hasError(selectedAccount.creditCard, 'cardNumber', editAccount.txtCardNumber, forceDirty) }">
				<label class="control-label" for="txtCardNumber">Card Number</label>
				<input type="text" id="txtCardNumber" name="txtCardNumber" class="form-control" ng-model="selectedAccount.creditCard.cardNumber"
					error-message message="errorMessage(selectedAccount.creditCard, 'cardNumber', editAccount.txtCardNumber)" />
			</div>
		</div>

		<div class="control-group">
			<div class="form-group" ng-class="{ 'has-error': hasError(selectedAccount.creditCard, 'cvc', editAccount.txtCVCNumber, forceDirty) }">
				<label class="control-label" for="txtCVCNumber">CVC</label>
				<input type="text" id="txtCVCNumber" name="txtCVCNumber" class="form-control" ng-model="selectedAccount.creditCard.cvc"
					error-message message="errorMessage(selectedAccount.creditCard, 'cvc', editAccount.txtCVCNumber)" />
			</div>
			<div class="form-group" ng-class="{ 'has-error': hasError(selectedAccount.creditCard, 'expirationDateMonth', editAccount.selExpirationMonth, forceDirty) }">
				<label class="control-label" for="selExpirationMonth">Expir. Month</label>
				<select id="selExpirationMonth" name="selExpirationMonth" class="form-control" ng-model="selectedAccount.creditCard.expirationDateMonth"
					error-message message="errorMessage(selectedAccount.creditCard, 'expirationDateMonth', editAccount.selExpirationMonth)">
					<option value="1">Jan</option>
					<option value="2">Feb</option>
					<option value="3">Mar</option>
					<option value="4">Apr</option>
					<option value="5">May</option>
					<option value="6">Jun</option>
					<option value="7">Jul</option>
					<option value="8">Aug</option>
					<option value="9">Sep</option>
					<option value="10">Oct</option>
					<option value="11">Nov</option>
					<option value="12">Dec</option>
				</select>
			</div>
			<div class="form-group" ng-class="{ 'has-error': hasError(selectedAccount.creditCard, 'expirationDateYear', editAccount.selExpirationYear, forceDirty) }">
				<label class="control-label" for="selExpirationYear">Expir. Year</label>
				<select id="selExpirationYear" name="selExpirationYear" class="form-control"
					ng-model="selectedAccount.creditCard.expirationDateYear" ng-options="year for year in years"
					error-message message="errorMessage(selectedAccount.creditCard, 'expirationDateYear', editAccount.selExpirationYear)"></select>
			</div>
		</div>

		<div class="control-group">
			<div class="form-group" ng-class="{ 'has-error': hasError(selectedAccount.creditCard, 'postalCode', editAccount.txtCCPostalCode, forceDirty) }">
				<label class="control-label" for="txtCCPostalCode">Postal Code</label>
				<input type="text" id="txtCCPostalCode" name="txtCCPostalCode" class="form-control" ng-model="selectedAccount.creditCard.postalCode"
					error-message message="errorMessage(selectedAccount.creditCard, 'postalCode', editAccount.txtCCPostalCode)" />
			</div>
		</div>
	</div>

	<div ng-show="selectedAccount.paymentType === 'ACH'">
		<div class="control-group">
			<div class="form-group" ng-class="{ 'has-error': hasError(selectedAccount.bankAccount, 'bankName', editAccount.txtBankName, forceDirty) }">
				<label class="control-label" for="txtBankName">Bank Name</label>
				<input type="text" id="txtBankName" name="txtBankName" class="form-control" ng-model="selectedAccount.bankAccount.bankName"
					error-message message="errorMessage(selectedAccount.bankAccount, 'bankName', editAccount.txtBankName)" />
			</div>
			<div class="form-group" ng-class="{ 'has-error': hasError(selectedAccount.bankAccount, 'routingNumber', editAccount.txtRoutingNumber, forceDirty) }">
				<label class="control-label" for="txtRoutingNumber">Routing Number</label>
				<input type="text" id="txtRoutingNumber" name="txtRoutingNumber" class="form-control" ng-model="selectedAccount.bankAccount.routingNumber"
					error-message message="errorMessage(selectedAccount.bankAccount, 'routingNumber', editAccount.txtRoutingNumber)" />
			</div>
		</div>

		<div class="control-group">
			<div class="form-group" ng-class="{ 'has-error': hasError(selectedAccount.bankAccount, 'accountNumber', editAccount.txtAccountNumber, forceDirty) }">
				<label class="control-label" for="txtAccountNumber">Account Number</label>
				<input type="text" id="txtAccountNumber" name="txtAccountNumber" class="form-control" ng-model="selectedAccount.bankAccount.accountNumber"
					error-message message="errorMessage(selectedAccount.bankAccount, 'accountNumber', editAccount.txtAccountNumber)" />
			</div>
		</div>
	</div>

	<div class="control-group btn-toolbar">
		<button type="button" class="btn btn-default ladda-button" ng-click="saveAccount(editAccount)" data-style="zoom-in" ladda-button="isSaving">
			<span class="ladda-label">Save</span>
		</button>
		<button type="button" class="btn btn-default" ng-click="cancelEdit(editAccount)" ng-show="!selfEditing">Cancel</button>
		<button type="button" class="btn btn-default" ng-click="deleteAccount(editAccount)" ng-show="!creatingNew && !selfEditing">Delete</button>
	</div>
</form>
