<div class="view create">
	<div class="col-md-3 left-pane"></div>
	<div class="col-md-9 right-pane">
		<h2 class="right-pane-header">Create</h2>

		<div class="view">
			<div class="col-md-9">
				<h2>
					Create Concept
					<span class="cl-icon cl-icon-large cl-icon-workflow-concept"></span>
				</h2>

			</div>
			<div class="col-md-3">
				<div class="panel panel-default">
					<div class="panel-heading">Collaborators</div>
					<div class="panel-body">
						Panel content
					</div>
				</div>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">Discussion</div>
			<div class="panel-body">
				Panel content
			</div>
		</div>
	</div>
</div>