<div class="view content-settings">
	<div class="col-md-3 left-pane">
		<div account-left-pane selected-setting="'content'"></div>
	</div>
	<div class="col-md-9 right-pane">
		<h2 class="right-pane-header">Content Settings</h2>
		
		<form name="editContentSettings" class="content-settings-editor" novalidate="novalidate">
			<div class="control-group">
				<div class="form-group checkbox">
					<input type="checkbox" id="chkIncludeAuthorName" name="chkIncludeAuthorName" ng-model="contentSettings.includeAuthorName" />
					<label for="chkIncludeAuthorName">Include Author's Name into Content</label>
				</div>
				
				<div class="form-group">
					<label for="selAuthorNameApplyTo">Apply To:</label>
					<select id="selAuthorNameApplyTo" name="selAuthorNameApplyTo" class="chosen-select" multiple="multiple"
							chosen ng-options="ct for ct in contentTypes" ng-model="contentSettings.authorNameContentTypes"
							data-placeholder="Select Content Types"></select>
				</div>
			</div>

			<div class="control-group">
				<div class="form-group checkbox">
					<input type="checkbox" id="chkAllowPublishDateEdit" name="chkAllowPublishDateEdit" ng-model="contentSettings.allowPublishDateEdit" />
					<label for="chkAllowPublishDateEdit">Allow Publish Date to be Edited</label>
				</div>
				
				<div class="form-group">
					<label for="selPublishDateApplyTo">Apply To:</label>
					<select id="selPublishDateApplyTo" name="selPublishDateApplyTo" class="chosen-select" multiple="multiple"
							chosen ng-options="ct for ct in contentTypes" ng-model="contentSettings.publishDateContentTypes"
							data-placeholder="Select Content Types"></select>
				</div>
			</div>

			<div class="control-group">
				<div class="form-group checkbox">
					<input type="checkbox" id="chkUseKeywordTags" name="chkUseKeywordTags" ng-model="contentSettings.useKeywordTags" />
					<label for="chkUseKeywordTags">Use Keyword Tags</label>
				</div>

				<div class="form-group">
					<label for="selKeywordTagsApplyTo">Apply To:</label>
					<select id="selKeywordTagsApplyTo" name="selKeywordTagsApplyTo" class="chosen-select" multiple="multiple"
							chosen ng-options="ct for ct in contentTypes" ng-model="contentSettings.keywordTagsContentTypes"
							data-placeholder="Select Content Types"></select>
				</div>
			</div>
			
			<h2>Company Publishing Guidelines</h2>
			<p>Enter Company publishing guidelines here. These will be available for users as they are creating Ideas and Content.</p>
			
			<textarea id="txtPublishingGuidelines" rich-text-editor ng-model="contentSettings.publishingGuidelines"></textarea>
			
			<h2>Personas</h2>
			<div>
				These Personas and stages will be used in content and can be changed as needed.
				<div class="control-group btn-group btn-new-persona">
					<button type="button" class="btn btn-default" ng-click="addNewPersona()">New Persona</button>
				</div>
			</div>
			

			<table class="persona-table">
				<thead>
					<tr>
						<th ng-repeat="property in contentSettings.personaProperties">
							<span ng-show="property !== 'Name'" class="content-editable" contenteditable on-change="editPersonaProperty" ng-model="contentSettings.personaProperties[$index]" place-holder="titlePlaceholder"></span>
							<span ng-show="property === 'Name'">{{ contentSettings.personaProperties[$index] }}</span>
						</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="persona in contentSettings.personas" ng-class-odd="'dark'">
						<td ng-repeat="property in contentSettings.personaProperties">
							<span class="content-editable" contenteditable on-change="editPersonaValue" ng-model="persona.properties[$index].value" place-holder="itemPlaceholder"></span>
						</td>
						<td class="edit-row">
							<span class="fa fa-trash-o" ng-click="contentSettings.deletePersona($index)"></span>
						</td>
					</tr>
				</tbody>
			</table>

			<!--<div class="control-group btn-toolbar">
				<button type="button" class="btn btn-default ladda-button" ng-click="" data-style="zoom-in" ladda-button="isSaving">
					<span class="ladda-label">Save</span>
				</button>
				<button type="button" class="btn btn-default" ng-click="">Cancel</button>
				<button type="button" class="btn btn-default" ng-click="">Delete</button>
			</div>-->
		</form>
	</div>
</div>