<div class="view accounts">
	<div class="col-md-3 left-pane">
		<div account-left-pane selected-setting="'connections'"></div>
	</div>
	<div class="col-md-9 right-pane">
		<h2 class="right-pane-header">Content Connections</h2>

		<div class="right-pane-content">
			<div class="control-group btn-toolbar content-connection-button-bar">
				<div class="form-group input-group">
					<input type="text" class="form-control" placeholder="Search" ng-model="search.searchTerm" ng-change="search.applyFilter(true)" />
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-search"></span>
					</span>
				</div>

				<div class="btn-group btn-group-justified btn-group-filter">
					<a class="btn btn-default" ng-class="{ active: search.connectionStatus === 'active' }" ng-click="search.toggleStatus('active')">Active</a>
					<a class="btn btn-default" ng-class="{ active: search.connectionStatus === 'inactive' }" ng-click="search.toggleStatus('inactive')">Inactive</a>
					<a class="btn btn-default" ng-class="{ active: search.connectionStatus === 'all' }" ng-click="search.toggleStatus('all')">All</a>
				</div>

				<div class="btn-group add-connection">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						New Connection
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li ng-repeat="provider in providers" ng-click="addConnection(provider)">
							<a href="#"><span class="{{ 'fa fa-' + provider.toLowerCase() }}"></span>{{ provider }}</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="connection-list">
				<div class="row">
					<div class="col-md-4 header">Name</div>
					<div class="col-md-6 header">URL</div>
					<div class="col-md-2 header">Status</div>
				</div>
				<div class="row" ng-repeat="connection in filteredConnections">
					<div class="col-md-4">
						<span class="{{ 'fa fa-' + connection.connectionType }}"></span>
						<span contenteditable ng-model="connection.name" on-change="editConnectionName"></span>
					</div>
					<div class="col-md-6"><a href="{{ connection.url }}">{{ connection.url }}</a></div>
					<div class="col-md-2"><span class="toggle" ng-click="toggleActiveStatus(connection)">{{ connection.activeStatus() }}</span></div>
				</div>
			</div>
		</div>
	</div>
</div>
