<div class="view content-settings">
	<div class="col-md-3 left-pane">
		<div account-left-pane selected-setting="'content'"></div>
	</div>
	<div class="col-md-9 right-pane" ng-show="contentSettings.$resolved">
		<h2 class="right-pane-header">Content Settings</h2>
		
		<form name="editContentSettings" class="content-settings-editor" novalidate="novalidate" ng-show="canEditContentSettings">
			<div class="control-group">
				<div class="form-group">
					<input type="checkbox" id="chkIncludeAuthorName" name="chkIncludeAuthorName" ng-model="contentSettings.includeAuthorName" ng-change="setDirty()" />
					<label for="chkIncludeAuthorName">Include Author's Name into Content</label>
				</div>
				
				<div class="form-group">
					<label for="selAuthorNameApplyTo">Apply To:</label>
					<select id="selAuthorNameApplyTo" name="selAuthorNameApplyTo" class="multi-select" multiple="multiple"
							ui-select2="{ formatResult: formatContentTypeItem, formatSelection: formatContentTypeItem }" ng-model="contentSettings.authorNameContentTypes"
							ng-disabled="!contentSettings.includeAuthorName" ng-change="setDirty()" data-placeholder="Select Content Types">
						<option ng-repeat="ct in contentTypes" value="{{ ct.name }}">{{ ct.title }}</option>
					</select>
				</div>
			</div>

			<div class="control-group">
				<div class="form-group">
					<input type="checkbox" id="chkAllowPublishDateEdit" name="chkAllowPublishDateEdit" ng-model="contentSettings.allowPublishDateEdit" ng-change="setDirty()" />
					<label for="chkAllowPublishDateEdit">Allow Publish Date to be Edited</label>
				</div>
				
				<div class="form-group">
					<label for="selPublishDateApplyTo">Apply To:</label>
					<select id="selPublishDateApplyTo" name="selPublishDateApplyTo" class="multi-select" multiple="multiple"
							ui-select2="{ formatResult: formatContentTypeItem, formatSelection: formatContentTypeItem }" ng-model="contentSettings.publishDateContentTypes"
							ng-disabled="!contentSettings.allowPublishDateEdit" ng-change="setDirty()" data-placeholder="Select Content Types">
						<option ng-repeat="ct in contentTypes" value="{{ ct.name }}">{{ ct.title }}</option>
					</select>
				</div>
			</div>

			<div class="control-group">
				<div class="form-group">
					<input type="checkbox" id="chkUseKeywordTags" name="chkUseKeywordTags" ng-model="contentSettings.useKeywordTags" ng-change="setDirty()" />
					<label for="chkUseKeywordTags">Use Keyword Tags</label>
				</div>

				<div class="form-group">
					<label for="selKeywordTagsApplyTo">Apply To:</label>
					<select id="selKeywordTagsApplyTo" name="selKeywordTagsApplyTo" class="multi-select" multiple="multiple"
							ui-select2="{ formatResult: formatContentTypeItem, formatSelection: formatContentTypeItem }" ng-model="contentSettings.keywordTagsContentTypes"
							ng-disabled="!contentSettings.useKeywordTags" ng-change="setDirty()" data-placeholder="Select Content Types">
						<option ng-repeat="ct in contentTypes" value="{{ ct.name }}">{{ ct.title }}</option>
					</select>
				</div>
			</div>
			
			<h2>Company Publishing Guidelines</h2>
			<p>Enter Company publishing guidelines here. These will be available for users as they are creating Ideas and Content.</p>

			<textarea id="txtPublishingGuidelines" rich-text-editor ng-model="contentSettings.publishingGuidelines" ng-change="setDirty()"></textarea>
			
			<h2>Personas/Buying Stage</h2>
			<div>
				These Personas and Buying Stages will be used in content and can be changed as needed. Click on any of the items in the table below to edit them.

				<div class="control-group btn-group btn-new-persona">
					<button type="button" class="btn btn-default" ng-click="addNewPersona()">New Persona</button>
				</div>
			</div>

			<table class="persona-table">
				<thead>
					<tr>
						<th>Name</th>
						<th ng-repeat="property in contentSettings.personaProperties">
							<span ng-class="'cl-icon-personas-' + $index" class="cl-icon cl-icon-med"></span>
							<span class="content-editable" contenteditable on-change="setDirty" ng-model="contentSettings.personaProperties[$index]" place-holder="titlePlaceholder" onkeypress="return (this.innerText.length <= 20)"></span>
						</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="persona in contentSettings.personas" ng-class-odd="'dark'">
						<td>
							<div class="content-editable" contenteditable on-change="setDirty" ng-model="persona.name" place-holder="itemPlaceholder"></div>
						</td>
						<td ng-repeat="property in contentSettings.personaProperties" class="long-content">
							<div class="content-editable" contenteditable on-change="setDirty" ng-model="persona.properties[$index]" place-holder="itemPlaceholder"></div>
						</td>
						<td class="edit-row">
							<span class="fa fa-trash-o" ng-click="deletePersona($index)"></span>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="control-group btn-toolbar">
				<button type="button" class="btn btn-default ladda-button" ng-click="updateContentSettings(true)" data-style="zoom-in" ladda-button="isSaving">
					<span class="ladda-label">Save</span>
				</button>
				<button type="button" class="btn btn-default" ng-click="confirmCancel(true)">Cancel</button>
			</div>
		</form>
	</div>

	<div ng-hide="canEditContentSettings">
		You do not have privileges to edit content settings.
	</div>

	<div class="loading-spinner-container" ng-hide="contentSettings.$resolved || !canEditContentSettings">
		<spinner spin="{ length: 50, width: 10, radius: 30 }"></spinner>
	</div>
</div>