<div class="view create" ng-if="!!content && content.$resolved">
	<div class="col-md-3 left-pane">
		<div task-list task-groups="content.taskGroups" parent-status="content.status" author-id="content.author.id" users="taskUsers" ng-hide="isNewContent || !isCollaborator"></div>
		
		<div class="panel panel-default panel-content-activity" ng-hide="isNewContent">
			<div class="panel-heading">Activity</div>
			<div class="panel-body">
				<ul>
					<li ng-repeat="a in activity">
						<span ng-bind-html="getUserImageHtml(a.userId, null)"></span>
						{{ a.title }}
						<span class="content-activity-date">{{ formatDate(a.created) }}</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-9 right-pane" ng-show="isCollaborator">
		<h2 class="right-pane-header">Create</h2>

		<div class="content-editor row">
			<div class="col-md-9">
				<div class="create-content-header row">
					<div class="content-workflow col-md-6">
						<div class="content-workflow-item" ng-class="{ 'inactive': (content.status < 1) }">
							<span class="cl-icon cl-icon-white cl-icon-workflow-create"></span>
						</div>
						<div class="content-workflow-item" ng-class="{ 'inactive': (content.status < 2) }">
							<span class="cl-icon cl-icon-white cl-icon-workflow-review"></span>
						</div>
						<div class="content-workflow-item" ng-class="{ 'inactive': (content.status < 3) }">
							<span class="cl-icon cl-icon-white cl-icon-workflow-launch"></span>
						</div>
						<div class="content-workflow-item" ng-class="{ 'inactive': (content.status < 4) }">
							<span class="cl-icon cl-icon-white cl-icon-workflow-promote"></span>
						</div>
			
						<div class="content-workflow-connector-1" ng-class="{ 'inactive': (content.status < 1) }"></div>
						<div class="content-workflow-connector-2" ng-class="{ 'inactive': (content.status < 2) }"></div>
						<div class="content-workflow-connector-3" ng-class="{ 'inactive': (content.status < 3) }"></div>
					</div>
		
					<div class="col-md-6">
						<h3>Concept</h3>
						<i ng-bind-html="content.concept"></i>
					</div>
				</div>
					
				<h2>{{ content.currentStepTitleCase() }} Content</h2>

				<div class="content-approved-header" ng-show="content.status === 3 && !content.archived">
					Content Approved
					<span class="fa fa-thumbs-o-up"></span>
				</div>

				<div class="content-launched-header" ng-show="content.status === 4 && !content.archived">
					<div ng-repeat="cc in content.accountConnections">
						<span class="fa fa-check"></span>
						Posted to
						<span ng-class="getConnectionProviderIconClass(cc.provider)"></span>
						{{ cc.name }}
					</div>
				</div>

				<div class="content-approved-header" ng-show="content.archived">
					<button type="button" class="btn btn-lg btn-default btn-black" ng-click="restoreContent()" ng-disabled="!canRestoreContent">
						<!--<span class="cl-icon cl-icon-white cl-icon-workflow-archive"></span>-->
						Restore Content to Active
					</button>
				</div>
				
				<div ng-include="'/assets/views/content/partials/content-form.html'"></div>
				
				<div files-list="content.attachments" after-add-file-success="addAttachment" users="taskUsers" ng-hide="isNewContent" is-disabled="attachmentsIsDisabled"></div>
			</div>
			<div class="col-md-3" ng-hide="isNewContent">
				<div collaborator-sidebar collaborators="content.collaborators" users="collaborators" item-id="content.id" item-type="'content'"
					add-collaborator-callback="filterTaskAssignees" remove-collaborator-callback="filterTaskAssignees" is-disabled="collboratorsIsDisabled"
					is-collaborator-finished="isCollaboratorFinished"></div>
				
				<div ng-if="!isNewContent" ng-show="canPromoteContent">
					<button class="btn btn-default btn-promote-automation" ng-click="promoteContent('hubspot')" ng-show="connectionIsSupported(hubspotConnection)">
						Send to
						<span class="cl-banner cl-banner-hubspot"></span>
					</button>
					<button class="btn btn-default btn-promote-automation" ng-click="promoteContent('act-on')" ng-show="connectionIsSupported(actOnConnection)">
						Send to
						<span class="cl-banner cl-banner-act-on"></span>
					</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" ng-hide="isNewContent" discussion-panel comments="comments" add-comment-callback="addComment" ng-hide="isNewContent"></div>
		</div>
	</div>
	<div class="col-md-9 right-pane" ng-hide="isCollaborator">
		<h3 class="unauthorized-message">You are unauthorized to view this content.</h3>
	</div>
</div>

<div class="loading-spinner-container" ng-show="!content.$resolved">
	<spinner spin="{ length: 50, width: 10, radius: 30 }"></spinner>
</div>

<div class="full-screen-modal" ng-show="isSaving">
	<spinner spin="{ color: 'white', length: 50, width: 10, radius: 30 }"></spinner>
</div>

<div class="full-screen-modal" ng-show="showFullScreenModal">
	<spinner spin="{ color: 'white', length: 50, width: 10, radius: 30 }"></spinner>
	<div class="message">
		Uploading File(s)...
	</div>
</div>

<script type="text/ng-template" id="select-user-to-complete.html">
	<div class="modal-header">Select User</div>
	<div class="modal-body">
		<div class="control-group">
			<p>You must assign someone with the necessary privileges to {{ taskName }} this item when it is complete. They will be assigned a task to {{ taskName }} this item.</p>
			<div class="form-group">
				<label for="selUserToAct">User</label>
				(items with a <span class="fa fa-check-circle"></span> are collaborators for this item)
				<select id="selUserToAct" name="selUserToAct" ng-model="userToCompleteId" ng-change="selectUserToComplete(userToCompleteId)"
					ui-select2="{ formatResult: formatUserItem, formatSelection: formatUserItem, selectOnBlur: true, allowClear: true }"
					data-placeholder="Select User">
					<option value=""></option>
					<option ng-repeat="a in userPool" value="{{ a.id }}">{{ a.formatName() }}</option>
				</select>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="save()">Select User</button>
		<button class="btn btn-primary" ng-click="cancel()">Cancel</button>
	</div>

</script>