<div class="view create" ng-show="!!content && content.$resolved">
	<div class="col-md-3 left-pane">
		<div task-list task-groups="content.taskGroups" parent-status="content.status" author-id="content.author.id" users="taskUsers" ng-hide="isNewContent || !isCollaborator"></div>
		
		<div class="panel panel-default panel-content-activity">
			<div class="panel-heading">Activity</div>
			<div class="panel-body">
				<ul>
					<li ng-repeat="a in activity">
						<span ng-bind-html="getUserImageHtml(a.userId, null)"></span>
						{{ a.title }}
						<span class="content-activity-date">{{ formatDate(a.created) }}</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-9 right-pane" ng-show="isCollaborator">
		<h2 class="right-pane-header">Create</h2>

		<div class="content-editor row">
			<div class="col-md-9">
				<div class="create-content-header row">
					<div class="content-workflow col-md-6">
						<div class="content-workflow-item" ng-class="{ 'inactive': (content.status < 1) }">
							<span class="cl-icon cl-icon-white cl-icon-workflow-create"></span>
						</div>
						<div class="content-workflow-item" ng-class="{ 'inactive': (content.status < 2) }">
							<span class="cl-icon cl-icon-white cl-icon-workflow-review"></span>
						</div>
						<div class="content-workflow-item" ng-class="{ 'inactive': (content.status < 3) }">
							<span class="cl-icon cl-icon-white cl-icon-workflow-launch"></span>
						</div>
						<div class="content-workflow-item" ng-class="{ 'inactive': (content.status < 4) }">
							<span class="cl-icon cl-icon-white cl-icon-workflow-promote"></span>
						</div>
			
						<div class="content-workflow-connector-1" ng-class="{ 'inactive': (content.status < 1) }"></div>
						<div class="content-workflow-connector-2" ng-class="{ 'inactive': (content.status < 2) }"></div>
						<div class="content-workflow-connector-3" ng-class="{ 'inactive': (content.status < 3) }"></div>
					</div>
		
					<div class="col-md-6">
						<h3>Concept</h3>
						<i ng-bind-html="content.concept"></i>
					</div>
				</div>
					
				<h2>Create Content</h2>

				<div class="content-approved-header" ng-show="content.status === 3 && !content.archived">
					Content is Approved
					<span class="fa fa-thumbs-o-up"></span>
				</div>

				<div class="content-launched-header" ng-show="content.status === 4 && !content.archived">
					<div ng-repeat="cc in content.accountConnections">
						<span class="fa fa-check"></span>
						Posted to
						<span ng-class="getConnectionProviderIconClass(cc.provider)"></span>
						{{ cc.name }}
					</div>
				</div>

				<div class="content-approved-header" ng-show="content.archived">
					<button type="button" class="btn btn-lg btn-default btn-black" ng-click="restoreContent()" ng-disabled="!canRestoreContent">
						<!--<span class="cl-icon cl-icon-white cl-icon-workflow-archive"></span>-->
						Restore Content to Active
					</button>
				</div>

				<form name="editContent" novalidate="novalidate">
					<div class="control-group">
						<div class="form-group form-group-wide" ng-class="{ 'has-error': hasError(content, 'title', editContent.txtContentName, forceDirty) }">
							<label class="control-label" for="txtContentName">Content Title</label>
							<input type="text" name="txtContentName" id="txtContentName" class="form-control" ng-model="content.title" ng-disabled="isReadOnly"
									error-message error-message-item="content" error-message-property="'title'" error-message-control="editContent.txtContentName" />
						</div>
						<div class="form-group">
							&nbsp;<br/>
							<a href="#" ng-click="showPublishingGuidelines()">Publishing Guidelines</a>
						</div>
					</div>
					
					<div class="control-group">
						<div class="form-group" ng-class="{ 'has-error': hasError(content, 'contentType', editContent.selContentType, forceDirty) }">
							<label class="control-label" for="selContentType">Content Type</label>
							<select name="selContentType" id="selContentType" ng-disabled="!isNewContent || isReadOnly"
									ui-select2="{ formatResult: formatContentTypeItem, formatSelection: formatContentTypeItem, selectOnBlur: true }" ng-model="content.contentType.name"
									data-placeholder="Select Content Type" ng-change="updateContentType()"
									error-message error-message-item="content" error-message-property="'contentType'" error-message-control="editContent.selContentType">
								<option value=""></option>
								<option ng-repeat="ct in contentTypes" value="{{ ct.name }}">{{ ct.title }}</option>
							</select>
						</div>

						<div class="form-group" ng-class="{ 'has-error': hasError(content, 'author', editContent.selAuthor, forceDirty) }">
							<label class="control-label" for="selCreator">Content Creator</label>
							<select name="selAuthor" id="selAuthor" ng-disabled="isReadOnly"
									ui-select2="{ formatResult: formatUserItem, formatSelection: formatUserItem, selectOnBlur: true }" ng-model="content.author.id"
									data-placeholder="Select Content Creator" ng-change="updateAuthor()"
									error-message error-message-item="content" error-message-property="'author'" error-message-control="editContent.selAuthor">
								<option value=""></option>
								<option ng-repeat="u in users" value="{{ u.id }}">{{ u.formatName() }}</option>
							</select>
						</div>
					</div>

					<div class="control-group">
						<div class="form-group" ng-class="{ 'has-error': hasError(content, 'accountConnections', editContent.selContentConnections, forceDirty) }">
							<label class="control-label" for="selContentConnections">Content Connections</label>
							<select id="selContentConnections" name="selContentConnections" class="multi-select" multiple="multiple" ng-disabled="isReadOnly" ng-change="updateContentConnection()"
									ui-select2="{ formatResult: formatContentConnectionItem, formatSelection: formatContentConnectionItem }" ng-model="contentConnectionIds" data-placeholder="Select Content Connection"
									error-message error-message-item="content" error-message-property="'accountConnections'" error-message-control="editContent.selContentConnections">
								<option ng-repeat="cc in contentConnections" value="{{ cc.id }}">{{ cc.name }}</option>
							</select>
						</div>
					</div>

					<div class="control-group" ng-show="showAddFileButton">
						<div class="content-file-view" ng-show="!!content.contentFile">
							<button type="button" class="btn btn-lg btn-black btn-default" onclick="$('#filContentFile').click()" ng-hide="isReadOnly">
								<span class="fa fa-paperclip"></span>
								Replace File
							</button>

							<div class="content-file-view-file" ng-click="viewFile(content.contentFile)">
								<span class="cl-icon" ng-class="content.contentFile.fileType()"></span>
								{{ content.contentFile.fileName }}
							</div>

							<span class="fa fa-download" ng-click="downloadFile(content.contentFile)" ng-show="showDownloadContentFile"></span>
							<span class="fa fa-trash-o" ng-click="deleteContentFile()" ng-hide="isReadOnly"></span>
						</div>

						<button type="button" class="btn btn-lg btn-black btn-default" onclick="$('#filContentFile').click()" ng-show="!content.contentFile && !isReadOnly">
							<span class="fa fa-paperclip"></span>
							Add a File
						</button>
		
						<input type="file" id="filContentFile" ng-file-select="uploadContentFile($files, editContent, editContent.filContentFile)" />
						<progressbar class="progress-striped active" value="percentComplete" ng-show="isUploading">
							<span>{{ percentComplete }}%</span>
						</progressbar>
					</div>

					<div class="control-group" ng-show="showRichTextEditor" ng-class="{ 'has-error': hasError(content, 'body', editContent.txtContentDesc, forceDirty) }" ng-hide="isReadOnly">
						<textarea name="txtContentDesc" id="txtContentDesc" rich-text-editor ng-model="content.body"
								error-message error-message-item="content" error-message-property="'body'" error-message-control="editContent.txtContentDesc"></textarea>
					</div>
					
					<div class="content-preview" ng-show="isReadOnly">
						<h4>{{ content.title }}</h4>
						
						<div ng-bind-html="content.body"></div>
					
						<div class="control-group" ng-show="content.status >= 3 && !content.archived">
							<button type="button" class="btn btn-lg btn-default" ng-class="'btn-' + content.currentStep()" ng-click="submitContent()" ng-disabled="(content.status === 4 && !canPromoteContent) || (content.status === 3 && !canLaunchContent)">
								<span class="cl-icon cl-icon-white" ng-class="'cl-icon-workflow-' + content.currentStep()"></span>
								<span ng-show="!content.archived">{{ content.currentStep().toUpperCase() }} CONTENT</span>
							</button>
						</div>
					</div>

					<div class="control-group">
						<div class="form-group">
							<label for="txtTags">Tags</label> (separate by comma)
							<textarea name="txtTags" id="txtTags" class="form-control" ng-model="contentTags" ng-disabled="isReadOnly"></textarea>
						</div>

						<div class="form-group">
							<label for="txtRelatedContent">Related Content</label> (separate by comma)
							<textarea name="txtRelatedContent" id="txtRelatedContent" class="form-control" ng-model="content.relatedContent" ng-disabled="isReadOnly"></textarea>
						</div>
					</div>

					<div class="control-group">
						<div class="form-group" ng-class="{ 'has-error': hasError(content, 'buyingStage', editContent.selBuyingStage, forceDirty) }">
							<label for="selBuyingStage">Buying Stage</label>
							<select name="selBuyingStage" id="selBuyingStage" ng-disabled="isReadOnly"
									ui-select2="{ formatResult: formatBuyingStageItem, formatSelection: formatBuyingStageItem, allowClear: true }" ng-model="content.buyingStage" data-placeholder="Select Buying Stage"
									error-message error-message-item="content" error-message-property="'buyingStage'" error-message-control="editContent.selBuyingStage">
								<option value=""></option>
								<option ng-repeat="bs in buyingStages" value="{{ $index }}">{{ bs }}</option>
							</select>
						</div>

						<div class="form-group" ng-class="{ 'has-error': hasError(content, 'persona', editContent.selPersona, forceDirty) }">
							<label for="selPersona">Persona</label>
							<select name="selPersona" id="selPersona" ng-disabled="isReadOnly"
									ui-select2="{ allowClear: true }" ng-model="content.persona" data-placeholder="Select Persona"
									error-message error-message-item="content" error-message-property="'persona'" error-message-control="editContent.selPersona">
								<option value=""></option>
								<option ng-repeat="p in contentSettings.personas" value="{{ p.name }}">{{ p.name }}</option>
							</select>
						</div>

						<div class="form-group" ng-class="{ 'has-error': hasError(content, 'campaign', editContent.selCampaign, forceDirty) }">
							<label for="selCampaign">Campaign</label>
							<select name="selCampaign" id="selCampaign" ng-disabled="isReadOnly"
									ui-select2="{ formatResult: formatCampaignItem, formatSelection: formatCampaignItem, allowClear: true }" ng-model="content.campaign.id"
									data-placeholder="Select Campaign" ng-change="updateCampaign()"
									error-message error-message-item="content" error-message-property="'campaign'" error-message-control="editContent.selCampaign">
								<option value=""></option>
								<option ng-repeat="c in campaigns" value="{{ c.id }}">{{ c.title }}</option>
							</select>
						</div>
					</div>
					
					<div class="control-group">
						<div class="form-group">
							<label for="selSecondaryBuyingStage">Secondary Buying Stage</label>
							<select name="selSecondaryBuyingStage" id="selSecondaryBuyingStage" ng-disabled="isReadOnly"
									ui-select2="{ formatResult: formatBuyingStageItem, formatSelection: formatBuyingStageItem, allowClear: true }" ng-model="content.secondaryBuyingStage"
									data-placeholder="Select Secondary Buying Stage">
								<option value=""></option>
								<option ng-repeat="bs in buyingStages" value="{{ $index }}">{{ bs }}</option>
							</select>
						</div>

						<div class="form-group">
							<label for="selSecondaryPersona">Secondary Persona</label>
							<select name="selSecondaryPersona" id="selSecondaryPersona" ng-disabled="isReadOnly"
									ui-select2="{ allowClear: true }" ng-model="content.secondaryPersona" data-placeholder="Select Secondary Persona">
								<option value=""></option>
								<option ng-repeat="p in contentSettings.personas" value="{{ p.name }}">{{ p.name }}</option>
							</select>
						</div>
					</div>

					<div class="control-group">
						<button type="button" class="btn btn-lg btn-black btn-default" ng-click="saveContent()" ng-show="canEditContent && !isReadOnly">Save</button>
						<button type="button" class="btn btn-lg btn-black btn-default" ng-click="submitContent()" ng-show="canSubmitContent && !isReadOnly && !isNewContent">{{ getNextStepText() }}</button>
						<button type="button" class="btn btn-lg btn-black btn-default" ng-click="archiveContent()" ng-show="content.status === 4 && !content.archived">Archive Content</button>
					</div>
					
					<div files-list="content.attachments" after-add-file-success="addAttachment" users="taskUsers" ng-hide="isNewContent" is-disabled="attachmentsIsDisabled"></div>
				</form>
			</div>
			<div class="col-md-3" ng-hide="isNewContent">
				<div collaborator-sidebar collaborators="content.collaborators" users="collaborators" item-id="content.id" item-type="'content'"
					add-collaborator-callback="filterTaskAssignees" remove-collaborator-callback="filterTaskAssignees" is-disabled="collboratorsIsDisabled"
					is-collaborator-finished="isCollaboratorFinished"></div>
				
				<div ng-show="showExport">
					<div style="font-weight: bold;">Export to</div>
					<div class="cl-banner-container" ng-show="showExportHubspot" ng-click="exportContent('hubspot')">
						<span class="cl-banner cl-banner-hubspot"></span>
					</div>
					<div class="cl-banner-container" ng-show="showExportActOn" ng-click="exportContent('act-on')">
						<span class="cl-banner cl-banner-act-on"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" ng-hide="isNewContent" discussion-panel discussion="content.comments" item-id="content.id" item-type="'content'" ng-hide="isNewContent"></div>
		</div>
	</div>
	<div class="col-md-9 right-pane" ng-hide="isCollaborator">
		<h3 class="unauthorized-message">You are unauthorized to view this content.</h3>
	</div>
</div>

<div class="loading-spinner-container" ng-show="!content.$resolved">
	<spinner spin="{ length: 50, width: 10, radius: 30 }"></spinner>
</div>

<div class="full-screen-modal" ng-show="showFullScreenModal">
	<spinner spin="{ color: 'white', length: 50, width: 10, radius: 30 }"></spinner>
	<div class="message">
		Uploading File(s)...
	</div>
</div>

<script type="text/ng-template" id="publishing-guidelines.html">
	<div class="modal-header">Publishing Guidelines</div>
	<div class="modal-body">
		<div ng-bind-html="publishingGuidelines"></div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">OK</button>
	</div>
</script>

<script type="text/ng-template" id="select-user-to-complete.html">
	<div class="modal-header">Select User</div>
	<div class="modal-body">
		<div class="control-group">
			<p>You must assign someone with the necessary privileges to {{ taskName }} this item when it is complete. They will be assigned a task to {{ taskName }} this item.</p>
			<div class="form-group">
				<label for="selUserToAct">User</label>
				(items with a <span class="fa fa-check-circle"></span> are collaborators for this item)
				<select id="selUserToAct" name="selUserToAct" ng-model="userToCompleteId" ng-change="selectUserToComplete(userToCompleteId)"
					ui-select2="{ formatResult: formatUserItem, formatSelection: formatUserItem, selectOnBlur: true, allowClear: true }"
					data-placeholder="Select User">
					<option value=""></option>
					<option ng-repeat="a in userPool" value="{{ a.id }}">{{ a.formatName() }}</option>
				</select>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="save()">Select User</button>
		<button class="btn btn-primary" ng-click="cancel()">Cancel</button>
	</div>

</script>