<div class="view create">
	<div class="col-md-3 left-pane">
		<div class="btn-group">
			<button class="btn btn-default btn-create">
				CREATE NEW
			</button>
		</div>

		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search" ng-model="search.searchTerm" ng-change="search.applyFilter()" />
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-search"></span>
			</span>
		</div>
		
		<div class="filter-panel">
			Filters
		</div>

		<div class="btn-group btn-group-justified btn-group-filter">
			<a class="btn btn-default" ng-class="{ active: search.myTasks === true }" ng-click="search.toggleStatus('active')">My Tasks</a>
			<a class="btn btn-default" ng-class="{ active: search.myTasks === false }" ng-click="search.toggleStatus('all')">All Tasks</a>
		</div>

		<accordion close-others="false">
			<accordion-group is-open="content_type_is_open">
				<accordion-heading>
					<i class="fa" ng-class="{'fa-caret-down': content_type_is_open, 'fa-caret-right': !content_type_is_open}"></i>
					Content Type
				</accordion-heading>
				<div>
					<select id="selContentType" name="selContentType" class="multi-select" multiple="multiple"
						ui-select2="{ formatResult: formatContentTypeItem, formatSelection: formatContentTypeItem }" ng-model="search.contentTypes"
						ng-change="search.applyFilter()" data-placeholder="Select Content Types">
						<option ng-repeat="ct in contentTypes" value="{{ ct.name }}">{{ ct.title }}</option>
					</select>
				</div>
			</accordion-group>
			<accordion-group is-open="mileston_is_open">
				<accordion-heading>
					<i class="fa" ng-class="{'fa-caret-down': mileston_is_open, 'fa-caret-right': !mileston_is_open}"></i>
					Milestone
				</accordion-heading>
				<div>
					<select id="selMilestone" name="selMilestone" class="multi-select" multiple="multiple"
						ui-select2 ng-model="search.milestones" ng-change="search.applyFilter()" data-placeholder="Select Milestones">
						<option value="concept">Concept</option>
						<option value="created">Created</option>
						<option value="approved">Approved</option>
						<option value="launched">Launched</option>
						<option value="archived">Archived</option>
					</select>
				</div>
			</accordion-group>
			<accordion-group is-open="buying_stage_is_open">
				<accordion-heading>
					<i class="fa" ng-class="{'fa-caret-down': buying_stage_is_open, 'fa-caret-right': !buying_stage_is_open}"></i>
					Buying Stage
				</accordion-heading>
				<div>
					<select id="selBuyingStage" name="selBuyingStage" class="multi-select" multiple="multiple"
						ui-select2 ng-model="search.buyingStages" ng-change="search.applyFilter()" data-placeholder="Select Buying Stages">
						<option ng-repeat="bs in buyingStages" value="{{ bs }}">{{ bs }}</option>
					</select>
				</div>
			</accordion-group>
			<accordion-group is-open="campaign_is_open">
				<accordion-heading>
					<i class="fa" ng-class="{'fa-caret-down': campaign_is_open, 'fa-caret-right': !campaign_is_open}"></i>
					Campaign
				</accordion-heading>
				<div>
					<select id="selCampaign" name="selCampaign" class="multi-select" multiple="multiple"
						ui-select2 ng-model="search.campaigns" ng-change="search.applyFilter()" data-placeholder="Select Campaign">
						<option ng-repeat="c in campaigns" value=""></option>
					</select>
				</div>
			</accordion-group>
			<accordion-group is-open="content_creator_is_open">
				<accordion-heading>
					<i class="fa" ng-class="{'fa-caret-down': content_creator_is_open, 'fa-caret-right': !content_creator_is_open}"></i>
					Content Creator
				</accordion-heading>
				<div>
					<select id="selCreator" name="selCreator" class="multi-select" multiple="multiple"
						ui-select2 ng-model="search.users" ng-change="search.applyFilter()" data-placeholder="Select Creator">
						<option ng-repeat="u in users" value="{{ u.id }}">{{ u.formatName() }}</option>
					</select>
				</div>
			</accordion-group>
		</accordion>
		
		<div class="link-button-container">
			<a class="link-button" href="#" ng-click="">Save as default filters</a> |
			<a class="link-button" href="#" ng-click="search.clearFilter()">Clear Filters</a>
		</div>
	</div>
	<div class="col-md-9 right-pane">
		<h2 class="right-pane-header">Create</h2>
		
		<div class="create-header">
			<h3>Content</h3>

			<div class="btn-group">
				<button class="btn btn-default" ng-class="{ active: search.contentStage === 'content' }" ng-click="search.toggleContentStage('content')">Content</button>
				<button class="btn btn-default" ng-class="{ active: search.contentStage === 'concepts' }" ng-click="search.toggleContentStage('concepts')">Concepts</button>
				<button class="btn btn-default" ng-class="{ active: search.contentStage === 'archived' }" ng-click="search.toggleContentStage('archived')">Archived</button>
			</div>

			<div class="form-group form-inline">
				<label class="control-label" for="selPageSize">Items per page:</label>
				<select class="form-control" id="selPageSize" name="selPageSize" ng-model="pagination.pageSize">
					<option value="10">10</option>
					<option value="20">20</option>
					<option value="50">50</option>
					<option value="100">100</option>
				</select>
			</div>
			
			<div ng-show="pagination.totalItems > 0">
				<pagination
					total-items="pagination.totalItems"
					items-per-page="pagination.pageSize"
					page="pagination.currentPage"
					on-select-page="pagination.onPageChange(page, editUser)"
					direction-links="false"
					max-size="6">
				</pagination>
			</div>
		</div>
		
		<div class="create-table-container">
			<table class="create-table">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>Title</th>
						<th>Author</th>
						<th>Persona</th>
						<th>Buying Stage</th>
						<th>Current Step</th>
						<th>Next Step</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="c in content" ng-class-odd="'dark'">
						<td><div class="campaign-dot campaign-dot-small" ng-class="'campaign-dot-' + c.campaign.index"></div></td>
						<td>
							<span class="cl-icon" ng-class="formatContentTypeItem(c)"></span>
							{{ c.title }}
						</td>
						<td>
							<span class="user-image" ng-style="{ 'background-image': c.author.image }"></span>
							{{ c.author.name }}
						</td>
						<td>{{ c.persona }}</td>
						<td><span class="cl-icon" ng-class="'cl-icon-personas-' + c.buyingStage"></span></td>
						<td>
							<span class="cl-icon cl-icon-workflow" ng-class="formatWorkflowItem(c)"></span>
							<div class="workflow-info">
								<div>{{ formatWorkflowTitle(c.currentStep) }}</div>
								<div class="small-text">{{ formatDate(c.currentStep.date) }}</div>
							</div>
						</td>
						<td>
							<div class="workflow-info">
								<a href="#">{{ formatWorkflowTitle(c.nextStep) }}</a>
								<div class="small-text" ng-class="{ error: highlightDate(c.nextStep.date) }">Due: {{ formatDate(c.nextStep.date) }}</div>
							</div>
						</td>
					</tr>
				</tbody>
				<tfoot></tfoot>
			</table>
		</div>
	</div>
</div>