
<p>Please login</p>

<div ng-bind="title"></div>

<form name="loginForm" action="/user/login" method="POST">
	<div>
		<label for="email">Email:</label><br/>
		<input id="email" name="email" type="text" ng-model="user.email" ng-change="validateLogin(user)" />
		<span class="error" ng-show="!!emailError" ng-bind="emailError"></span>
	</div>
	<div>
		<label for="password">Password:</label><br/>
		<input id="password" name="password" type="password" ng-model="user.password" ng-change="validateLogin(user)" />
		<span class="error" ng-show="!!passwordError" ng-bind="passwordError"></span>
	</div>

	<button type="submit" class="btn btn-default" ng-click="login(user)">Submit</button>
</form>
