<div ng-show="mode === 'Forgot Password' && headerMessage" ng-bind="headerMessage" class="header-message"></div>

<form id="login-form" name="loginForm">
	<div class="header">
		<div class="logo-white"></div>
		<div>{{ mode }}</div>
	</div>
	
	<div class="error" ng-show="!!flash" ng-bind="flash"></div>
	
	<div ng-show="mode === 'Login'">
		<div class="form-group" ng-class="{ 'has-error': hasError(user, 'email', loginForm.txtEmail, forceDirty) }">
			<input id="txtEmail" name="txtEmail" type="text" class="form-control" placeholder="Email Address" ng-model="user.email"
					ng-keypress="login($event, user)" error-message message="errorMessage(user, 'email', loginForm.txtEmail, forceDirty)" />
		</div>

		<div class="form-group" ng-class="{ 'has-error': hasError(user, 'password', loginForm.txtPassword, forceDirty) }">
			<input id="txtPassword" name="txtPassword" type="password" class="form-control" placeholder="Password" ng-model="user.password"
					ng-keypress="login($event, user)" error-message message="errorMessage(user, 'password', loginForm.txtPassword, forceDirty)" />
		</div>

		<div class="form-group">
			<input id="remember" name="remember" type="checkbox" ng-model="user.remember" />
			<label for="remember">Remember Me</label>
		</div>

		<button type="submit" class="btn btn-default ladda-button full-width" ng-click="login($event, user)" data-style="zoom-in" ladda-button="isSaving">
			<span class="ladda-label">Login</span>
		</button>
	
		<div>
			<a href="#" ng-click="toggleMode('Forgot Password')">Forgot Password</a>
		</div>
	</div>
	
	<div ng-show="mode === 'Forgot Password'">
		<div class="form-group" ng-class="{ 'has-error': hasError(user, 'email', loginForm.txtEmailForgot, forceDirty) }">
			<input id="txtEmailForgot" name="txtEmailForgot" type="text" class="form-control" placeholder="Email Address" ng-model="user.email"
					ng-keypress="retreievePassword($event, user)" error-message message="errorMessage(user, 'email', loginForm.txtEmailForgot, forceDirty)" />
		</div>
		
		<p>
			Enter the email address used to create your account.
			<a href="#" class="dont-know-link">I don't know it.</a>
		</p>
		
		<div class="control-group btn-toolbar">
			<button type="submit" class="btn btn-default ladda-button" ng-click="retreievePassword($event, user)" data-style="zoom-in" ladda-button="isSaving">
				<span class="ladda-label">Submit</span>
			</button>
			<button type="button" class="btn btn-default ladda-button" ng-click="user.email = ''; toggleMode('Login')">
				<span class="ladda-label">Cancel</span>
			</button>
		</div>
	</div>
</form>