<div class="confirm-user">
	<form name="changePasswordForm" id="change-password-form" novalidate="novalidate">
		<div class="header">
			<div>
				<span class="icon-launch"></span>
				<span class="content">CONTENT</span>
				<span class="launch">LAUNCH</span>
			</div>
			<div>Reset Password</div>
		</div>

		<div class="form-group" ng-class="{ 'has-error': !!passwordError }" ng-hide="isConfirmUser">
			<input id="currentPassword" name="currentPassword" type="password" class="form-control" placeholder="Current Password"
					ng-model="currentPassword" ng-keypress="changePassword($event)" ng-disabled="isDisabled"
					error-message message="passwordError" />
		</div>

		<div class="form-group" ng-class="{ 'has-error': !!newPasswordError }">
			<input id="newPassword" name="newPassword" type="password" class="form-control" placeholder="New Password"
					ng-model="newPassword" ng-keypress="changePassword($event)" ng-disabled="isDisabled"
					error-message message="newPasswordError" />
		</div>

		<div class="form-group" ng-class="{ 'has-error': !!confirmPasswordError }">
			<input id="confirmPassword" name="confirmPassword" type="password" class="form-control" placeholder="Confirm Password"
					ng-model="confirmPassword" ng-keypress="changePassword($event)" ng-disabled="isDisabled"
					error-message message="confirmPasswordError" />
		</div>

		<button type="button" class="btn btn-default ladda-button" ng-click="changePassword($event)" data-style="zoom-in" ladda-button="isSaving" ng-disabled="isDisabled">
			<span class="ladda-label">Submit</span>
		</button>
	</form>	
</div>