<form name="editRole" class="role-editor" novalidate="novalidate">
	<div class="control-group">
		<div class="form-group" ng-class="{ 'has-error': hasError(selectedRole, 'name', editRole.txtRoleName) }">
			<label class="control-label" for="txtRoleName">User Role Name</label>
			<input type="text" id="txtRoleName" name="txtRoleName" class="form-control" ng-model="selectedRole.name"
					error-message message="errorMessage(selectedRole, 'name', editRole.txtRoleName)" />
		</div>
		<div class="form-group" ng-class="{ 'has-error': hasError(selectedRole, 'active', editRole.selStatus) }">
			<label class="control-label" for="selStatus">Status</label>
			<select id="selStatus" name="selStatus" class="form-control" ng-model="selectedRole.active"
					error-message message="errorMessage(selectedRole, 'active', editRole.selStatus)">
				<option value="true" ng-selected="selectedRole.active === true">Active</option>
				<option value="false" ng-selected="selectedRole.active !== true">Inactive</option>
			</select>
		</div>
	</div>
</form>