<div class="view support">
	<div class="right-pane">
		<h2 class="right-pane-header">Customer Support</h2>
		
		<div class="right-pane-content">
			<form name="supportForm" novalidate="novalidate">
				<div class="control-group">
					<div class="form-group">
						<label for="txtEmailAddress">Email Address</label>
						<input type="text" id="txtEmailAddress" name="txtEmailAddress" class="form-control" ng-model="email" />
					</div>
				</div>

				<div class="control-group">
					<div class="form-group">
						<label for="txtName">Name</label>
						<input type="text" id="txtName" name="txtName" class="form-control" ng-model="name" />
					</div>
				</div>

				<div class="control-group">
					<div class="form-group">
						<label for="txtCompany">Company</label>
						<input type="text" id="txtCompany" name="txtCompany" class="form-control" ng-model="company" />
					</div>
				</div>

				<div class="control-group">
					<div class="form-group">
						<label for="selModule">Which Module are you experiencing trouble with?</label>
						<select id="selModule" name="selModule" class="form-control"
							ng-options="m for m in modules" ng-model="module"></select>
					</div>
				</div>
				
				<div class="control-group">
					<div class="form-group">
						<label for="txtDescription">Please describe your problem.</label>
						<textarea class="form-control" rows="6" ng-model="description"></textarea>
					</div>
				</div>
				
				<button class="btn btn-black" ng-click="sendMessage()">Send to Customer Support</button>
			</form>
		</div>
	</div>
</div>

<div class="full-screen-modal" ng-show="isSaving">
	<spinner spin="{ color: 'white', length: 50, width: 10, radius: 30 }"></spinner>
</div>