<div class="tasks-header">
	Tasks
</div>
		
<accordion close-others="false" class="task-group">
	<accordion-group is-open="(parentStatus == tg.status)" ng-repeat="tg in taskGroups">
		<accordion-heading>
			<div class="task-group-header" ng-class="{ active: parentStatus >= tg.status }">
				<i class="fa" ng-class="{'fa-caret-down': (parentStatus == tg.status), 'fa-caret-right': !(parentStatus == tg.status)}"></i>
				{{ tg.name() }}
				
				<span class="fa fa-plus-circle" ng-class="{ active: taskGroupIsActive(tg) }" ng-click="editTask(tg, null, $event)" ng-show="canCreateTasks"></span>
				<span class="task-group-header-date" ng-show="!taskGroupIsActive(tg)">Completed: {{ tg.formattedCompleteDate() }}</span>
				<span class="task-group-header-date" ng-show="taskGroupIsActive(tg)" ng-class="{ error: tg.isOverdue(parentStatus) }">
					Due: {{ tg.formattedDueDate() }}
					<span class="fa fa-calendar" datepicker-popup="MM/dd/yyyy" is-open="opened" datepicker-append-to-body="true" show-weeks="false" show-button-bar="false"
						ng-model="tg.dueDate" ng-click="opened = openCalendar(opened, $event)" ng-change="saveTaskGroup(tg)"></span>
				</span>
			</div>
		</accordion-heading>
		<ul class="task-group-list">
			<li class="task-group-task" ng-repeat="t in tg.tasks" ng-class="{ disabled: t.isComplete }">
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="t.isComplete" ng-disabled="!canEditTask(tg, t)" ng-change="toggleTaskActiveStatus(tg, t)" />
					{{ t.name }} - <span ng-class="{ error: t.isOverdue() }">Due: {{ t.formattedDueDate() }}</span>
				</label>
				<span class="fa fa-trash-o" ng-click="deleteTask(tg, t)" ng-show="canDeleteTasks"></span>
				<div>
					<a ng-click="editTask(tg, t, $event)" ng-show="canAssignTasks">Assigned to {{ getUserName(t.userId) }}</a>
					<span ng-hide="canAssignTasks">Assigned to {{ getUserName(t.userId) }}</span>
				</div>
			</div>
			</li>
		</ul>
	</accordion-group>
</accordion>

<script type="text/ng-template" id="create-task.html">
	<div class="modal-header">Edit Task</div>
	<div class="modal-body">
		<form name="editTask" novalidate="novalidate">
			<div class="control-group">
				<div class="form-group">
					<label for="txtTaskName">Task Name</label>
					<input id="txtTaskName" name="txtTaskName" type="text" class="form-control" ng-model="task.name" />
				</div>

				<div class="form-group">
					<label for="selTaskAssignedTo">Assigned To</label>
					<select id="selTaskAssignedTo" name="selTaskAssignedTo" type="text"ui-select2="{ formatResult: formatUserItem, formatSelection: formatUserItem, selectOnBlur: true }" ng-model="task.userId"
							data-placeholder="Select Assignee">
						<option value=""></option>
						<option ng-repeat="u in users" value="{{ u.id }}">{{ u.formatName() }}</option>
					</select>
				</div>

				<div class="form-group">
					<label for="txtTaskDueDate">Due Date</label>
					<div class="input-group">
						<input id="txtTaskDueDate" name="txtTaskDueDate" type="text" class="form-control" ng-model="task.dueDate" value="{{ task.dueDate }}"
							datepicker-popup="MM/dd/yyyy" is-open="opened" show-weeks="false" show-button-bar="false" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="opened = openCalendar(opened, $event)"><i class="fa fa-calendar"></i></button>
						</span>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="save()">Save</button>
		<button class="btn btn-primary" ng-click="cancel()">Cancel</button>
	</div>
</script>