<div class="terms-modal">
	<div>
		<h4>WEBSITE TERMS AND CONDITIONS OF USE</h4>

		<p>Content Launch Solutions, Inc. (“CLSI”) operates this website (“Site”) to provide online access to and information about its products and services.  Your use of this Site constitutes your knowledge of and agreement to adhere to the following terms and conditions:</p>

		<p><b>1. <span class='indentHeader'>Definitions.</span></b>  The following words or phrases appearing in the Terms and Conditions of Use shall have the meanings set forth herein without regard to capitalization:</p>

		<ul>
			<li>“<b>We,”</b> <b>“Us”</b> or <b>“Our”</b> shall mean CLSI;</li>
			<li><b>“You”</b> or <b>“Your”</b> means any user of this Site or services provided by CLSI through this Site and includes any entity you represent or work for;</li>
			<li><b>“Content”</b> means all text, input, graphics, videos, trade dress, designs, trademarks, works of authorship, features, functions, data, and other information, materials and intellectual property displayed on or contained within this Site;</li>
			<li><b>“Site”</b> shall mean ContentLaunch.com</li>
			<li><b>“Services”</b> shall mean our software, subscriptions, content, and materials made available at or through the Site for use or purchase;</li>
			<li><b>“Software”</b> means any software we offer at or through the Site for which a license is provided to users as part of the services.</li>
		</ul>

		<p><b>2. <span class='indentHeader'>Our Services and Subscriptions.</span></b></p>

		<p><b>(a) Fees and Billing</b></p>
		<p>Fees for services are posted on the Site and are subject to change. Fees will be automatically charged to the credit card or bank account you give to us for billing purposes. <b>All fees are non-refundable fourteen (14) days after purchase. If you cancel a monthly subscription, no refunds or credit will be given for the portion of the month in which service is terminated. If you subscribe to an annual plan and cancel, no refunds will be given for unused months. There will also be no credit or refund for a downgrade to a different plan.</b></p>

		<p><b>(b) Registration and Use of Passwords.</b></p>
		<p>Many services require creation of an account with a user ID and password. If you apply for and secure a user ID and password from us, you agree that (a) you will provide complete, accurate and truthful information on the application, (b) you will not allow anyone else to use your ID and password to gain access to the services, (c) you will notify us promptly if you become aware of any unauthorized use of your user ID or password; (d) you will notify us promptly if any information provided with your application for an account changes or otherwise becomes inaccurate or incomplete, and (e) you will indemnify, defend and hold us harmless for any damages arising out of the misuse or unlawful use of your user ID and password caused by any improper use or disclosure by you.</p>

		<p><b>(c) License.</b></p>
		<p>Subject to timely payment of the applicable fees and in accordance with the terms and conditions herein, you are granted a limited, non-exclusive, non-assignable license to use the software and services purchased through the Site.</p>

		<p><b>(d) Termination.</b></p>

		<p class='indentSub'><b>(1) Termination by You.</b></p>
		<p>Except during the FREE TRIAL PERIOD in which you may cancel at any time, cancellation of your subscription requires twenty (20) days advance written notice to us.  Cancellation shall be effective on the twenty-first day after we receive your written notice.  If the twenty-day period extends into another month, you will be billed for the subsequent month.</p>

		<p class='indentSub'><b>(2) Termination by Us.</b></p>
		<p>Except in situations otherwise set forth in these Terms and Conditions of Use which may warrantimmediate termination of services, we reserve the right to terminate services and close your account after giving you ten (10) days written notice of non-payment of fees or for other violations of the Terms and Conditions of Use.  In the event of our termination of services, you are still responsible for all fees for services up to the date of cancellation.  We are not responsible for any loss of your data, content, or materials upon termination of services.  You should backup your data, content, or materials on a regular basis.</p>

		<p><b>3. <span class='indentHeader'>Privacy.</span></b></p>

		<p>For our policies and practices concerning the collection, use and disclosure of information about you, please review our Privacy Policy at <a href="http://contentlaunch.com/privacy-policy">http://contentlaunch.com/privacy-policy</a>.</p>

		<p><b>4. <span class='indentHeader'>Disclosure of Your Account Information.</span></b></p>

		<p>We may disclose your account information if we are required to do so by law or as may be necessary to comply with legal process, or to enforce the terms of this agreement, respond to your requests for customer service, and protect our property, safety and legal rights or the property, safety and legal rights of others.</p>

		<p><b>5. <span class='indentHeader'>Permitted Use.</span></b></p>	

		<p>All use of this Site and any information, data, images and any copyrighted works (“Content”) on the Site are strictly for your personal, non-commercial use only.  You agree to use the Site and its Content only in accordance with applicable law.  Use of any Content from this Site, including further reproduction of dissemination of the content to others, without the express written consent of CLSI is strictly prohibited.</p>	

		<p><b>6. <span class='indentHeader'>Copyrighted Material.</span></b></p>

		<p>All of the Content and the proprietary technology upon which the Site operates is the exclusive property of CLSI.  Except as specifically authorized through the Site with regard to use of Content, the Content may not be copied, reproduced, modified, published, transmitted or disseminated in any form or by any means.</p>

		<p><b>7. <span class='indentHeader'>Policy Regarding Customer/User Feedback, Posts or Input.</span></b></p>

		<p>CLSI reserves the right to use and incorporate into the Site or its products any unsolicited suggestions, feedback or input from customers or users without payment or recognition.  Any unsolicited information incorporated into the Site or Content becomes the exclusive property of CLSI.  You also agree that we may use your name and/or logo on the Site or in our promotional materials strictly for the purpose of identifying you as a customer.</p>

		<p>You represent that you have the legal right to use and disseminate all information and materials you post to the Site or provide to CLSI including, but not limited to, any consent, authorization, release or license from a third party necessary to submit the information and materials.  You further represent that posting or sharing of the information and materials will not infringe upon the intellectual property rights of any third party or constitute a breach of a contractual agreement with any third party.  You further represent you are who you say you are and you have not submitted any false or fictitious data about yourself or third parties.  You represent that all information and materials you post to the Site or provide to CLSI are truthful and accurate.</p>

		<p>CLSI reserves the right, in its sole discretion, to ban or remove any information or materials posted to the Site which, in its opinion, are threatening, harassing, libelous, defamatory, offensive, obscene, discriminatory or otherwise not in keeping with the character and purpose of the Site.  Customers or users posting such information or materials may be blocked from further Site use or services without warning and CLSI may report such activity to the proper authorities.</p>

		<p><b>8. <span class='indentHeader'>Indemnification.</span></b></p>

		<p><b>You hereby agree to indemnify, defend and hold harmless CLSI, its agents, employees, officers, and directors from all claims, demands, lawsuits or other proceedings by third parties for damages, fines, or other losses, including attorney fees and costs, arising out of any information and materials you post to the Site or provide to CLSI, your violation of applicable law, or any other violation of these Terms and Conditions of Use.</b></p>

		<p><b>9. <span class='indentHeader'>Links to Other Sites.</span></b></p>

		<p>Links to other websites from this Site are provided solely as a matter of convenience and general interest.  CLSI does not endorse or promote any linked site and is not responsible for the content of any linked site.  If you use a link to another site, you will leave this Site and thereafter be subject to the Terms of Use of the applicable linked site</p>

		<p><b>10. <span class='indentHeader'>Downloads.</span></b></p>		

		<p>CLSI DOES NOT GUARANTEE OR WARRANT THAT ANY FILES AVAILABLE FOR DOWNLOADING FROM THIS SITE WILL BE FREE OF VIRUSES OR OTHER HARMFUL COMPUTER CODES, FILES OR PROGRAMS.  YOU ARE URGED TO UTILIZE YOUR OWN PROTE CTIVE SOFTWARE TO PREVENT CORRUPTION OF YOUR SYSTEM.</p>

		<p><b>11. <span class='indentHeader'>DISCLAIMERS/LIMITATION.</span></b></p>

		<p>CLSI AND ITS SERVICE PROVIDERS MAKE NO REPRESENTATIONS OR WARRANTIES REGARDING THE SUITABILITY, RELIABILITY, TIMELINESS, SECURITY OR ACCURACY OF THE SITE OR ITS CONTENT FOR ANY PURPOSE. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW.  ALL CONTENT, SOFTWARE, PRODUCTS, SERVICE, INFORMATION AND OTHER DATA A CUSTOMER OR USER OBTAINS THROUGH THIS SITE IS PROVIDED “AS IS” WITHOUT WARRANTY OR CONDITION OF ANY KIND INCLUDING FITNESS FOR A PARTICULAR PURPOSE. <b>CLSI HEREBY DISCLAIMS ALL WARRANTIES</b>, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND TITLE AND NON-INFRINGEMENT. <b>CUSTOMER OR USER HEREBY ACCEPTS FULLY THE RISK OF ANY FURTHER USE OF ANY CONTENT FROM THIS SITE OR OTHER CLSI PRODUCTS OR SERVICES</b>.</p>

		<p>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL CLSI BE LIABLE TO A CUSTOMER OR USER FOR ANY INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR OTHER TYPE OF DAMAGES, INCLUDING WITHOUT LIMITATION DAMAGES FOR COVER OR LOSS OF USE, DATA, REVENUE, OR REPAIR, ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OF OR PERFORMANCE OF THE SITE OR THE INABILITY TO USE THE SITE OR USE OF OTHER CLSI SERVICES.  DIRECT DAMAGES FOR FAILURE TO PROVIDE SERVICES OR FOR FAILED PERFORMANCE OF CONTRACTED SERVICES THROUGH THIS SITE SHALL BE LIMITED SOLELY TO REIMBURSEMENT OF THE FEES PAID BY THE CUSTOMER FOR THE CONTRACTED SERVICES.</p>

		<p><b>12. <span class='indentHeader'>Entire Agreement.</span></b></p>

		<p>The Terms and Conditions of Use constitute the entire agreement between CLSI and any customer or user of this Site with regard to the use of the Site or the Content.  No customer or user may bind CLSI to any other term or condition except through a writing signed by the customer or user and an authorized representative of CLSI.  CLSI’s waiver or restraint from enforcement of any violation of these Terms and Conditions shall not constitute a waiver of a further violation or prevent CLSI from enforcement of the Terms and Conditions thereafter.</p>

		<p><b>13. <span class='indentHeader'>Corrections/Modifications.</span></b></p>

		<p>Although CLSI has attempted to ensure the accuracy of the Content, there may be typographical errors, incomplete information or other inaccuracies.  CLSI, as the exclusive owner of the Content, reserves the right to correct, change or modify the Site or its Content or CLSI’s services at any time in its sole discretion.</p>

		<p><b>14. <span class='indentHeader'>Jurisdiction and Venue – Binding Arbitration.</span></b></p>

		<p>Any disputes arising out of the use of the Site or its Content or of CLSI’s products and services shall be submitted to binding arbitration under the commercial rules of the American Arbitration Association in the county in which CLSI maintains its California headquarters.  All disputes will be governed by the law of the State of California without regard to conflicts of law provisions.</p>

		<p><b>15. <span class='indentHeader'>Severability.</span></b></p>

		<p>If any portion of these Terms and Conditions of Use are found to be invalid and unenforceable by a court of competent jurisdiction, then the court is empowered to strike or remove only that offending portion and all other Terms and Conditions of Use will remain in full force and effect.</p>

		<p><b>16. <span class='indentHeader'>Notices.</span></b></p>

		<p>We may give notice to you through posting on the Site, email or regular mail.  Your failure to view the site shall not be a bar to effective notice by us.  You must give notice to us online via our “Contact Us” form or by certified mail at the following address for CLSI: 5256 S. Mission Road Suite 124 Bonsall, CA 92003</p>

	</div>

	<div class="control-group btn-toolbar">
	  <button type="button" class="btn btn-default" ng-click="close()">Close</button>
	</div>
</div>
