<div class="tier-components">
	<div class="tier-tiles">
		<div class="title">Tier {{ subscription.id }}</div>
		<div class="tile {{ component.name }}" ng-repeat="component in selectedSubscription.components" ng-class="{ disabled: !component.active }">
			<img ng-src="{{ imageSource(component) }}" />
			{{ component.title }}
		</div>
	</div>
	
	<div class="tier-info">
		<div>Price / Month: <span ng-bind="selectedSubscription.pricePerMonth"></span></div>
		<div>Max # Users: <span ng-bind="selectedSubscription.numberLicenses"></span></div>
		<div>Training: <span ng-bind="(selectedSubscription.training === true ? 'Included' : 'Not Included')"></span></div>
		<div>Additional Features: <span ng-repeat="feature in selectedSubscription.features">{{ feature }}, </span></div>
	</div>
</div>