<form name="editUser" class="user-editor" novalidate="novalidate">
	<div class="user-image-upload">
		<div class="user-image" ng-style="{ 'background-image': selectedUser.imageUrl() }" ng-file-drop="uploadPhoto($files)"></div>
		<div class="control-group btn-group" ng-show="canEditUser">
			<button type="button" class="btn btn-default ladda-button" onclick="$('#filPhoto').click()" data-style="zoom-in" ladda-button="isSaving" ng-disabled="isNewUser">
				<span class="ladda-label">Upload Photo</span>
			</button>
		</div>
		<input type="file" id="filPhoto" accept="{{ launch.config.USER_PHOTO_FILE_TYPES.join(',') }}" ng-file-select="uploadPhoto($files, editUser, editUser.filPhoto)" />
		<progressbar class="progress-striped active" value="percentComplete" ng-show="isUploading">
			<span>{{ percentComplete }}%</span>
		</progressbar>  
	</div>
	<div class="user-editor">
		<div class="control-group">
			<div class="form-group" ng-class="{ 'has-error': hasError('firstName', editUser.txtFirstName) }">
				<label class="control-label" for="txtFirstName">First Name</label>
				<input type="text" id="txtFirstName" name="txtFirstName" class="form-control" ng-model="selectedUser.firstName"
						error-message message="errorMessage('firstName', editUser.txtFirstName)" />
			</div>
			<div class="form-group" ng-class="{ 'has-error': hasError('lastName', editUser.txtLastName) }">
				<label class="control-label" for="txtLastName">Last Name</label>
				<input type="text" id="txtLastName" name="txtLastName" class="form-control" ng-model="selectedUser.lastName"
						error-message message="errorMessage('lastName', editUser.txtLastName)" />
			</div>
			<div class="form-group" ng-class="{ 'has-error': hasError('title', editUser.txtTitle) }">
				<label class="control-label" for="txtTitle">Title</label>
				<input type="text" id="txtTitle" name="txtTitle" class="form-control" ng-model="selectedUser.title"
						error-message message="errorMessage('title', editUser.txtTitle)" ng-disabled="selfEditing" />
			</div>
		</div>

		<div class="control-group">
			<div class="form-group" ng-class="{ 'has-error': hasError('email', editUser.txtEmail) }">
				<label class="control-label" for="txtEmail">Email</label>
				<input type="text" required="required" id="txtEmail" name="txtEmail" class="form-control" ng-model="selectedUser.email"
						error-message message="errorMessage('email', editUser.txtEmail)" />
			</div>
			<div class="form-group" ng-class="{ 'has-error': hasError('phoneNumber', editUser.txtPhoneNumber) }">
				<label class="control-label" for="txtPhoneNumber">Phone</label>
				<input type="text" id="txtPhoneNumber" name="txtPhoneNumber" class="form-control" ng-model="selectedUser.phoneNumber"
						error-message message="errorMessage('phoneNumber', editUser.txtPhoneNumber)" />
			</div>
		</div>

		<div class="control-group">
			<div class="form-group">
				<label class="control-label" for="txtAddress1">Address 1</label>
				<input type="text" id="txtAddress1" name="txtAddress1" class="form-control" ng-model="selectedUser.address1" />
			</div>
			<div class="form-group">
				<label class="control-label" for="txtAddress2">Address 2</label>
				<input type="text" id="txtAddress2" name="txtAddress2" class="form-control" ng-model="selectedUser.address2" />
			</div>
		</div>

		<div class="control-group">
			<div class="form-group" style="vertical-align: top ">
				<label class="control-label" for="txtCity">City</label>
				<input type="text" id="txtCity" name="txtCity" class="form-control" ng-model="selectedUser.city" />
			</div>
			<div class="form-group">
				<label class="control-label" for="selCountry">Country</label>
				<select id="selCountry" name="selCountry" class="form-control" ng-model="selectedUser.country">
					<option value="Australia">Australia</option>
					<option value="Canada">Canada</option>
					<option value="UK">UK</option>
					<option value="USA">USA</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label" for="selState">State / Prov</label>
				<select id="selState" name="selState" class="form-control" ng-model="selectedUser.state" ng-options="s.name for s in getStates() track by s.value" ng-disabled="selectedUser.country == 'Australia' || selectedUser.country == 'UK'"></select>
			</div>
		</div>

		<div class="control-group">
			<div class="form-group" ng-class="{ 'has-error': hasError('active', editUser.selStatus) }" ng-show="!isNewUser">
				<label class="control-label" for="selStatus">Status</label>
				<select id="selStatus" name="selStatus" class="form-control" ng-model="selectedUser.active" ng-disabled="selfEditing"
						error-message message="errorMessage('active', editUser.selStatus)">
					<option value="true" ng-selected="selectedUser.active === true">Active</option>
					<option value="false" ng-selected="selectedUser.active !== true">Inactive</option>
				</select>
			</div>
			<div class="form-group" ng-class="{ 'has-error': hasError('role', editUser.selRole) }">
				<label class="control-label" for="selRole">Role</label>
				<select id="selRole" name="selRole" class="form-control"
						ng-model="selectedUser.role" ng-options="r.displayName for r in roles track by r.id" ng-disabled="selfEditing"
						error-message message="errorMessage('role', editUser.selRole)"></select>
			</div>
		</div>
		
		<div class="form-group" ng-show="selfEditing">
			<a href="#" ng-click="resetPassword()">Reset Password</a>
		</div>

		<div class="control-group btn-toolbar" ng-show="canEditUser">
			<button type="button" class="btn btn-default ladda-button" ng-click="saveUser(editUser)" data-style="zoom-in" ladda-button="isSaving">
				<span class="ladda-label">Save</span>
			</button>
			<button type="button" class="btn btn-default" ng-click="cancelEdit(editUser)">Cancel</button>
			<button type="button" class="btn btn-default" ng-click="deleteUser(editUser)" ng-show="!creatingNew && !selfEditing">Delete</button>
		</div>
	</div>
</form>