<div class="view welcome">
	<div class="welcome-header">
		<h1>Welcome!</h1>
		<p>to</p>
		<div class="cl-banner cl-banner-x-large cl-banner-content-launch"></div>
		<p>We're glad you're here!</p>
	</div>
	
	<div class="welcome-content">
		<p>
			<span class="welcome-content-em">Just a few quick things before you get started:</span>
		</p>
		
		<ul class="fa-ul">
			<li><i class="fa-li fa fa-check"></i> Go to <a href="/account">Account Settings</a> first to set up your user accounts, content connections, and other important account details</li>
			<li><i class="fa-li fa fa-check"></i> Read the Content Launch <a href="" target="_blank">Quick Start Guide</a> and <a href="" target="_blank">User Manual</a></li>
			<li><i class="fa-li fa fa-check"></i> Start your first <a href="/create">Content Project</a>! Perhaps a blog or an eBook?</li>
			<li><i class="fa-li fa fa-check"></i> Set up your content <a href="/calendar">Calendar</a></li>
		</ul>
		
		<p>
			Questions? Please contact our ready and willing <a href="/support">Support</a> team.
		</p>
		
		<p>
			Ideas for improvements? <a href="">Contact Us</a>
		</p>
		
		<div class="small-text">
			<strong>Please Note:</strong>
			Content Launch was just released and is in it's beta phase. Please bear with us as we fix any issues.
		</div>
	</div>
</div>
