<div class="view welcome">
	<div class="welcome-header">
		<h1>WELCOME TO</h1>
		<div class="cl-banner cl-banner-x-large cl-banner-content-launch"></div>
		<p>We're glad you're here!</p>
	</div>
	
	<div class="welcome-content">
		<div class="welcome-content-em">Just a few quick things before you get started:</div>
		
		<ul class="fa-ul">
			<li><i class="fa-li fa fa-check"></i> Go to <a href="/account">Account Settings</a> first to set up your user accounts, content connections, and other important account details</li>
			<li><i class="fa-li fa fa-check"></i> Read the <a href="/assets/documents/Quick_Start_Guide.pdf" target="_blank">Content Launch Quick Start Guide</a></li>
			<li><i class="fa-li fa fa-check"></i> Start your first <a href="/create">Content Project</a>! Perhaps a blog or an eBook?</li>
			<li><i class="fa-li fa fa-check"></i> Set up your <a href="/calendar">Content Calendar</a></li>
		</ul>

		<p>
			Questions? Please contact our ready and willing <a href="/support">Support</a> team.
		</p>
		
		<p>
			Ideas for improvements? <a href="/support">Contact Us</a>
		</p>
		
		<!--<div class="small-text">
			<strong>Please Note:</strong>
			Content Launch was just released. Please bear with us as we fix any issues.
		</div>-->
		
		<ul class="signup-module-list">
			<li>
				<div class="signup-module-list-item create">
					<span class="cl-icon cl-icon-navigation cl-icon-navigation-create"></span>
				</div>
			</li>
			<li>
				<div class="signup-module-list-item collaborate">
					<span class="cl-icon cl-icon-navigation cl-icon-navigation-collaborate"></span>
				</div>
			</li>
			<li>
				<div class="signup-module-list-item consult">
					<span class="cl-icon cl-icon-navigation cl-icon-navigation-consult"></span>
				</div>
			</li>
			<li>
				<div class="signup-module-list-item promote">
					<span class="cl-icon cl-icon-navigation cl-icon-navigation-promote"></span>
				</div>
			</li>
			<li>
				<div class="signup-module-list-item measure">
					<span class="cl-icon cl-icon-navigation cl-icon-navigation-measure"></span>
				</div>
			</li>
		</ul>
	</div>
</div>
