//------------------------------
// *****************************
// Nav
// *****************************
//------------------------------

.settings-nav {
  padding: 0;
  margin: 0 15px 20px 15px;
  text-align: center;
  border-bottom: 1px solid #dadfeb;

  > li {
    list-style: none;
    display: inline-block;

    > a {
      position: relative;
      display: inline-block;
      height: 47px;
      line-height: 47px;
      margin-bottom: -1px;
      color: #908a9a;
      font-family: $source-sans-pro;
      font-weight: bold;
      font-size: 15px;
      padding: 0 15px;
    }

    &.active {
      > a {
        color: #2482ff;
        border-bottom: 1px solid #2482ff;
      }
    }
  }
}
