//------------------------------
// *****************************
// Settings
// *****************************
//------------------------------

.settings-profile-image {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 20px 0;

  > img {
    max-width: 100%;
  }
}

.settings-profile-info {
  margin-bottom: 20px;

  > h4 {
    font-family: $source-sans-pro;
    font-weight: bold;
    color: #392c46;
    margin: 0;
  }

  > span {
    font-size: 15px;
    color: #918d97;
    font-family: $source-sans-pro;
  }
}

.settings-profile-subscription {
  display: inline-block;
  padding: 8px 14px;
  color: $base-color-white;
  font-size: 14px;
  font-family: $source-sans-pro;
  background: #b4a1db;
  border-radius: 2px;
  margin-bottom: 20px;
}

.settings-profile-heading {
  margin-top: 0;
  margin-bottom: 30px;
}

.settings-text {
  color: #b1aeb4;
  font-size: 15px;
  font-weight: normal;
  font-family: $source-sans-pro;
  margin: 5px 0;
}

.settings-table {
  margin-top: 20px;
  margin-bottom: 20px;

  th {
    font-family: $source-sans-pro;
    font-size: 13px;
    color: #2482ff;
    border-top: 1px solid #dadfeb;
    border-bottom: 1px solid #dadfeb;
    padding: 0 5px;
  }

  td {
    font-family: $source-sans-pro;
    font-size: 14px;
    color: #392c46;
    border-bottom: 1px solid #dadfeb;
    padding: 10px 5px;
    vertical-align: top;

    &:last-child {
      text-align: right;
    }

    > a {
      color: #dadde1;
    }
  }
}
