<div class="panel panel-default panel-brainstorms">
	<div class="panel-heading">Schedule Brainstorm</div>
	<div class="panel-body">
		<div ng-repeat="brainstorm in brainstorms">
			<div class="brainstorm" ng-click="showScheduleBrainstorm(brainstorm)">
				<span class="description">{{ brainstorm.description }}</span> at {{ brainstorm.datetime | date:"MMM d, y h:mma" }}
				<span class="fa fa-trash-o" ng-click="removeBrainstorm(brainstorm, $event);"></span>
			</div>
		</div>
		<span ng-click="showScheduleBrainstorm()"><span class="glyphicon glyphicon-plus-sign"></span>New Brainstorm</span>
	</div>
</div>
