
<div class="file-preview">
  
  <div class="edit" ng-click="editFile(launchFile)" ng-show="canEditFile(launchFile)">
    <div>EDIT</div>
    <div>
      <span class="fa fa-edit"></span>
    </div>
  </div>

  <div class="description clearfix">
    <span class="cl-icon" ng-class="launchFile.fileType()"></span>
    {{ launchFile.description }}
  </div>

  <div class="row">

    <div class="info col-sm-7">
      <div class="filename">
        <a ng-href="/api/uploads/{{ launchFile.id }}/download" target="__blank">{{ launchFile.fileName }}</a>
      </div>
      <div class="rating-views">
        <span class="rating" tooltip-html-unsafe="{{ rating.tooltip() }}" tooltip-placement="right">
          <rating ng-model="rating.rate" max="rating.max" readonly="rating.isReadonly" on-hover="rating.hover(value)" on-leave="overStar = null" ng-click="rateFile(launchFile.id, rating.rate)" value="rating.rate"></rating>
        </span>
        <span class="views">{{ views }} Views</span>
      </div>
      <div class="tags">
        <span ng-repeat="tag in file.tags">{{ tag.tag }}</span>
      </div>
    </div>

    <div class="user col-sm-5">
      <div class="user-image item-image" ng-style="{ 'background-image': user.imageUrl() }"></div>
      <div class="name">{{ user.formatName() }}</div>
      <div class="date">{{ launchFile.updated | date: 'shortDate' }}</div>
    </div>

  </div>
  
</div>