//------------------------------
// *****************************
// Active Ideas
// *****************************
//------------------------------

.plan-ideas-container {
  display: table;
  border-collapse: collapse;
  width: 100%;

  &:last-child > .plan-ideas-cell {
    border-bottom: 0;
  }
}

.plan-ideas-cell {
  display: table-cell;
  padding: 15px 10px;
  vertical-align: middle;
  border-bottom: 1px solid #e6e9f1;
}

.plan-ideas-dropdown {
  position: relative;
}

.plan-ideas-title {
  margin: 0;
  font-family: $source-sans-pro;
  font-size: 16px;
  color: #1d1131;
}

.plan-ideas-text {
  display: inline-block;
  font-family: $source-sans-pro;
  font-size: 15px;
  color: #8f8b96;
}

.plan-ideas-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
