.prescription {
  form {
    label:first-of-type {
      margin-bottom: 12px;
    }
  }
}

.prescription-results {
  padding: 36px;

  h3 {
    margin-bottom: 40px;
  }

  p.result-heading {
    font-size: 16px;
  }
}