//------------------------------
// *****************************
// Utilities
// *****************************
//------------------------------

.input-search-icon {
  background: url("../images/icons/search-plan.svg") no-repeat right 10px center;
  background-size: 15px;
  padding-right: 30px;
}

.plan-panel-search {
  @extend .input;

  border: 0;
  border-bottom: 1px solid #e3e7f0;
  padding: 5px 15px;
  height: 45px;
  background: url("../images/icons/magnifier.svg") no-repeat left 10px center;
  background-size: 15px;
  padding-left: 30px;
  font-family: $source-sans-pro;
  font-size: 14px;
  margin-bottom: 0;

  &:hover, &:focus {
    outline: none;
  }
}
