
<div class="view admin-conference">
  
  <div class="col-md-3 left-pane">
    <div class="btn-group">
      <button class="btn btn-inverse btn-create" ng-click="conferenceForm()">
        NEW CONFERENCE
      </button>
    </div>
  </div>

  <div class="col-md-9 right-pane">

    <h3>Scheduled Conferences</h3>

    <table class="table conferences-table">
      <thead>
        <tr>
          <th>Description</th>
          <th>Status</th>
          <th>Date/Time</th>
          <th>Video Link</th>
          <th>Requested By</th>
          <th>Consultant</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="conference in conferences" ng-class-odd="dark">
          <td>
            <a href="#" ng-click="conferenceForm(conference)">{{ conference.description }}</a>
          </td>
          <td>
            <span ng-if="conference.status == 0">Pending</span>
            <span ng-if="conference.status == 1">Scheduled</span>
            <span ng-if="conference.status == 2">Completed</span>
          </td>
          <td><b>{{ conference.scheduled_date | date:'shortDate' }}</b><br />{{ conference.scheduled_date | date:'shortTime' }}</td>
          <td><a href="https://drive.google.com/_/yasdf">https://drive.google.com/_/yasdf</a></td>
          <td>
            <div class="user-image item-image" ng-style="{ 'background-image': conference.launchUser.imageUrl() }"></div>
            <div class="name">{{ conference.launchUser.formatName() }}</div>
          </td>
          <td>{{ conference.consultant }}</td>
        </tr>
      </tbody>
    </table>

  </div>

</div>