<div class="view consult consult-landing">
	<div class="right-pane">
		<h2 class="right-pane-header">Consult</h2>
		<div class="right-pane-content">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-2 landing-box">
					<h3>Library</h3>
					<a href="#/consult/library">
						<div ng-include="'/assets/images/library.svg'" class="landing-icon"></div>
					</a>
					<div class="text">
						Upload your own content marketing documents and educate yourself with best practice guides, videos and more from Content Launch.
         
					</div>
				</div>
				<div class="col-md-2 landing-box">
					<h3>User Forum</h3>
					<a href="#/consult/forum">
						<div ng-include="'/assets/images/forum.svg'" class="landing-icon"></div>
					</a>
					<div class="text">
						Connect and brainstorm with other Content Launch users with our interactive user forum. Discuss best practices, application guidelines and more.
         
					</div>
				</div>
				<div class="col-md-2 landing-box">
					<h3>Video Conference</h3>
					<a href="#/consult/conference">
						<div ng-include="'/assets/images/video.svg'" class="landing-icon"></div>
					</a>
					<div class="text">
						Get help and advice about anything content marketing or strategy related from Content Launch professionals through a live video conference.
         
					</div>
				</div>
				<div class="col-md-3"></div>
			</div>
			<div class="row">
				<div class="subtext">
					The Consult module gives you access to the professionals at Content Launch through a live video conference and library as well as other Content Launch
					users through our User Forum. With the Consult Module, you can upload your documents, interact with other users and even schedule a conference with
					Content Launch CEO, Jon Wuebben.
				</div>
			</div>
		</div>
	</div>
</div>
