
<div class="view consult consult-landing">
  <div class="right-pane">
    <h2 class="right-pane-header">Consult</h2>
    <div class="right-pane-content">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-2 landing-box">
          <h3>Library</h3>
          <a href="/consult/library">
            <div ng-include="'/assets/images/library.svg'" class="landing-icon"></div>
          </a>
          <div class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
          </div>
        </div>
        <div class="col-md-2 landing-box">
          <h3>User Forum</h3>
          <a href="/consult/forum">
            <div ng-include="'/assets/images/forum.svg'" class="landing-icon"></div>
          </a>
          <div class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
          </div>
        </div>
        <div class="col-md-2 landing-box">
          <h3>Video Conference</h3>
          <div ng-include="'/assets/images/video.svg'" class="landing-icon"></div>
          <div class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
        <div class="subtext">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
        </div>
      </div>
    </div>
  </div>
</div>