
<div class="modal-header">File Information</div>
  <div class="modal-body">
    <form name="fileSelectForm" novalidate="novalidate">
      <div class="control-group">
        <div class="form-group file-list-browse-controls">
          <div class="selected-file" ng-show="!!fileName" onclick="$('#filAttachment').click()">
            <span class="cl-icon cl-icon-x-large" ng-class="fileType"></span><br />
            <span class="small-text">{{ fileName }}</span>
          </div>

          <button type="button" class="btn btn-black btn-default" onclick="$('#filAttachment').click()" ng-show="!fileName">
            Browse
          </button>

          <input type="file" id="filAttachment" ng-file-select="addFile($files, fileSelectForm, fileSelectForm.filAttachment)" />
        </div>
      </div>
      <div class="control-group">
        <div class="form-group">
          <label class="control-label" for="description">Description</label>
          <textarea name="description" id="description" class="form-control" rows="5" ng-model="uploadFile.description"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Save</button>
    <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
  </div>