//------------------------------
// *****************************
// Content List
// *****************************
//------------------------------

.list-content > li {
  display: table;
  width: 100%;
  padding: 12px 10px;
  position: relative;
  border-bottom: 1px solid #E7EAF2;
  transition: .2s all;
  
  p {
    margin: 0;
    line-height: 1.2em;
  }
  
  &:hover {
    background-color: #fbfcfd;
  }
  
  .user-avatar {
    width: 40px;
    height: 40px;
  }
}
.list-content > li > * {
  display: table-cell;
  vertical-align: middle;
  padding: 0 5px;
  
  &.list-avatar {
    width: 32px;
  }
  &.list-title p {
    font-size: 1.15em;
    font-weight: 700;
    color: #1D1131;
  }
  &.list-title a {
    color: #1D1131;
    
    &:hover {
      opacity: .85;
    }
  }
  
  &.list-type {
    width: 50px;
    text-align: center;
    opacity: .45;
  }
  
  &.list-datestamp {
    width: 20%;
    text-align: right;
    color:rgba(57,44,70,0.5);
    
    p {
      font-weight: 700;
      
      span {
        font-size: .8em;
        font-weight: 400;
        letter-spacing: .02em;
        opacity: .7;
      }
    }
    
  }
  
  &.list-score {
    text-align: right;
    width: 80px;
    
    p {
      font-weight: 700;
      font-size: 1.5em;
      color: $base-color-purple;
    }
  }
}