//------------------------------
// *****************************
// Editor
// *****************************
//------------------------------

.head-actions {

  .btn-group .btn {
    min-width: 80px;
  }

  .btn {
    min-width: 115px;
  }

  .btn-group .dropdown-toggle {
    min-width: 35px;
  }

  .delimited {
    margin-right: 10px;
  }

}

.content-tasks-box-container h5 {
  margin-top: 1.2em;
  margin-bottom: .5em;
  color: rgba(29, 17, 49, 0.45);
  font-size: 1.1em;
}

.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  overflow: hidden;
}

.user-avatar img {
  width: 100%;
  height: auto;
}

.checkcircle {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  display: inline-block;
  border: 1px solid #392C46;
  color: #392C46;
  border-radius: 100%;
  font-size: 7px;
  opacity: .3;
}

.checkcircle.active {
  background-color: #2482ff;
  border-color: #2482ff;
  color: #fff;
  opacity: 1;
}

.twocols {
  display: table;
  width: 100%;
  margin-bottom: 8px;
}

.twocols > * {
  display: table-cell;
  vertical-align: top;
}

/* Tasks */

.task {
  border: 1px solid #E3E7F0;
  border-radius: 4px;
  margin-bottom: 7px;
  padding: 8px 12px;
  position: relative;
  transition: .2s all;

  &:hover {
    background-color: rgba(167, 161, 173, .1);
  }

  &.active {
    border-color: rgba(105, 68, 183, 0.65);
    background-color: rgb(248, 249, 252);
    margin-top: 25px;

    &:before {
      content: "NEXT TASK";
      color: #6844B7;
      font-size: .9em;
      font-weight: 700;
      position: absolute;
      top: -18px;
      left: 0;
    }
  }

  &.completed {
    background-color: rgb(248, 249, 252);
  }

  .body {
    padding-left: 42px;
    min-height: 40px;
  }

  p {
    margin: 0;
    opacity: .65;
  }

  .checkcircle {
    position: absolute;
    left: 18px;
    top: 14px;
  }

  .title {
    font-size: 1.2em;
    opacity: 1;
    margin-bottom: 3px;
  }

  .user-avatar {
    position: absolute;
    right: 12px;
    top: 7px;
  }
}

.task-actions {
  text-align: right;
}

.task:hover .task-actions ul {
  opacity: 1;
}

.task-actions ul {
  margin: 0;
  transition: .2s all;
  opacity: .3;
}

.task-actions ul li {
  padding: 0;
}

.task-actions a {
  display: block;
  padding: 3px 5px;
  color: rgba(108, 119, 134, 0.65);
}

.task-actions a:hover {
  color: rgba(108, 119, 134, 1);
  text-decoration: none;
}

.task .input-form-group {
  margin-bottom: 14px;
}

.task .input-form-group label,
.task .form-legend {
  color: rgba(57, 44, 70, 0.65);
  font-weight: 700;
  font-size: 15px;
  text-transform: none;
  background-color: transparent;
}

.task .form-legend {
  margin-top: -14px;
  left: 0;
  padding: 0;
}

.task .form-fieldset {
  margin-top: 35px;
}

.task .input {
  background-color: transparent;
}

.task .button-bar {
  text-align: right;
}

.task .button-bar .btn {
  min-width: 110px;
}

.task.new {
  background-color: #F8F9FC;
}

.task.new .title {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding-bottom: 2px;
  margin-bottom: 12px;
}

/* User list */
.pane-users {
  max-height: 460px;
  overflow-y: auto;
}

.list-users > li a {
  display: block;
  position: relative;
  padding: 9px 12px;
  padding-left: 60px;
  min-height: 48px;
  border-bottom: 1px solid rgba(218, 223, 235, 0.5);
  color: #392C46;
  text-decoration: none !important;
}

.list-users > li a:hover {
  background-color: rgba(167, 161, 173, 0.1);
}

.list-users > li p {
  margin: 0;
  line-height: 1.1em;
}

.list-users .email {
  opacity: .45;
  margin-top: 2px;
  font-size: .9em;
}

.list-users .user-avatar {
  position: absolute;
  left: 15px;
  margin-top: -1px;
}

/* Stages widget */
.list-stages {
  position: relative;
  display: inline-block;
}

.list-stages:before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 94%;
  position: absolute;
  top: 3%;
  left: 50%;
  background-color: rgba(167, 161, 173, 0.2);
}

.list-stages li {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 100%;
  border: 1px solid rgba(167, 161, 173, 0.15);
  color: rgba(108, 119, 134, 0.35);
  font-size: 18px;
  position: relative;
  background-color: #fff;
  z-index: 5;
  box-shadow: 0 0 0 2px #fff;
}

.list-stages li:not(:first-child) {
  margin-top: 20px;
}

.list-stages .active {
  background-color: #E9E3F4;
  border-color: #E9E3F4;
  color: #6944B7;
}

.list-stages .active:not(:last-child):before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 18px;
  position: absolute;
  top: 110%;
  left: 50%;
  background-color: #9D85D0;
}

.list-stages-side {
  position: absolute;
  right: 20px;
}

/* Video Upload Block */
.pane-videoupload {
  margin-bottom: 25px;
}

.video-box {
  border: 1px solid #f8f9fc;
  border-top: none;
  padding: 25px 40px;
}

.video-box .input-form-group {
  margin-bottom: 10px;
}
