<div class="section-header">
    <div class="paging-controls">
        <div class="form-group form-inline">
            <label class="control-label" for="selPageSize">Items per page:</label>
            <select class="form-control" id="selPageSize" name="selPageSize" ng-model="pagination.pageSize">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>

        <div style="width: 100px; text-align: center;">
            {{ (pagination.currentPage - 1) * pagination.pageSize + 1 }} 
            to {{ pagination.currentPage * pagination.pageSize | min:campaigns.length }}
            of {{ campaigns.length }}
        </div>

        <div class="pager" ng-show="campaigns.length > pagination.pageSize">
            <pagination 
                total-items="campaigns.length"
                items-per-page="pagination.pageSize"
                page="pagination.currentPage"
                direction-links="true"
                max-size="0">
            </pagination>
        </div>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th width="10px">&nbsp;</th>
            <th>
                <div sort-by="title" sort-var="sortOrder">
                    Title
                </div>
            </th>
            <th>
                <div sort-by="user.firstName" sort-var="sortOrder">
                    Creator
                </div>
            </th>
            <th>
                <div sort-by="status" sort-var="sortOrder">
                    Status
                </div>
            </th>
            <th>
                <div sort-by="startDate" sort-var="sortOrder">
                    Start - End
                </div>
            </th>
            <th>
                <div sort-by="campaignType.name" sort-var="sortOrder">
                    Campaign Type
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="campaign in campaigns | orderBy:sortOrder | paginate:pagination.currentPage:pagination.pageSize track by campaign.id">
            <td>
                <span class="tiny-circle" style="background-color: {{ campaign.color }}"></span>
            </td>
            <td>
                <a href="/calendar/campaigns/{{ campaign.id }}">
                    {{ campaign.title }}
                </a>
            </td>
            <td>{{ campaign.user.name }}</td>
            <td>{{ campaign.status ? 'Active' : 'Inactive' }}</td>
            <td>{{ campaign.startDate | moment:'MM/DD/YYYY' }} - {{ campaign.endDate | moment:'MM/DD/YYYY' }}</td>
            <td>{{ campaign.campaignType.name }}</td>
        </tr>
    </tbody>
</table>   
