<div class="section-header">
	<div class="btn-group">
		<button class="btn btn-default" ng-class="{ active: !filters.conceptsOn }" ng-click="filters.conceptsOn = false">Content</button>
		<button class="btn btn-default" ng-class="{ active: filters.conceptsOn }" ng-click="filters.conceptsOn = true">Concepts</button>
	</div>

	<div class="calendar-download">
		<a class="btn btn-default fa fa-download" target="_blank" href="/api/account/{{ user.account.id }}/campaigns/export-csv"></a>
	</div>
    
	<div class="paging-controls">
		<div class="form-group form-inline">
			<label class="control-label" for="selPageSize">Items per page:</label>
			<select class="form-control" id="selPageSize" name="selPageSize" ng-model="pagination.pageSize">
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="20">20</option>
				<option value="50">50</option>
				<option value="100">100</option>
			</select>
		</div>

		<div style="width: 100px; text-align: center;">
			{{ (pagination.currentPage - 1) * pagination.pageSize + 1 }} 
			to {{ pagination.currentPage * pagination.pageSize | min:campaignTableList.length }}
			of {{ campaignTableList.length }}
		</div>

		<div class="pager" ng-show="campaignTableList.length > pagination.pageSize">
			<pagination 
				total-items="campaignTableList.length"
				items-per-page="pagination.pageSize"
				page="pagination.currentPage"
				direction-links="true"
				max-size="0">
			</pagination>
		</div>
	</div>
</div>

<table class="table calendar-table table-striped">
    <thead>
        <tr>
            <th width="10px">&nbsp;</th>
            <th>
                <span sort-by="title" sort-var="sortOrder">
					<span class="clickable-header">Title</span>
                </span>
            </th>
            <th>
                <span sort-by="user.firstName" sort-var="sortOrder">
                    <span class="clickable-header">Creator</span>
                </span>
            </th>
            <th ng-show="filters.conceptsOn === false">
                <span sort-by="status" sort-var="sortOrder">
                    <span class="clickable-header">Status</span>
                </span>
            </th>
            <th ng-show="filters.conceptsOn === false">
                <span sort-by="startDate" sort-var="sortOrder">
                    <span class="clickable-header">Start - End</span>
                </span>
            </th>
            <th ng-show="filters.conceptsOn === false">
                <span sort-by="campaignType.name" sort-var="sortOrder">
                    <span class="clickable-header">Campaign Type</span>
                </span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="campaign in campaignTableList | orderBy:sortOrder | paginate:pagination.currentPage:pagination.pageSize track by campaign.id">
            <td>
                <span class="tiny-circle" style="background-color: {{ campaign.color }}"></span>
            </td>
            <td>
				<a href="/calendar/campaigns/{{ campaign.id }}" ng-show="campaign.status != 0">
					{{ campaign.title }}
				</a>
				<a href="/calendar/concept/edit/campaign/{{ campaign.id }}" ng-show="campaign.status == 0">
					{{ campaign.title }}
				</a>
            </td>
            <td>{{ campaign.user.name }}</td>
            <td ng-show="filters.conceptsOn === false">{{ campaign.status ? 'Active' : 'Inactive' }}</td>
            <td ng-show="filters.conceptsOn === false">{{ campaign.startDate | moment:'MM/DD/YYYY' }} - {{ campaign.endDate | moment:'MM/DD/YYYY' }}</td>
            <td ng-show="filters.conceptsOn === false">{{ campaign.campaignType.name }}</td>
        </tr>
    </tbody>
</table>   
