<div class="view calendar">
    <div class="col-md-3 left-pane">

    </div>
    <div class="col-md-9 right-pane">
        <h2 class="right-pane-header">Calendar</h2>
    
        <button ng-click="saveCampaign(campaign)">Save</button>
    
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-xs-2">[color]</div>
                        <div class="col-xs-10">
                            <h4>Concept</h4>
                            <p>{{ campaign.concept }}</p>
                        </div>
                    </div> <!-- .row -->

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" name="title" class="form-control" id="title" ng-model="campaign.title">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="status">Status</label>
                                <select name="status" class="form-control" id="status" 
                                        ng-model="campaign.status">
                                    <option value="0">Inactive</option>
                                    <option value="1">Active</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="campaignType">Campaign Type</label>
                                <select name="campaignType" class="form-control" id="campaignType" 
                                    ng-model="campaign.campaign_type"
                                    ng-options="type as type.name for type in campaignTypes track by type.id">
                                </select>
                            </div>
                        </div>
                    </div> <!-- .row -->
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="startDate">Start Date</label>
                                <input show-weeks="false" show-button-bar="false" datepicker-popup="MM/dd/yyyy" type="text" name="startDate" class="form-control" id="startDate" ng-model="campaign.start_date">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="endDate">End Date</label>
                                <input show-weeks="false" show-button-bar="false" datepicker-popup="MM/dd/yyyy" type="text" name="endDate" class="form-control" id="endDate" ng-model="campaign.end_date">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="recurring">Recurring</label>
                                <select name="recurring" class="form-control" id="recurring" 
                                        ng-model="campaign.is_recurring">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                        </div>
                    </div> <!-- .row -->
                </div> <!-- .col-md-9 -->
                <div class="col-md-3">
                    
                </div> <!-- .col-md-3 (sidebar) -->
            </div> <!-- .row -->
        </div> <!-- .container -->
        <pre>{{ campaign | json }}</pre>
    </div>
</div>