<div class="calendar-node">
    <div class="calendar-node-connection-icon">
        <span class="connection-icon {{ contentTypeIconClass }}"></span>
    </div>
    <div class="calendar-node-info">
        <div class="calendar-node-title">{{ title }}</div>
        <div class="calendar-node-status">
            <span class="stage-icon {{ workflowIconCssClass }}"></span>
            <span class="calendar-node-colorification" style="background-color:{{ circleColor }}"></span>
        </div>
    </div>
</div>