<form role="form">
    <div class="modal-header">Task Editor</div>
    <div class="modal-body">
        Tasks associated with a campaign act as a checklist, but don't appear on the marketing calendar.

        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <label for="campaignTitle">Campaign Title</label>
                    <select class="form-control" name="campaignTitle" id="campaignTitle" ng-model="task.campaignTitle">
                        <option>NYC TRADE</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="dueBy">Due by</label>
                    <input class="form-control" id="dueBy" name="dueBy" type="date" ng-model="task.dueBy">
                </div>
            </div>
        </div>
        <table class="structural small-headers">
            <thead>
                <tr>
                    <th width="50px">Complete</th>
                    <th>Task Name</th>
                    <th>Assigned to</th>
                    <th width="16px">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="assignee in task.assignees">
                    <td class="align-center">
                        <input type="checkbox">
                    </td>
                    <td>
                        <input class="form-control" type="text">
                    </td>
                    <td>
                        <select class="form-control"></select>
                    </td>
                    <td>
                        <span ng-click="removeRow(task.assignees, $index, false)" class="icon-danger glyphicon glyphicon-trash"></span>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <td class="align-center">
                    <span ng-click="addRow(task.assignees, {}, false)" class="glyphicon glyphicon-plus-sign"></span>
                </td>
                <td colspan="3">&nbsp;</td>
            </tfoot>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="onOk()">Save and Close</button>
        <button class="btn btn-default" ng-click="onCancel()">Cancel</button>
    </div>
</form>
