<div class="calendar-node-popover">
    <div class="small-nudge-down">
        <img src="/assets/images/{{ stageIcon }}" alt="stage-icon">
        <strong>Final Editing</strong>
    </div>

    <div><strong>Assigned to</strong></div>
    <div>Michael Scott &ndash; Complete</div>
    <div>Jim Halpert &ndash; Pending</div>
    <div>Pam Beasley &ndash; Pending</div>

    <hr class="simple-divider">

    <h3>Content Name</h3>
    <table class="structural">
        <tbody>
            <tr>
                <td>
                    <img src="/assets/images/{{ connectionIcon }}" alt="connection-icon">
                </td>
                <td>
                    <strong>Facebook Post</strong><br>
                    Dwight's Facebook
                </td>
            </tr>
            <tr>
                <td>
                    <span class="calendar-node-popover-colorification" style="background-color:{{ circleColor }}"></span>
                </td>
                <td>
                    <strong>NYC Trade</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="calendar-node-popover-colorification" style="background-color: black"></span>
                </td>
                <td>
                    Dwigt Schrute
                </td>
            </tr>
        </tbody>
    </table>
</div>