<form role="form">
    <div class="modal-header">Task Editor</div>
    <div class="modal-body">
        <p>Tasks associated with a campaign act as a checklist, but don't appear on the marketing calendar.</p>

        <div class="row" ng-show="showCampaignPicker">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="campaignTitle">Campaign Title</label>
                    <select class="form-control" name="campaignTitle" id="campaignTitle" ng-model="task.campaign_id" ng-options="c.id as c.title for c in campaigns">
                        <option value="">-- Campaign --</option>
                    </select>
                </div>
            </div>
        </div>
        <table class="structural small-headers">
            <thead>
                <tr>
                    <th width="50px">Complete</th>
                    <th>Task Name</th>
                    <th>Assigned to</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="align-center">
                        <input name="isComplete" type="checkbox" ng-model="task.isComplete">
                    </td>
                    <td>
                        <input name="name" class="form-control" type="text" ng-model="task.name">
                    </td>
                    <td>
                        <select name="user" class="form-control" ng-options="u.id as u.name for u in users" ng-model="task.user_id">
                            <option value="">-- Assignee --</option>
                        </select>
                    </td>
                    <td>
                        <input show-weeks="false" show-button-bar="false" datepicker-popup="MM/dd/yyyy" type="text" name="dueDate" class="form-control" id="dueDate" ng-model="task.dueDate">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="$close(task)">Save and Close</button>
        <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
    </div>
</form>
