<div class="calendar-node-popover">
    <div class="small-nudge-down">
        <span class="stage-icon {{ workflowIconCssClass }}"></span>
        <strong>{{ stage | titleCase }}</strong>
    </div>

    <div><strong>Assigned to</strong></div>
    <div>
        {{ user.name }} 
        &mdash;
        {{ isComplete ? 'Completed' : 'Pending' }}
    </div>

    <hr class="simple-divider">

    <h3>{{ content.title }}</h3>
    <table class="structural">
        <tbody>
            <tr>
                <td>
                    <span class="connection-icon {{ contentTypeIconClass }}"></span>
                </td>
                <td>
                    <strong>{{ content.contentType.name }}</strong>
                    <div>
                        {{ content.accountConnections[0].name }}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="calendar-node-popover-colorification" style="background-color:{{ circleColor }}"></span>
                </td>
                <td>
                    <strong>{{ content.campaign.title }}</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="calendar-node-popover-colorification" style="background-image: url('{{ content.user.image | imagePathFromObject }}'); border: 2px solid black; background-size: cover"></span>
                </td>
                <td>
                    {{ content.user.name }}
                </td>
            </tr>
        </tbody>
    </table>
</div>