//------------------------------
// *****************************
// OnBoarding Import
// *****************************
//------------------------------

// Workspace Variables

// Workspace Classes
.onboarding-import {
  margin-bottom: 40px;
}

.onboarding-import-menu {
  padding: 0;
  margin: 0;
  text-align: center;
  border-top: 1px solid #c8cfe1;
  border-bottom: 1px solid #c8cfe1;

  > li {
    position: relative;
    display: inline-block;
    list-style: none;

    > a {
      display: block;
      color: #c9c7cb;
      font-size: 16px;
      font-family: $source-sans-pro;
      padding: 15px;
      font-weight: bold;

      &:hover, &:focus {
        text-decoration: none;
        outline: none;
      }
    }

    &.active {
      margin-bottom: -1px;

      > a {
        color: #6944b7;
        border-bottom: 2px solid #6944b7;
      }
    }
  }
}

.onboarding-import-container {
  margin-bottom: 30px;

  ul.list-group li {
    cursor: pointer;
  }

  .onboarding-import-list {
    padding-top: 20px;
  }
}

.onboarding-import-item {
  padding: 10px 15px;
  border-bottom: 1px solid #e3e7f0;
  text-align: center;
  height: 160px;

  @include clearfix;

  &.active {
    background: #f8f9fc;
  }

  .button {
    letter-spacing: .03em;
    text-transform: uppercase;
    margin-top: 8px;
  }

  &-additional-info {
    padding-left: 58px;
  }

  .onboarding-import-item-img {
    display: block;
    height: 52px;
    margin: 8px auto;
  }

  .onboarding-import-item-title {
    text-align: center;
  }
}

#wordpressOnboardingInfo {
  padding-top: 20px;

  .input-form-group {
    margin-bottom: 0;
  }
}