//------------------------------
// *****************************
// Score
// *****************************
//------------------------------

// Variables

// Classes
.onboarding-score {

}

.onboarding-score-section-row {
  border-top: 1px solid #e0dee2;

  @include clearfix;

  &:first-child {
    margin-top: 40px;
  }
  &:last-child {
    margin-bottom: 40px;
  }
}

.onboarding-score-section {
  border-left: 1px solid #e0dee2;
  padding: 20px;

  &:first-child {
    border-left: 0;
  }
}

.onboarding-score-result {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: $source-sans-pro;
  font-weight: bold;

  &:before {
    position: absolute;
    top: -17px;
    left: 50%;
    margin-left: -15px;
    display: inline-block;
    content: " ";
    width: 30px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    border-radius: 50%;
    border: 1px solid #e0dee2;
    background: $base-color-white;
    font-family: $icon-fonts !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &.positive {
    color: #85b200;

    &:before {
      content: "\e911";
    }
  }
  &.negative {
    color: #f24738;

    &:before {
      content: "\e91f";
    }
  }

}
