@import 'variables.less';
@import 'mixins.less';
@import 'bootstrap-overrides.less';

html, body {
	height: 100%;
}

body {
  background: @background-color;
  color: @text-color;
  font-family: Lato, sans-serif;
  min-height: 100%;

}

header {
	position: relative;

	.navbar {
		border: 0;

		ul.nav {
			li {
				cursor: pointer;
				height: @navHeight;
				padding: @navPadding;
				text-align: center;
				vertical-align: middle;
				width: @navWidth;

				.dark {
					border-radius: 8px;
					color: #ffffff;
					font-size: 6pt;
					.inner-nav-width(@navWidth, @navPadding);

					img {
						height: 40px;
						margin: 0 0 4px 0;
					}
				}

				&.home {
					background-color: @homeColor;

					.dark {
						background-color: @homeColorDark;
					}

					.top-arrow {
						border-top-color: @homeColor;
					}
				}

				&.consult {
					background-color: @consultColor;

					.dark {
						background-color: @consultColorDark;
					}

					.top-arrow {
						border-top-color: @consultColor;
					}
				}

				&.create {
					background-color: @createColor;

					.dark {
						background-color: @createColorDark;
					}

					.top-arrow {
						border-top-color: @createColor;
					}
				}

				&.collaborate {
					background-color: @collaborateColor;

					.dark {
						background-color: @collaborateColorDark;
					}

					.top-arrow {
						border-top-color: @collaborateColor;
					}
				}

				&.calendar {
					background-color: @calendarColor;

					.dark {
						background-color: @calendarColorDark;
					}

					.top-arrow {
						border-top-color: @calendarColor;
					}
				}

				&.launch {
					background-color: @launchColor;

					.dark {
						background-color: @launchColorDark;
					}

					.top-arrow {
						border-top-color: @launchColor;
					}
				}

				&.measure {
					background-color: @meaureColor;

					.dark {
						background-color: @meaureColorDark;
					}

					.top-arrow {
						border-top-color: @meaureColor;
					}
				}

				.top-arrow {
					position: absolute;
					display: none;
					width: 0;
					height: 0;
					border-color: transparent;
					border-style: solid;
					.nav-arrow(@navWidth, @navPadding);
					.nav-arrow-position(@navWidth, @navHeight, @navPadding);
				}

				&.active, &:hover {
					.top-arrow {
						display: inline-block;
					}
				}
			}
		}
	}

	.login-info {
		background-color: #282725;
		color: #ffffff;
		font-size: 9pt;
		height: 20px;
		margin: 0;
		padding: 0;
		text-align: right;
		vertical-align: middle;

		.popover-menu {
			cursor: pointer;
			display: inline-block;
			height: 20px;
			margin: 0 16px 0 8px;
			padding: 0;
			vertical-align: text-top;

			&.user-menu {
				margin-right: 96px;
			}

			.popover-content {
				min-width: 200px;
				padding: 0;
			}

			.admin-menu {
				color: #000000;
				font-size: 12pt;
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					margin: 0;
					padding: 8px;

					&:hover {
						background-color: #cccccc;
					}
				}
			}
		}
	}
}

.main-content {
	max-width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 97px;
}

.error {
	color: #ff0000;
	font-weight: bold;
}

.form-group {
	margin: 16px 0;

	&.has-error {
		label {
			.error-message {
				float: right;
			}
		}
	}
}

label {
	display: inline;
	font-family: 'Lato-Bold';
	margin: 0;

	span {
		font-family: 'Lato';
		font-weight: normal;
	}
}

span[class^="icon-"], span[class*=" icon-"] {
	background-repeat: no-repeat;
	-moz-background-size: 16px;
	-o-background-size: 16px;
	background-size: 16px;
	display: inline-block;
	height: 16px;
	width: 16px;

	&.dark {
		color: #000000;
	}
}

.icon-home {
	background-image: url(/assets/images/home.svg);
}

.icon-consult {
	background-image: url(/assets/images/consult.svg);
}

.icon-create {
	background-image: url(/assets/images/create.svg);
}

.icon-collaborate {
	background-image: url(/assets/images/collaborate.svg);
}

.icon-calendar {
	background-image: url(/assets/images/calendar.svg);
}

.icon-measure {
	background-image: url(/assets/images/measure.svg);
}

.icon-launch {
	background-image: url(/assets/images/launch.svg);
}

#login-form {
	background-color: @homeColorDark;
	border-radius: 40px;
	color: #ffffff;
	margin: auto;
	padding: 20px;
	width: 350px;

	.header {
		font-family: 'Lato-Light';
		font-size: 20px;
		margin: 16px;
		text-align: center;

		.content {
			font-family: 'Lato-Light';
			vertical-align: top;
		}

		.launch {
			font-family: 'Lato-Black';
			vertical-align: top;
		}
	}

	input[type="text"], input[type="password"] {
		color: #000000;
		width: 100%;
	}

	a {
		color: #ffffff;
	}

	button {
		background-color: #000000;
		border: 0;
		color: #ffffff;
		font-family: 'Lato-Bold';
		margin: 0 0 16px 0;
		width: 100%;
	}

	.icon-launch {
		-moz-background-size: 40px;
		-o-background-size: 40px;
		background-size: 40px;
		height: 40px;
		width: 40px;
	}
}

.left-pane {
	background-color: @leftPaneColor;
	height: 100%;
	padding: 8px;
	overflow: auto;
}

.right-pane {
	background-color: @rightPaneColor;
	height: 100%;
	padding: 8px;
	overflow: auto;
}

.view {
	height: 100%;
	margin: 0;
	padding: 0;
}

.user-image {
	background: #000000 url("../images/user.svg") no-repeat;
	background-position-x: center;
	background-position-y: top;
	background-size: 40px;
	-moz-background-size: 40px;
	-o-background-size: 40px;
	border: solid 2px #ffffff;
	border-radius: 50%;
	display: inline-block;
	height: 40px;
	width: 40px;
	left: 8px;
	position: absolute;
}

.users {
	.left-pane {
		position: relative;

		.btn-group {
			margin-bottom: 12px;
			width: 100%;

			.btn-create-user {
				background-color: #000000;
				color: #ffffff;
				width: 100%;

				.glyphicon {
					margin-right: 8px;
				}
			}

			&.btn-group-user-filter {
				.btn {
					&.active {
						background-color: #000000;
						color: #ffffff;
					}
				}
			}
		}

		hr {
			border-color: #000000;
			margin-top: 10px;
		}

		ul.users-list {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				cursor: pointer;
				padding: 8px;
				position: relative;

				&:hover, &.selected {
					background-color: #eeeeee;
				}

				.user-info {
					margin-left: 52px;
					font-size: 8pt;

					.user-name {
						font-size: 12pt;
					}
				}
			}
		}

		.users-pager {
			ul.pagination {
				display: block;

				li {
					a {
						background-color: transparent;
						border-color: @text-color;
						border-radius: 0 !important;
						color: @text-color;
						cursor: pointer;
						margin: 0 4px;
					}

					&.active a {
						background-color: @text-color;
						color: #ffffff;
					}
				}
			}
		}
	}

	.right-pane {
		padding: 16px;

		.user-image {
			background-size: 96px;
			-moz-background-size: 96px;
			-o-background-size: 96px;
			border: solid 3px #ffffff;
			left: 16px;
			height: 96px;
			width: 96px;
		}

		.user-editor {
			margin-left: 128px;

			.control-group {
				margin: 0 8px 8px 0;

				.form-group {
					display: inline-block;
					margin: 0 0 0 8px;
					width: 20em;
				}

				.btn-default {
					background-color: #000000;
					color: #ffffff;
				}

				&.btn-toolbar {
					margin: 16px 0;
				}
			}
		}
	}
}