@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Black';
  src: url('../fonts/Lato-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-BlackItalic';
  src: url('../fonts/Lato-BlackItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Bold';
  src: url('../fonts/Lato-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-BoldItalic';
  src: url('../fonts/Lato-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Hairline';
  src: url('../fonts/Lato-Hairline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-HairlineItalic';
  src: url('../fonts/Lato-HairlineItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Italic';
  src: url('../fonts/Lato-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Light';
  src: url('../fonts/Lato-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-LightItalic';
  src: url('../fonts/Lato-LightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  background: #ffffff;
  color: #000000;
  font-family: Lato, sans-serif;
  padding-top: 70px;
}
header {
  position: relative;
}
header .navbar {
  border: 0;
}
header .navbar .navbar-header {
  position: absolute;
  right: 0;
  top: 0;
}
header .navbar ul.nav li {
  cursor: pointer;
  height: 80px;
  padding: 4px;
  text-align: center;
  vertical-align: middle;
  width: 80px;
}
header .navbar ul.nav li .dark {
  border-radius: 8px;
  color: #ffffff;
  font-size: 6pt;
  width: 72px;
  padding: 8px;
}
header .navbar ul.nav li .dark img {
  height: 40px;
  margin: 0 0 4px 0;
}
header .navbar ul.nav li.home {
  background-color: #1797e1;
}
header .navbar ul.nav li.home .dark {
  background-color: #10699d;
}
header .navbar ul.nav li.consult {
  background-color: #39e4fd;
}
header .navbar ul.nav li.consult .dark {
  background-color: #2badc0;
}
header .navbar ul.nav li.create {
  background-color: #ffb503;
}
header .navbar ul.nav li.create .dark {
  background-color: #d99a03;
}
header .navbar ul.nav li.collaborate {
  background-color: #ff5b02;
}
header .navbar ul.nav li.collaborate .dark {
  background-color: #c24502;
}
header .navbar ul.nav li.calendar {
  background-color: #ba1760;
}
header .navbar ul.nav li.calendar .dark {
  background-color: #93124c;
}
header .navbar ul.nav li.launch {
  background-color: #773876;
}
header .navbar ul.nav li.launch .dark {
  background-color: #532752;
}
header .navbar ul.nav li.measure {
  background-color: #afe43f;
}
header .navbar ul.nav li.measure .dark {
  background-color: #8eb933;
}
header .login-info {
  background-color: #282725;
  color: #ffffff;
  font-size: 9pt;
  margin-top: 10px;
  text-align: right;
}
header .login-info .top-arrow {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-left-width: 24px;
  border-right-width: 24px;
  border-top-width: 10px;
  border-bottom-width: 0;
}
header .login-info .top-arrow.home {
  border-top-color: #1797e1;
  left: 16px;
}
header .login-info .top-arrow.consult {
  border-top-color: #39e4fd;
  left: 96px;
}
header .login-info .top-arrow.create {
  border-top-color: #ffb503;
  left: 176px;
}
header .login-info .top-arrow.collaborate {
  border-top-color: #ff5b02;
  left: 256px;
}
header .login-info .top-arrow.calendar {
  border-top-color: #ba1760;
  left: 336px;
}
header .login-info .top-arrow.launch {
  border-top-color: #773876;
  left: 416px;
}
header .login-info .top-arrow.measure {
  border-top-color: #afe43f;
  left: 496px;
}
.error {
  color: #ff0000;
  font-weight: bold;
}
.control-and-label {
  margin: 8px;
}
#login-form {
  margin: auto;
  width: 300px;
}
#login-form h2 {
  text-align: center;
}
#login-form input[type="text"],
#login-form input[type="password"] {
  width: 100%;
}
#login-form button {
  margin: 8px;
  width: 40%;
}
