@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Black';
  src: url('../fonts/Lato-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-BlackItalic';
  src: url('../fonts/Lato-BlackItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Bold';
  src: url('../fonts/Lato-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-BoldItalic';
  src: url('../fonts/Lato-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Hairline';
  src: url('../fonts/Lato-Hairline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-HairlineItalic';
  src: url('../fonts/Lato-HairlineItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Italic';
  src: url('../fonts/Lato-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Light';
  src: url('../fonts/Lato-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-LightItalic';
  src: url('../fonts/Lato-LightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.form-control:focus {
  border-color: #cccccc;
  box-shadow: none;
}
.progress {
  background-color: #444444;
}
.panel-group .panel .panel-heading {
  cursor: pointer;
  padding: 0px;
}
.panel-group .panel .panel-heading a {
  display: inline-block;
  padding: 12px;
  width: 100%;
}
.panel-group .panel .panel-heading a:hover {
  text-decoration: none;
}
.panel-group .panel .panel-heading .panel-title .fa {
  min-width: 1em;
}
.icon-home {
  background-image: url(/assets/images/home.svg);
}
.icon-consult {
  background-image: url(/assets/images/consult.svg);
}
.icon-create {
  background-image: url(/assets/images/create.svg);
}
.icon-collaborate {
  background-image: url(/assets/images/collaborate.svg);
}
.icon-calendar {
  background-image: url(/assets/images/calendar.svg);
}
.icon-measure {
  background-image: url(/assets/images/measure.svg);
}
.icon-launch {
  background-image: url(/assets/images/launch.svg);
}
.cl-icon {
  background-repeat: no-repeat;
  -moz-background-size: contain;
  background-size: contain;
  display: inline-block;
  height: 16px;
  width: 16px;
  text-align: center;
  vertical-align: text-bottom;
}
.cl-icon.fa {
  background: none;
  font-size: 12pt;
  height: auto;
}
.cl-icon-med {
  height: 24px;
  width: 24px;
}
.cl-icon-large {
  height: 48px;
  width: 48px;
}
.cl-icon-x-large {
  height: 96px;
  width: 96px;
}
.cl-icon-suspects,
.cl-icon-personas-0 {
  background-image: url(/assets/images/announcement.svg);
}
.cl-icon-prospects,
.cl-icon-personas-1 {
  background-image: url(/assets/images/filter.svg);
}
.cl-icon-leads,
.cl-icon-personas-2 {
  background-image: url(/assets/images/target.svg);
}
.cl-icon-opportunities,
.cl-icon-personas-3 {
  background-image: url(/assets/images/coin.svg);
}
.cl-icon-custom,
.cl-icon-personas-4 {
  background-image: url(/assets/images/cl-wave.png);
}
.cl-icon-blogspot {
  background-image: url(/assets/images/blogger.svg);
}
.cl-icon-curata {
  background-image: url(/assets/images/curata.png);
}
.cl-icon-google-plus {
  background-image: url(/assets/images/google.svg);
}
.cl-icon-google-drive {
  background-image: url(/assets/images/google-drive.svg);
}
.cl-icon-hubspot {
  background-image: url(/assets/images/hubspot.png);
}
.cl-icon-papershare {
  background-image: url(/assets/images/papershare.png);
}
.cl-icon-salesforce {
  background-image: url(/assets/images/salesforce.svg);
}
.cl-icon-slideshare {
  background-image: url(/assets/images/slideshare.png);
}
.cl-icon-soundcloud {
  background-image: url(/assets/images/soundcloud.svg);
}
.cl-icon-trapit {
  background-image: url(/assets/images/trapit.png);
}
.cl-icon-wordpress {
  background-image: url(/assets/images/wordpress.svg);
}
.cl-icon-workflow-concept {
  background-image: url(/assets/images/brain.svg);
}
.cl-icon-workflow-create {
  background-image: url(/assets/images/create-black.png);
}
.cl-icon-workflow-edit {
  background-image: url(/assets/images/edit.png);
}
.cl-icon-workflow-approve {
  background-image: url(/assets/images/thumbs-up.png);
}
.cl-icon-workflow-launch {
  background-image: url(/assets/images/launch-black.png);
}
.cl-icon-workflow-promote {
  background-image: url(/assets/images/share.svg);
}
.cl-icon-workflow-archive {
  background-image: url(/assets/images/archive.svg);
}
html,
body {
  height: 100%;
}
body {
  background: #ffffff;
  color: #000000;
  font-family: Lato, sans-serif;
  min-height: 100%;
}
header {
  position: relative;
}
header .navbar {
  border: 0;
}
header .navbar .navbar-collapse .logo {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 60px;
  width: 350px;
}
header .navbar ul.nav li {
  cursor: pointer;
  height: 80px;
  padding: 4px;
  text-align: center;
  vertical-align: middle;
  width: 80px;
}
header .navbar ul.nav li .dark {
  border-radius: 8px;
  color: #ffffff;
  font-size: 6pt;
  width: 72px;
  padding: 8px;
}
header .navbar ul.nav li .dark img {
  height: 40px;
  margin: 0 0 4px 0;
}
header .navbar ul.nav li.home {
  background-color: #1797e1;
}
header .navbar ul.nav li.home .dark {
  background-color: #10699d;
}
header .navbar ul.nav li.home .top-arrow {
  border-top-color: #1797e1;
}
header .navbar ul.nav li.consult {
  background-color: #39e4fd;
}
header .navbar ul.nav li.consult .dark {
  background-color: #2badc0;
}
header .navbar ul.nav li.consult .top-arrow {
  border-top-color: #39e4fd;
}
header .navbar ul.nav li.create {
  background-color: #ffb503;
}
header .navbar ul.nav li.create .dark {
  background-color: #d99a03;
}
header .navbar ul.nav li.create .top-arrow {
  border-top-color: #ffb503;
}
header .navbar ul.nav li.collaborate {
  background-color: #ff5b02;
}
header .navbar ul.nav li.collaborate .dark {
  background-color: #c24502;
}
header .navbar ul.nav li.collaborate .top-arrow {
  border-top-color: #ff5b02;
}
header .navbar ul.nav li.calendar {
  background-color: #ba1760;
}
header .navbar ul.nav li.calendar .dark {
  background-color: #93124c;
}
header .navbar ul.nav li.calendar .top-arrow {
  border-top-color: #ba1760;
}
header .navbar ul.nav li.launch {
  background-color: #773876;
}
header .navbar ul.nav li.launch .dark {
  background-color: #532752;
}
header .navbar ul.nav li.launch .top-arrow {
  border-top-color: #773876;
}
header .navbar ul.nav li.measure {
  background-color: #afe43f;
}
header .navbar ul.nav li.measure .dark {
  background-color: #8eb933;
}
header .navbar ul.nav li.measure .top-arrow {
  border-top-color: #afe43f;
}
header .navbar ul.nav li.accounts {
  background-color: #1797e1;
}
header .navbar ul.nav li.accounts .dark {
  background-color: #10699d;
}
header .navbar ul.nav li.accounts .top-arrow {
  border-top-color: #1797e1;
}
header .navbar ul.nav li.subscription {
  background-color: #39e4fd;
}
header .navbar ul.nav li.subscription .dark {
  background-color: #2badc0;
}
header .navbar ul.nav li.subscription .top-arrow {
  border-top-color: #39e4fd;
}
header .navbar ul.nav li .top-arrow {
  position: absolute;
  display: none;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-left-width: 24px;
  border-right-width: 24px;
  border-top-width: 10px;
  border-bottom-width: 0;
  left: 16px;
  top: 80px;
}
header .navbar ul.nav li.active .top-arrow,
header .navbar ul.nav li:hover .top-arrow {
  display: inline-block;
}
header .login-info {
  background-color: #282725;
  color: #ffffff;
  font-size: 9pt;
  height: 20px;
  margin: 0;
  padding: 0;
  text-align: right;
  vertical-align: middle;
}
header .login-info .popover-menu {
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin: 0 16px 0 8px;
  padding: 0;
  vertical-align: text-top;
}
header .login-info .popover-menu.user-menu {
  margin-right: 96px;
}
header .login-info .popover-menu .popover-content {
  min-width: 200px;
  padding: 0;
}
header .login-info .popover-menu .admin-menu {
  color: #000000;
  font-size: 12pt;
  list-style: none;
  margin: 0;
  padding: 0;
}
header .login-info .popover-menu .admin-menu li {
  margin: 0;
  padding: 8px;
  vertical-align: middle;
}
header .login-info .popover-menu .admin-menu li:hover {
  background-color: #cccccc;
}
header .login-info .popover-menu .admin-menu li .item-image {
  margin: 0;
}
header .login-info .popover-menu .admin-menu li .glyphicon {
  display: inline-block;
  margin-right: 8px;
}
.small-text {
  font-size: 8pt;
}
.logo,
.logo-white,
.logo-white-text {
  background-repeat: no-repeat;
  -moz-background-size: contain;
  background-size: contain;
}
.logo {
  background-image: url(/assets/images/logo.png);
}
.logo-white {
  background-image: url(/assets/images/logo-white.png);
}
.logo-white-text {
  background-image: url(/assets/images/logo-white-text.png);
}
.main-content {
  max-width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100px;
}
.error {
  color: #ff0000;
  font-weight: bold;
}
.form-group {
  margin: 16px 0;
}
.form-group.has-error .error-message {
  color: #ff0000;
}
.form-group.has-error .form-control {
  border-color: #ff0000;
}
.form-group.has-error label .error-message {
  float: right;
}
.form-group .multi-select {
  width: 100%;
}
.popover {
  z-index: 1100;
}
.popover .popover-content .error-message,
.popover .popover-title .error-message {
  color: #ff0000;
}
.popover .popover-title {
  position: relative;
}
.popover .popover-title .glyphicon-remove {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}
label {
  display: inline;
  font-family: 'Lato-Bold';
  margin: 0;
}
label span {
  font-family: 'Lato';
  font-weight: normal;
}
span[class^="icon-"],
span[class*=" icon-"] {
  background-repeat: no-repeat;
  -moz-background-size: 16px;
  -o-background-size: 16px;
  background-size: 16px;
  display: inline-block;
  height: 16px;
  width: 16px;
}
span[class^="icon-"].dark,
span[class*=" icon-"].dark {
  color: #000000;
}
[contenteditable] {
  padding: 4px;
}
.round-corner-dialog .modal-dialog .modal-content {
  border-radius: 45px;
}
.content-editable {
  padding: 4px;
}
.content-editable:empty:not(:focus):before {
  opacity: 0.4;
  content: attr(data-placeholder);
}
#login-form,
#change-password-form {
  background-color: #10699d;
  border-radius: 40px;
  color: #ffffff;
  padding: 20px;
}
#login-form .header,
#change-password-form .header {
  font-family: 'Lato-Light';
  font-size: 20px;
  margin: 16px;
  text-align: center;
}
#login-form .header .content,
#change-password-form .header .content {
  font-family: 'Lato-Light';
  vertical-align: top;
}
#login-form .header .launch,
#change-password-form .header .launch {
  font-family: 'Lato-Black';
  vertical-align: top;
}
#login-form input[type="text"],
#change-password-form input[type="text"],
#login-form input[type="password"],
#change-password-form input[type="password"] {
  color: #000000;
  width: 100%;
}
#login-form a,
#change-password-form a {
  color: #ffffff;
}
#login-form .btn-toolbar,
#change-password-form .btn-toolbar {
  text-align: center;
}
#login-form .btn-toolbar .btn,
#change-password-form .btn-toolbar .btn {
  margin: 4px;
  padding: 4px 40px;
}
#login-form button,
#change-password-form button {
  background-color: #000000;
  border: 0;
  color: #ffffff;
  font-family: 'Lato-Bold';
  margin: 0 0 16px 0;
  padding: 4px;
}
#login-form button.full-width,
#change-password-form button.full-width {
  width: 100%;
}
#login-form .icon-launch,
#change-password-form .icon-launch {
  -moz-background-size: 40px;
  -o-background-size: 40px;
  background-size: 40px;
  height: 40px;
  width: 40px;
}
#login-form {
  margin: auto;
  width: 350px;
}
#login-form .header .logo-white {
  height: 50px;
}
#change-password-form button {
  padding: 8px;
}
.confirm-user {
  margin: auto;
  width: 400px;
}
.confirm-user #change-password-form button {
  width: 100%;
}
.left-pane {
  background-color: #c4bfb5;
  height: 100%;
  padding: 8px;
  overflow: auto;
}
.right-pane {
  background-color: #f2f0ec;
  height: 100%;
  overflow: auto;
  padding: 0;
  position: relative;
}
.right-pane .right-pane-header {
  background-color: #ffffff;
  border-bottom: solid 12px #f7f6f3;
  padding: 8px 16px;
}
.right-pane .right-pane-content {
  overflow: auto;
  padding: 16px;
}
.right-pane h2,
.right-pane hr {
  border-bottom: solid 1px #000000;
  font-family: 'Lato Black';
  margin: 20px 0 20px 0;
  padding-bottom: 8px;
}
.right-pane h2:first-child,
.right-pane hr:first-child {
  margin: 0 0 20px 0;
}
.right-pane .control-group .btn {
  font-size: 14px;
  min-width: 120px;
  padding: 6px 12px;
}
.right-pane .control-group .btn.btn-default {
  background-color: #000000;
  color: #ffffff;
}
.right-pane .control-group .btn.btn-default.multiselect {
  background-color: #ffffff !important;
  border-color: #cccccc !important;
  color: #333333 !important;
}
.right-pane .control-group .btn.btn-default.multiselect:hover {
  background-color: #ebebeb !important;
  border-color: #adadad !important;
}
.right-pane .control-group.content-connection-button-bar .form-group {
  margin: 0;
  max-width: 300px;
}
.right-pane .control-group.content-connection-button-bar .btn-group {
  max-width: 300px;
}
.right-pane .control-group.content-connection-button-bar .btn-group .btn-default {
  background-color: #ebebeb;
  color: #333333;
}
.right-pane .control-group.content-connection-button-bar .btn-group .btn-default.active {
  background-color: #000000;
  color: #ffffff;
}
.right-pane .control-group.content-connection-button-bar .add-connection {
  float: right;
  margin-right: 100px;
}
.right-pane .control-group.content-connection-button-bar .add-connection .btn {
  background-color: #000000;
  color: #ffffff;
}
.view {
  height: 100%;
  margin: 0;
  padding: 0;
}
.user-image {
  background: #000000 url("../images/user.svg") no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  border: solid 2px #ffffff;
  border-radius: 50%;
  display: inline-block;
  height: 40px;
  width: 40px;
  vertical-align: middle;
}
.user-image-small {
  height: 24px;
  width: 24px;
}
.users .left-pane,
.accounts .left-pane,
.roles .left-pane,
.content-settings .left-pane,
.seo-settings .left-pane,
.create .left-pane {
  position: relative;
}
.users .left-pane .btn-group,
.accounts .left-pane .btn-group,
.roles .left-pane .btn-group,
.content-settings .left-pane .btn-group,
.seo-settings .left-pane .btn-group,
.create .left-pane .btn-group {
  margin-bottom: 12px;
  width: 100%;
}
.users .left-pane .btn-group .btn-create,
.accounts .left-pane .btn-group .btn-create,
.roles .left-pane .btn-group .btn-create,
.content-settings .left-pane .btn-group .btn-create,
.seo-settings .left-pane .btn-group .btn-create,
.create .left-pane .btn-group .btn-create {
  background-color: #000000;
  color: #ffffff;
}
.users .left-pane .btn-group .btn-create .glyphicon,
.accounts .left-pane .btn-group .btn-create .glyphicon,
.roles .left-pane .btn-group .btn-create .glyphicon,
.content-settings .left-pane .btn-group .btn-create .glyphicon,
.seo-settings .left-pane .btn-group .btn-create .glyphicon,
.create .left-pane .btn-group .btn-create .glyphicon {
  margin-right: 8px;
}
.users .left-pane .btn-group.btn-group-filter .btn.active,
.accounts .left-pane .btn-group.btn-group-filter .btn.active,
.roles .left-pane .btn-group.btn-group-filter .btn.active,
.content-settings .left-pane .btn-group.btn-group-filter .btn.active,
.seo-settings .left-pane .btn-group.btn-group-filter .btn.active,
.create .left-pane .btn-group.btn-group-filter .btn.active {
  background-color: #000000;
  color: #ffffff;
}
.users .left-pane hr,
.accounts .left-pane hr,
.roles .left-pane hr,
.content-settings .left-pane hr,
.seo-settings .left-pane hr,
.create .left-pane hr {
  border-color: #000000;
  margin-top: 10px;
}
.users .left-pane ul.items-list,
.accounts .left-pane ul.items-list,
.roles .left-pane ul.items-list,
.content-settings .left-pane ul.items-list,
.seo-settings .left-pane ul.items-list,
.create .left-pane ul.items-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.users .left-pane ul.items-list li,
.accounts .left-pane ul.items-list li,
.roles .left-pane ul.items-list li,
.content-settings .left-pane ul.items-list li,
.seo-settings .left-pane ul.items-list li,
.create .left-pane ul.items-list li {
  cursor: pointer;
  padding: 8px;
  position: relative;
}
.users .left-pane ul.items-list li:hover,
.accounts .left-pane ul.items-list li:hover,
.roles .left-pane ul.items-list li:hover,
.content-settings .left-pane ul.items-list li:hover,
.seo-settings .left-pane ul.items-list li:hover,
.create .left-pane ul.items-list li:hover,
.users .left-pane ul.items-list li.selected,
.accounts .left-pane ul.items-list li.selected,
.roles .left-pane ul.items-list li.selected,
.content-settings .left-pane ul.items-list li.selected,
.seo-settings .left-pane ul.items-list li.selected,
.create .left-pane ul.items-list li.selected {
  background-color: #eeeeee;
}
.users .left-pane ul.items-list li .item-image,
.accounts .left-pane ul.items-list li .item-image,
.roles .left-pane ul.items-list li .item-image,
.content-settings .left-pane ul.items-list li .item-image,
.seo-settings .left-pane ul.items-list li .item-image,
.create .left-pane ul.items-list li .item-image {
  float: left;
  margin-right: 16px;
}
.users .left-pane ul.items-list li .item-info,
.accounts .left-pane ul.items-list li .item-info,
.roles .left-pane ul.items-list li .item-info,
.content-settings .left-pane ul.items-list li .item-info,
.seo-settings .left-pane ul.items-list li .item-info,
.create .left-pane ul.items-list li .item-info {
  font-size: 8pt;
}
.users .left-pane ul.items-list li .item-info .item-title,
.accounts .left-pane ul.items-list li .item-info .item-title,
.roles .left-pane ul.items-list li .item-info .item-title,
.content-settings .left-pane ul.items-list li .item-info .item-title,
.seo-settings .left-pane ul.items-list li .item-info .item-title,
.create .left-pane ul.items-list li .item-info .item-title {
  font-size: 12pt;
}
.users .left-pane .pager ul.pagination,
.accounts .left-pane .pager ul.pagination,
.roles .left-pane .pager ul.pagination,
.content-settings .left-pane .pager ul.pagination,
.seo-settings .left-pane .pager ul.pagination,
.create .left-pane .pager ul.pagination {
  display: block;
}
.users .left-pane .pager ul.pagination li a,
.accounts .left-pane .pager ul.pagination li a,
.roles .left-pane .pager ul.pagination li a,
.content-settings .left-pane .pager ul.pagination li a,
.seo-settings .left-pane .pager ul.pagination li a,
.create .left-pane .pager ul.pagination li a {
  background-color: transparent;
  border-color: #000000;
  border-radius: 0 !important;
  color: #000000;
  cursor: pointer;
  margin: 0 4px;
}
.users .left-pane .pager ul.pagination li.active a,
.accounts .left-pane .pager ul.pagination li.active a,
.roles .left-pane .pager ul.pagination li.active a,
.content-settings .left-pane .pager ul.pagination li.active a,
.seo-settings .left-pane .pager ul.pagination li.active a,
.create .left-pane .pager ul.pagination li.active a {
  background-color: #000000;
  color: #ffffff;
}
.users .left-pane .btn-group .btn-create,
.accounts .left-pane .btn-group .btn-create,
.roles .left-pane .btn-group .btn-create,
.content-settings .left-pane .btn-group .btn-create,
.seo-settings .left-pane .btn-group .btn-create {
  width: 100%;
}
.user-editor .user-image-upload,
.account-editor .user-image-upload,
.role-editor .user-image-upload,
.content-settings-editor .user-image-upload,
.seo-settings-editor .user-image-upload {
  float: left;
  text-align: center;
  width: 120px;
}
.user-editor .user-image-upload .user-image,
.account-editor .user-image-upload .user-image,
.role-editor .user-image-upload .user-image,
.content-settings-editor .user-image-upload .user-image,
.seo-settings-editor .user-image-upload .user-image {
  border: solid 3px #ffffff;
  display: block;
  height: 96px;
  margin: auto;
  width: 96px;
}
.user-editor .user-image-upload button,
.account-editor .user-image-upload button,
.role-editor .user-image-upload button,
.content-settings-editor .user-image-upload button,
.seo-settings-editor .user-image-upload button {
  margin: 16px 0;
}
.user-editor .user-image-upload input[type="file"],
.account-editor .user-image-upload input[type="file"],
.role-editor .user-image-upload input[type="file"],
.content-settings-editor .user-image-upload input[type="file"],
.seo-settings-editor .user-image-upload input[type="file"] {
  display: none;
}
.user-editor .user-editor,
.account-editor .user-editor,
.role-editor .user-editor,
.content-settings-editor .user-editor,
.seo-settings-editor .user-editor {
  margin-left: 128px;
}
.user-editor .control-group,
.account-editor .control-group,
.role-editor .control-group,
.content-settings-editor .control-group,
.seo-settings-editor .control-group {
  margin: 0 8px 8px 0;
}
.user-editor .control-group .form-group,
.account-editor .control-group .form-group,
.role-editor .control-group .form-group,
.content-settings-editor .control-group .form-group,
.seo-settings-editor .control-group .form-group {
  display: inline-block;
  margin: 0 8px 0 0;
  min-width: 20em;
}
.user-editor .control-group.btn-toolbar,
.account-editor .control-group.btn-toolbar,
.role-editor .control-group.btn-toolbar,
.content-settings-editor .control-group.btn-toolbar,
.seo-settings-editor .control-group.btn-toolbar {
  margin: 16px 0;
}
.user-editor {
  margin: 75px 25px;
}
.toggle {
  cursor: pointer;
}
.connection-list {
  margin: 16px 0;
}
.connection-list .row {
  border-bottom: solid 1px #000000;
  margin: 0;
  padding: 8px;
}
.connection-list .row > div.header {
  font-weight: bold;
}
.tier-components .tier-tile-container {
  display: inline-block;
  vertical-align: top;
}
.tier-components .tier-tiles {
  background-color: #999999;
  border-radius: 40px;
  display: inline-block;
  margin: 0 20px 0 0;
  padding: 16px 8px;
  text-align: center;
  height: 280px;
  width: 180px;
}
.tier-components .tier-tiles .title {
  font-family: 'Lato Black';
  font-size: 18pt;
}
.tier-components .tier-tiles .tile {
  border-radius: 10px;
  color: #ffffff;
  display: inline-block;
  font-size: 6pt;
  margin: 4px;
  padding: 8px 0;
  height: 60px;
  width: 60px;
}
.tier-components .tier-tiles .tile img {
  height: 30px;
  margin: 0 0 4px 0;
}
.tier-components .tier-tiles .tile.consult {
  background-color: #2badc0;
}
.tier-components .tier-tiles .tile.create {
  background-color: #d99a03;
}
.tier-components .tier-tiles .tile.collaborate {
  background-color: #c24502;
}
.tier-components .tier-tiles .tile.calendar {
  background-color: #93124c;
}
.tier-components .tier-tiles .tile.launch {
  background-color: #532752;
}
.tier-components .tier-tiles .tile.measure {
  background-color: #8eb933;
}
.tier-components .tier-tiles .tile.disabled {
  background-color: #999999;
  opacity: 0.4;
}
.tier-components .tier-info {
  display: inline-block;
  padding: 0 16px;
  vertical-align: top;
}
.tier-components .tier-info .tier-info-list {
  list-style: none;
  margin-bottom: 16px;
  max-width: 300px;
  padding: 0;
}
.tier-components .tier-info .tier-info-list li {
  white-space: nowrap;
}
.tier-components .tier-info .tier-info-list li div {
  display: inline-block;
  font-size: 12pt;
  margin: 4px;
  vertical-align: top;
  white-space: normal;
}
.tier-components .tier-info .tier-info-list li div.tier-info-label {
  width: 150px;
}
.tier-components .tier-info .tier-info-list li div.tier-info-data {
  font-family: 'Lato Black';
}
.tier-components .tier-info .btn {
  display: block;
  margin: auto;
}
.tier-components .tier-form {
  max-width: 240px;
  padding: 8px;
  text-align: left;
}
.subscriptions .right-pane {
  text-align: center;
}
.subscriptions .right-pane .tier-components {
  margin: 30px;
}
.subscriptions .right-pane .tier-components .tier-tiles {
  margin: 0 30px;
}
.role-editor .panel-group .panel .panel-heading {
  background-color: #000000;
  color: #ffffff;
}
.role-editor .panel-group .panel .panel-collapse .panel-body {
  max-height: 320px;
  overflow: auto;
  padding: 16px 0;
}
.role-editor .panel-group .panel .panel-collapse .panel-body table.privileges-list {
  width: 100%;
}
.role-editor .panel-group .panel .panel-collapse .panel-body table.privileges-list tr {
  border-bottom: solid 1px #000000;
}
.role-editor .panel-group .panel .panel-collapse .panel-body table.privileges-list tr td,
.role-editor .panel-group .panel .panel-collapse .panel-body table.privileges-list tr th {
  text-align: center;
}
.role-editor .panel-group .panel .panel-collapse .panel-body table.privileges-list tr td .checkbox,
.role-editor .panel-group .panel .panel-collapse .panel-body table.privileges-list tr th .checkbox {
  margin: 10px 0;
}
.role-editor .panel-group .panel .panel-collapse .panel-body table.privileges-list tr td .checkbox input[type="checkbox"],
.role-editor .panel-group .panel .panel-collapse .panel-body table.privileges-list tr th .checkbox input[type="checkbox"] {
  float: none;
  transform: scale(1.5, 1.5);
  -webkit-transform: scale(1.5, 1.5);
  -moz-transform: scale(1.5, 1.5);
  -o-transform: scale(1.5, 1.5);
  -ms-transform: scale(1.5, 1.5);
}
.role-editor .panel-group .panel .panel-collapse .panel-body table.privileges-list tr td.left,
.role-editor .panel-group .panel .panel-collapse .panel-body table.privileges-list tr th.left {
  padding: 0 16px;
  text-align: left;
}
.role-editor .panel-group .panel .panel-collapse .panel-body table.privileges-list tr td.check-column,
.role-editor .panel-group .panel .panel-collapse .panel-body table.privileges-list tr th.check-column {
  min-width: 100px;
}
.role-editor .panel-group .panel .panel-collapse .panel-body table.privileges-list tr.dark td {
  background-color: #E6E4E0;
}
.role-editor .btn-duplicate-role {
  float: right;
  margin-top: 20px;
}
.tier-info-dialog .modal-dialog {
  min-width: 650px;
}
.tier-modal {
  padding: 24px;
}
.tier-modal h4 {
  font-family: 'Lato Black';
  text-align: center;
}
.tier-modal p {
  margin: 0 50px;
}
.tier-modal .tier-components {
  margin: 16px 0;
  text-align: center;
}
.tier-modal .tier-components .tier-tile-container {
  max-width: 200px;
  text-align: left;
}
.tier-modal .tier-components .tier-tile-container ul {
  margin-top: 16px;
}
.tier-modal .tier-components .tier-tile-container ul li {
  font-size: 12pt;
  font-family: 'Lato Black';
}
.tier-modal .control-group {
  text-align: center;
}
.tier-modal .control-group .btn {
  background-color: #000000;
  color: #ffffff;
}
.content-settings-editor,
.seo-settings-editor {
  padding: 0 16px;
}
.content-settings-editor .control-group .form-group,
.seo-settings-editor .control-group .form-group {
  vertical-align: top;
}
.content-settings-editor .control-group .form-group label,
.seo-settings-editor .control-group .form-group label {
  vertical-align: top;
}
.content-settings-editor .btn-new-persona,
.seo-settings-editor .btn-new-persona {
  float: right;
}
.content-settings-editor #txtPublishingGuidelines,
.seo-settings-editor #txtPublishingGuidelines {
  min-height: 300px;
}
.content-settings-editor table.persona-table,
.seo-settings-editor table.persona-table {
  margin-bottom: 50px;
  width: 100%;
}
.content-settings-editor table.persona-table tr,
.seo-settings-editor table.persona-table tr {
  border-bottom: solid 1px #000000;
}
.content-settings-editor table.persona-table tr td,
.seo-settings-editor table.persona-table tr td,
.content-settings-editor table.persona-table tr th,
.seo-settings-editor table.persona-table tr th {
  padding: 8px;
  text-align: left;
}
.content-settings-editor table.persona-table tr td > span,
.seo-settings-editor table.persona-table tr td > span,
.content-settings-editor table.persona-table tr th > span,
.seo-settings-editor table.persona-table tr th > span {
  vertical-align: middle;
}
.content-settings-editor table.persona-table tr td.long-content,
.seo-settings-editor table.persona-table tr td.long-content,
.content-settings-editor table.persona-table tr th.long-content,
.seo-settings-editor table.persona-table tr th.long-content {
  padding: 4px;
}
.content-settings-editor table.persona-table tr td.long-content > div,
.seo-settings-editor table.persona-table tr td.long-content > div,
.content-settings-editor table.persona-table tr th.long-content > div,
.seo-settings-editor table.persona-table tr th.long-content > div {
  min-width: 130px;
  max-width: 200px;
}
.content-settings-editor table.persona-table tr td,
.seo-settings-editor table.persona-table tr td {
  font-size: 8pt;
}
.content-settings-editor table.persona-table tr td.edit-row,
.seo-settings-editor table.persona-table tr td.edit-row {
  font-size: 16pt;
  max-width: 34px;
}
.content-settings-editor table.persona-table tr td.edit-row .fa,
.seo-settings-editor table.persona-table tr td.edit-row .fa {
  cursor: pointer;
  float: right;
  margin: 0 4px;
}
.content-settings-editor table.persona-table tr.dark td,
.seo-settings-editor table.persona-table tr.dark td {
  background-color: #E6E4E0;
}
.create .left-pane .filter-panel {
  background-color: #ffb503;
  color: #ffffff;
  margin: 12px 0;
  padding: 4px;
  border-radius: 4px;
}
.create .left-pane .btn-group {
  margin-top: 12px;
}
.create .left-pane .panel-group .panel {
  background-color: transparent;
  border: none !important;
}
.create .left-pane .panel-group .panel .panel-heading {
  background-color: transparent;
  border-bottom: solid 1px #000000;
}
.create .left-pane .panel-group .panel .panel-collapse {
  border: none !important;
}
.create .left-pane .panel-group .panel .panel-collapse .panel-body {
  border: none !important;
}
.create .right-pane .right-pane-header {
  background-color: #ffb503;
  border-bottom-color: #F1DDAF;
  color: #ffffff;
}
.create .right-pane .create-header {
  margin: 0 16px;
}
.create .right-pane .create-header > * {
  display: inline-block;
  margin: 0 16px;
  vertical-align: middle;
}
.create .right-pane .create-header > * .control-label,
.create .right-pane .create-header > * .form-control {
  display: inline;
}
.create .right-pane .create-header .btn-group .btn.active {
  background-color: #000000;
  color: #ffffff;
}
.create .right-pane .create-header .create-download .btn {
  font-size: 15pt;
}
.create .right-pane .create-header .create-paging-controls {
  float: right;
}
.create .right-pane .create-header .create-paging-controls > * {
  display: inline-block;
  margin: 0 16px;
}
.create .right-pane .create-header .create-paging-controls .create-pager .pagination {
  margin: 0;
}
.create .right-pane .create-header .create-paging-controls .create-pager .pagination .btn {
  font-size: 15pt;
}
.create .right-pane .create-table-container {
  margin: 16px;
}
.create .right-pane .create-table-container table.create-table {
  width: 100%;
}
.create .right-pane .create-table-container table.create-table tr {
  border-bottom: solid 1px #000000;
}
.create .right-pane .create-table-container table.create-table tr td,
.create .right-pane .create-table-container table.create-table tr th {
  padding: 8px;
  position: relative;
  text-align: left;
}
.create .right-pane .create-table-container table.create-table tr td > span,
.create .right-pane .create-table-container table.create-table tr th > span {
  vertical-align: middle;
}
.create .right-pane .create-table-container table.create-table tr td .user-image,
.create .right-pane .create-table-container table.create-table tr th .user-image {
  border-color: #ffb503;
  height: 32px;
  width: 32px;
}
.create .right-pane .create-table-container table.create-table tr td .cl-icon,
.create .right-pane .create-table-container table.create-table tr th .cl-icon {
  color: #000000;
  font-size: 20pt;
  height: 32px;
  width: 32px;
}
.create .right-pane .create-table-container table.create-table tr td .cl-icon-workflow,
.create .right-pane .create-table-container table.create-table tr th .cl-icon-workflow {
  display: inline-block;
  float: left;
  margin: 4px 8px;
  vertical-align: middle;
}
.create .right-pane .create-table-container table.create-table tr td .workflow-info,
.create .right-pane .create-table-container table.create-table tr th .workflow-info {
  margin-left: 32px;
}
.create .right-pane .create-table-container table.create-table tr td .workflow-info a,
.create .right-pane .create-table-container table.create-table tr th .workflow-info a {
  font-weight: bold;
  text-decoration: underline;
}
.create .right-pane .create-table-container table.create-table tr td .workflow-info .error,
.create .right-pane .create-table-container table.create-table tr th .workflow-info .error {
  font-weight: normal;
}
.create .right-pane .create-table-container table.create-table tr.dark td {
  background-color: #E6E4E0;
}
.select2-container {
  max-width: 400px;
  min-width: 400px;
}
.select2-container.select2-container .select2-choices .select2-search-choice .select2-search-choice-close {
  background-image: url(/assets/images/select2.png);
}
.select2-container.select2-container .select2-choices .select2-search-field input[type="text"] {
  height: auto !important;
}
.link-button-container {
  text-align: center;
}
.link-button-container .link-button {
  color: #000000;
  display: inline-block;
  padding: 4px;
}
.link-button-container .link-button:hover {
  text-decoration: none;
}
.campaign-dot {
  border-radius: 50%;
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: middle;
}
.campaign-dot.campaign-dot-small {
  height: 12px;
  width: 12px;
}
.campaign-dot.campaign-dot-1 {
  background-color: #660033;
}
.campaign-dot.campaign-dot-2 {
  background-color: #CC9900;
}
.campaign-dot.campaign-dot-3 {
  background-color: #99CCFF;
}
.campaign-dot.campaign-dot-4 {
  background-color: #990000;
}
.campaign-dot.campaign-dot-5 {
  background-color: #FFFF66;
}
.campaign-dot.campaign-dot-6 {
  background-color: #003366;
}
.campaign-dot.campaign-dot-7 {
  background-color: #CC3300;
}
.campaign-dot.campaign-dot-8 {
  background-color: #CCFF33;
}
.campaign-dot.campaign-dot-9 {
  background-color: #666699;
}
.campaign-dot.campaign-dot-10 {
  background-color: #FF6600;
}
.campaign-dot.campaign-dot-11 {
  background-color: #99CC00;
}
.campaign-dot.campaign-dot-12 {
  background-color: #6666FF;
}
.campaign-dot.campaign-dot-13 {
  background-color: #FF9933;
}
.campaign-dot.campaign-dot-14 {
  background-color: #00CC66;
}
.campaign-dot.campaign-dot-15 {
  background-color: #CC0099;
}
