@import 'variables.less';
@import 'mixins.less';

body {
  background: @background-color;
  color: @text-color;
  font-family: Lato, sans-serif;
  padding-top: 70px;

}

header {
	position: relative;

	.navbar {
		border: 0;

		ul.nav {
			li {
				cursor: pointer;
				height: @navHeight;
				padding: @navPadding;
				text-align: center;
				vertical-align: middle;
				width: @navWidth;

				.dark {
					border-radius: 8px;
					color: #ffffff;
					font-size: 6pt;
					.inner-nav-width(@navWidth, @navPadding);

					img {
						height: 40px;
						margin: 0 0 4px 0;
					}
				}

				&.home {
					background-color: @homeColor;

					.dark {
						background-color: @homeColorDark;
					}

					.top-arrow {
						border-top-color: @homeColor;
					}
				}

				&.consult {
					background-color: @consultColor;

					.dark {
						background-color: @consultColorDark;
					}

					.top-arrow {
						border-top-color: @consultColor;
					}
				}

				&.create {
					background-color: @createColor;

					.dark {
						background-color: @createColorDark;
					}

					.top-arrow {
						border-top-color: @createColor;
					}
				}

				&.collaborate {
					background-color: @collaborateColor;

					.dark {
						background-color: @collaborateColorDark;
					}

					.top-arrow {
						border-top-color: @collaborateColor;
					}
				}

				&.calendar {
					background-color: @calendarColor;

					.dark {
						background-color: @calendarColorDark;
					}

					.top-arrow {
						border-top-color: @calendarColor;
					}
				}

				&.launch {
					background-color: @launchColor;

					.dark {
						background-color: @launchColorDark;
					}

					.top-arrow {
						border-top-color: @launchColor;
					}
				}

				&.measure {
					background-color: @meaureColor;

					.dark {
						background-color: @meaureColorDark;
					}

					.top-arrow {
						border-top-color: @meaureColor;
					}
				}

				.top-arrow {
					position: absolute;
					display: none;
					width: 0;
					height: 0;
					border-color: transparent;
					border-style: solid;
					.nav-arrow(@navWidth, @navPadding);
					.nav-arrow-position(@navWidth, @navHeight, @navPadding);
				}

				&.active, &:hover {
					.top-arrow {
						display: inline-block;
					}
				}
			}
		}
	}

	.login-info {
		background-color: #282725;
		color: #ffffff;
		font-size: 9pt;
		margin-top: 10px;
		text-align: right;

		.popover-menu {
			cursor: pointer;
			display: inline-block;
			margin: 0 16px 0 8px;

			&.user-menu {
				margin-right: 96px;
			}

			.popover-content {
				min-width: 200px;
				padding: 0;
			}

			.admin-menu {
				color: #000000;
				font-size: 12pt;
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					margin: 0;
					padding: 8px;

					&:hover {
						background-color: #cccccc;
					}
				}
			}
		}
	}
}

.main-content {
	margin: 0px;

}

.error {
	color: #ff0000;
	font-weight: bold;
}

.control-and-label {
	margin: 16px 0;
}

.launch-icon {
	background-image: url(/assets/images/launch.svg);
	background-size: 40px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 40px;
	width: 40px;
}

#login-form {
	background-color: @homeColorDark;
	border-radius: 40px;
	color: #ffffff;
	margin: auto;
	padding: 20px;
	width: 350px;

	h3 {
		margin: 16px;
		text-align: center;
		vertical-align: top;
	}

	input[type="text"], input[type="password"] {
		width: 100%;
	}

	a {
		color: #ffffff;
	}

	button {
		background-color: #000000;
		border: 0;
		color: #ffffff;
		margin: 0 0 16px 0;
		width: 100%;
	}
}