@import 'variables.less';
@import 'mixins.less';
@import 'bootstrap-overrides.less';
@import 'icons.less';

html, body {
	height: 100%;
}

body {
    background: @background-color;
    color: @text-color;
    font-family: Lato, sans-serif;
    min-height: 100%;
}

header {
	position: relative;

	.navbar {
		border: 0;

		.navbar-collapse {
			.logo {
				position: absolute;
				right: 10px;
				top: 10px;
				height: 60px;
				width: 350px;
			}
		}

		ul.nav {
			li {
				cursor: pointer;
				height: @navHeight;
				padding: @navPadding;
				text-align: center;
				vertical-align: middle;
				width: @navWidth;

				.dark {
					border-radius: 8px;
					color: #ffffff;
					font-size: 6pt;
					.inner-nav-width(@navWidth, @navPadding);

					img, svg {
						height: 40px;
            width: 40px;
						margin: 0 0 4px 0;
					}
          svg path {
            fill: #FFFFFF;
          }
				}

				&.home {
					background-color: @accountsColor;

					.dark {
						background-color: @accountsColorDark;
					}

					.top-arrow {
						border-top-color: @accountsColor;
					}
				}

				&.consult {
					background-color: @subscriptionColor;

					.dark {
						background-color: @subscriptionColorDark;
					}

					.top-arrow {
						border-top-color: @subscriptionColor;
					}
				}

				&.create {
					background-color: @createColor;

					.dark {
						background-color: @createColorDark;
					}

					.top-arrow {
						border-top-color: @createColor;
					}
				}

				&.collaborate {
					background-color: @collaborateColor;

					.dark {
						background-color: @collaborateColorDark;
					}

					.top-arrow {
						border-top-color: @collaborateColor;
					}
				}

				&.calendar {
					background-color: @calendarColor;

					.dark {
						background-color: @calendarColorDark;
					}

					.top-arrow {
						border-top-color: @calendarColor;
					}
				}

				&.launch {
					background-color: @launchColor;

					.dark {
						background-color: @launchColorDark;
					}

					.top-arrow {
						border-top-color: @launchColor;
					}
				}

				&.measure {
					background-color: @meaureColor;

					.dark {
						background-color: @meaureColorDark;
					}

					.top-arrow {
						border-top-color: @meaureColor;
					}
				}

				&.accounts {
					background-color: @homeColor;

					.dark {
						background-color: @homeColorDark;
					}

					.top-arrow {
						border-top-color: @homeColor;
					}
				}

				&.subscription {
					background-color: @consultColor;

					.dark {
						background-color: @consultColorDark;
					}

					.top-arrow {
						border-top-color: @consultColor;
					}
				}

        &.library, &.forum {
          background-color: @subscriptionColor;

          .dark {
            background-color: @subscriptionColorDark;
          }

          .top-arrow {
            border-top-color: @subscriptionColor;
          }
          img path {
            fill: #ffffff;
          }
        }

				.top-arrow {
					position: absolute;
					display: none;
					width: 0;
					height: 0;
					border-color: transparent;
					border-style: solid;
					.nav-arrow(@navWidth, @navPadding);
					.nav-arrow-position(@navWidth, @navHeight, @navPadding);
				}

				&.active, &:hover {
					.top-arrow {
						display: inline-block;
					}
				}
			}
		}
	}

	.login-info {
		background-color: #282725;
		color: #ffffff;
		font-size: 9pt;
		height: 20px;
		margin: 0;
		padding: 0;
		text-align: right;
		vertical-align: middle;

		.popover-menu {
			cursor: pointer;
			display: inline-block;
			height: 20px;
			margin: 0 16px 0 8px;
			padding: 0;
			vertical-align: text-top;

			&.user-menu {
				margin-right: 96px;
			}

			.popover-content {
				min-width: 200px;
				padding: 0;
			}

			.admin-menu {
				color: #000000;
				font-size: 12pt;
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					margin: 0;
					padding: 8px;
					vertical-align: middle;

					&:hover {
						background-color: #cccccc;
					}

					.item-image {
						margin: 0;
					}

					.glyphicon {
						display: inline-block;
						margin-right: 8px;
					}
				}
			}
		}
	}
}

.small-text {
	font-size: 8pt;
	font-weight: normal;
}

.logo, .logo-white, .logo-white-text{
	background-repeat: no-repeat;
	-moz-background-size: contain;
	background-size: contain;
}

.logo {
	background-image: url(/assets/images/logo.png);
}

.logo-white {
	background-image: url(/assets/images/logo-white.png);
}

.logo-white-text {
	background-image: url(/assets/images/logo-white-text.png);
}

.main-content {
	max-width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 100px;
}

.error {
	color: #ff0000;
	font-weight: bold;
}

.error-message {
	color: #ff0000;
}

.has-error {
	.form-control, .select2-container .select2-choice, .mce-panel {
		border-color: #ff0000;
	}
}

.unauthorized-message {
	padding: 16px;
}

label {
	display: inline;
	font-family: 'Lato-Bold';
	margin: 0;

	span {
		font-family: 'Lato';
		font-weight: normal;
	}

	.error-message {
		float: right;
	}
}

.form-group {
	margin: 16px 0;
	padding: 0 !important;

	.multi-select, .select2-container {
		width: 100%;
	}

	.select2-container {
		display: block;
		min-width: 0;
		max-width: none;
		width: auto;

		.select2-choice {
			height: 34px;

			.select2-chosen, .select2-arrow {
				height: 100%;
				line-height: 28px;

				>* {
					vertical-align: middle;
				}
			}
		}
	}
}

.popover {
	z-index: 1100;

	.popover-content, .popover-title {
		.error-message {
			color: #ff0000;
		}
	}

	.popover-title {
		position: relative;
		
		.glyphicon-remove {
			cursor: pointer;
			position: absolute;
			right: 10px;
			top: 10px;
		}
	}
}

span[class^="icon-"], span[class*=" icon-"] {
	background-repeat: no-repeat;
	-moz-background-size: 16px;
	-o-background-size: 16px;
	background-size: 16px;
	display: inline-block;
	height: 16px;
	width: 16px;

	&.dark {
		color: #000000;
	}
}

[contenteditable] {
	padding: 4px;
}

.round-corner-dialog {
	.modal-dialog {
		.modal-content {
			border-radius: 45px;
		}
	}
}

.content-editable {
	padding: 4px;

	&:empty:not(:focus):before {
		opacity: 0.4;
		content: attr(data-placeholder);
	}
}

#login-form, #change-password-form {
	background-color: @homeColorDark;
	border-radius: 40px;
	color: #ffffff;
	padding: 20px 40px;
  height: 360px;

	.header {
		font-family: 'Lato-Light';
		font-size: 20px;
		margin: 16px;
		text-align: center;

		.content {
			font-family: 'Lato-Light';
			vertical-align: top;
		}

		.launch {
			font-family: 'Lato-Black';
			vertical-align: top;
		}
	}

	input[type="text"], input[type="password"] {
		color: #000000;
		width: 100%;
	}

	a {
		color: #ffffff;
	}

	.btn-toolbar {
		text-align: center;

		.btn {
			margin: 4px;
			padding: 4px 33px;
		}
	}

	button {
		background-color: #333333;
		border: 0;
		color: #ffffff;
		font-family: 'Lato-Bold';
		margin: 0 0 16px 0;
		padding: 4px;

		&.full-width {
			width: 100%;
		}
	}

	.icon-launch {
		-moz-background-size: 40px;
		-o-background-size: 40px;
		background-size: 40px;
		height: 40px;
		width: 40px;
	}
}

#login-form {
	margin: auto;
	width: 350px;

	.header {
		.logo-white {
			height: 50px;
		}
	}
}

#change-password-form {
	button {
		padding: 8px;
	}
}

.confirm-user {
	margin: auto;
	width: 400px;

	#change-password-form {
		button {
			width: 100%;
		}
	}
}

.file-list-browse-controls{
	cursor: pointer;

	input[type="file"]{
		display: none;
	}

	.selected-file{
		display: inline-block;
		margin-right: 24px;
		text-align:center;
		vertical-align: middle;
	}

	.btn-black{
		background-color: #000000;
		color: #ffffff;
		vertical-align: middle;
	}
}

.left-pane {
	background-color: @leftPaneColor;
	height: 100%;
	padding: 8px;
	overflow: auto;
}

.right-pane {
	background-color: @rightPaneColor;
	height: 100%;
	overflow: auto;
	padding: 0;
	position: relative;

	.right-pane-header {
		background-color: #ffffff;
		border-bottom: solid 12px @rightPaneHeaderMarginColor;
		padding: 8px 16px;
	}

	.right-pane-content {
		overflow: auto;
		padding: 16px;
	}

	.right-pane-sub-header{}

	h2, hr {
		border-bottom: solid 1px #000000;
		font-family: 'Lato Black';
		margin: 20px 0 20px 0;
		padding-bottom: 8px;

		&:first-child {
			margin: 0 0 20px 0;
		}
	}

	.control-group {
		.btn {
			font-size: 14px;
			min-width: 120px;
			padding: 6px 12px;

			&.btn-default {
				background-color: #000000;
				color: #ffffff;

				&.multiselect {
					background-color: #ffffff !important;
					border-color: #cccccc !important;
					color: #333333 !important;

					&:hover {
						background-color: #ebebeb !important;
						border-color: #adadad !important;
					}
				}
			}
		}

		&.content-connection-button-bar {
			.form-group {
				margin: 0;
				max-width: 300px;
			}

			.btn-group {
				max-width: 300px;

				.btn-default {
					background-color: #ebebeb;
					color: #333333;

					&.active {
						background-color: #000000;
						color: #ffffff;
					}
				}
			}

			.add-connection {
				float: right;
				margin-right: 100px;

				.btn {
					background-color: #000000;
					color: #ffffff;
				}
			}
		}
	}
}

.view {
	height: 100%;
	margin: 0;
	padding: 0;
}

.user-image {
	background: #000000 url("../images/user.svg") no-repeat;
	background-position-x: center;
	background-position-y: center;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	border: solid 2px #ffffff;
	border-radius: 50%;
	display: inline-block;
	height: 40px;
	width: 40px;
	vertical-align: middle;
}

.user-image-small {
	height: 24px;
	width: 24px;
}

.user-image-medium {
	height: 36px;
	width: 36px;
}

.users, .accounts, .roles, .content-settings, .seo-settings, .create, .admin-library, .consult {
	.left-pane {
		position: relative;

		.btn-group {
			margin-bottom: 12px;
			width: 100%;

			.btn-create {
				background-color: #000000;
				color: #ffffff;

				.glyphicon {
					margin-right: 8px;
				}
			}

			&.btn-group-filter {
				.btn {
					&.active {
						background-color: #000000;
						color: #ffffff;
					}
				}
			}
		}

		hr {
			border-color: #000000;
			margin-top: 10px;
		}

		ul.items-list {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				cursor: pointer;
				padding: 8px;
				position: relative;

				&:hover, &.selected {
					background-color: #eeeeee;
				}

				.item-image {
					float: left;
					margin-right: 16px;
				}

				.item-info {
					font-size: 8pt;

					.item-title {
						font-size: 12pt;
					}
				}
			}
		}

		.pager {
			ul.pagination {
				display: block;

				li {
					a {
						background-color: transparent;
						border-color: @text-color;
						border-radius: 0 !important;
						color: @text-color;
						cursor: pointer;
						margin: 0 4px;
					}

					&.active a {
						background-color: @text-color;
						color: #ffffff;
					}
				}
			}
		}
	}
}

.users, .accounts, .roles, .content-settings, .seo-settings, .admin-library, .consult {
	.left-pane {
		.btn-group {
			.btn-create {
				width: 100%;
			}
		}
	}
}

.user-editor, .account-editor, .role-editor, .content-settings-editor, .seo-settings-editor,
.concept-editor, .content-editor {
	.user-image-upload {
		float: left;
		text-align: center;
		width: 120px;

		.user-image {
			border: solid 3px #ffffff;
			display: block;
			height: 96px;
			margin: auto;
			width: 96px;
		}

		button {
			margin: 16px 0;
		}

		input[type="file"] {
			display: none;
		}
	}

	.user-editor {
		margin-left: 128px;
	}

	.control-group {
		margin: 0 8px 8px 0;

		.form-group {
			display: inline-block;
			margin: 0 8px 0 0;
			min-width: 20em;

			&.form-group-wide {
				min-width: 30em;
			}
		}

		&.btn-toolbar {
			margin: 16px 0;
		}

		input[type="file"] {
			display: none;
		}
	}
}

.user-editor{
	margin: 75px 25px;
}

.toggle {
	cursor: pointer;
}

.connection-list {
	margin: 16px 0;

	.row {
		border-bottom: solid 1px #000000;
		margin: 0;
		padding: 8px;

		>div {
			&.header {
				font-weight: bold;
			}
		}
	}
}

.tier-components {
	.tier-tile-container {
		display: inline-block;
		vertical-align: top;
	}

	.tier-tiles {
		background-color: #999999;
		border-radius: 40px;
		display: inline-block;
		margin: 0 20px 0 0;
		padding: 16px 8px;
		text-align: center;
		height: 280px;
		width: 180px;

		.title {
			font-family: 'Lato Black';
			font-size: 18pt;
		}

		.tile {
			border-radius: 10px;
			color: #ffffff;
			display: inline-block;
			font-size: 6pt;
			margin: 4px;
			padding: 8px 0;
			height: 60px;
			width: 60px;

			img {
				height: 30px;
				margin: 0 0 4px 0;
			}

			&.consult {
				background-color: @subscriptionColorDark;
			}

			&.create {
				background-color: @createColorDark;
			}

			&.collaborate {
				background-color: @collaborateColorDark;
			}

			&.calendar {
				background-color: @calendarColorDark;
			}

			&.launch {
				background-color: @launchColorDark;
			}

			&.measure {
				background-color: @meaureColorDark;
			}

			&.disabled {
				background-color: #999999;
				opacity: 0.4;
			}
		}
	}

	.tier-info {
		display: inline-block;
		padding: 0 16px;
		vertical-align: top;

		.tier-info-list {
			list-style: none;
			margin-bottom: 16px;
			max-width: 300px;
			padding: 0;

			li {
				white-space: nowrap;

				div {
					display: inline-block;
					font-size: 12pt;
					margin: 4px;
					vertical-align: top;
					white-space: normal;

					&.tier-info-label {
						width: 150px;
					}

					&.tier-info-data {
						font-family: 'Lato Black';
					}
				}
			}
		}

		.btn {
			display: block;
			margin: auto;
		}
	}

	.tier-form {
		max-width: 240px;
		padding: 8px;
		text-align: left;
	}
}

.subscriptions {
	.right-pane {
		
		text-align: center;

		.tier-components{
			margin: 30px;

			.tier-tiles{
				margin: 0 30px;
			}
		}
	}
}

.role-editor {
	.panel-group {
		.panel {
			.panel-heading {
				background-color: #000000;
				color: #ffffff;
			}

			.panel-collapse {
				.panel-body {
					
					padding: 16px 0;

					table.privileges-list {
						width: 100%;

						tr {
							border-bottom: solid 1px #000000;

							td, th {
								text-align: center;

								.checkbox {
									margin: 10px 0;

									input[type="checkbox"] {
										float: none;
										transform: scale(1.5,1.5);
										-webkit-transform: scale(1.5,1.5);
										-moz-transform: scale(1.5,1.5);
										-o-transform: scale(1.5,1.5);
										-ms-transform: scale(1.5,1.5);
									}
								}

								&.left {
									padding: 0 16px;
									text-align: left;
								}

								&.check-column {
									min-width: 100px;
								}
							}

							&.dark {
								td {
									background-color: #E6E4E0;
								}
							}
						}
					}
				}
			}
		}
	}

	.btn-duplicate-role {
		float: right;
		margin-top: 20px;
	}
}

.tier-info-dialog {
	.modal-dialog {
		min-width: 650px;
	}
}

.tier-modal {
	padding: 24px;

	h4 {
		font-family: 'Lato Black';
		text-align: center;
	}

	p {
		margin: 0 50px;
	}

	.tier-components {
		margin: 16px 0;
		text-align: center;

		.tier-tile-container {
			max-width: 200px;
			text-align: left;

			ul {
				margin-top: 16px;

				li {
					font-size: 12pt;
					font-family: 'Lato Black';
				}
			}
		}
	}

	.control-group {
		text-align: center;

		.btn {
			background-color: #000000;
			color: #ffffff;
		}
	}
}

.content-settings-editor, .seo-settings-editor {
	padding: 0 16px;

	.control-group {
		.form-group {
			vertical-align: top;

			label {
				vertical-align: top;
			}
		}
	}

	.btn-new-persona {
		float: right;
	}

	#txtPublishingGuidelines {
		min-height: 300px;
	}

	table.persona-table {
		margin-bottom: 50px;
		width: 100%;

		tr {
			border-bottom: solid 1px #000000;

			td, th {
				padding: 8px;
				text-align: left;

				> span{
					vertical-align: middle;
				}

				&.long-content {
					padding: 4px;

					> div {
						min-width: 130px;
						max-width: 200px;
					}
				}
			}

			td {
				font-size: 8pt;

				&.edit-row {
					font-size: 16pt;
					max-width: 34px;

					.fa {
						cursor: pointer;
						float: right;
						margin: 0 4px;
					}
				}
			}

			&.dark {
				td {
					background-color: #E6E4E0;
				}
			}
		}
	}
}

.create {
	.left-pane {
		.filter-panel, .tasks-header {
			background-color: @createColor;
			border-radius: 4px;
			color: #ffffff;
			font-family: 'Lato Black';
			font-size: 14pt;
			margin: 12px 0;
			padding: 4px;
		}

		.btn-group {
			margin-top: 12px;

			&.add-content {
				.btn, ul {
					width: 100%;
				}

				.btn {
					background-color: #000000;
					color: #ffffff;
					position: relative;

					.caret {
						display: inline-block;
						position: absolute;
						right: 16px;
						top: 16px;
					}
				}
			}
		}

		.panel-group {
			.panel {
				background-color: transparent;
				border: none !important;

				.panel-heading {
					background-color: transparent;
					border-bottom: solid 1px #000000;
				}

				.panel-collapse {
					border: none !important;

					.panel-body {
						border: none !important;
					}
				}
			}
		}

		.task-group {
			.task-group-header {
				background-color: #e4e4e4;
				border-radius: 4px;
				font-weight: bold;
				margin: 8px 0;
				padding: 8px;
				position: relative;

				.task-group-header-date, .fa-plus-circle {
					display: inline-block;
					position: absolute;
				}

				.task-group-header-date {
					font-size: 8pt;
					font-weight: normal;
					right: 48px;
					top: 10px;

					.fa-calendar {
						cursor: pointer;
						display: inline-block;
						font-size: 12pt;
						margin: 0 0 0 8px;
					}
				}

				.fa-plus-circle {
					color: #999999;
					font-size: 16pt;
					right: 8px;
					top: 8px;

					&.active {
						color: #000000;
						cursor: pointer;
					}
				}

				&.active {
					background-color: #000000;
					color: #ffffff;

					.fa-plus-circle {
						&.active {
							color: #ffffff;
						}
					}
				}
			}

			.task-group-list {
				list-style: none;
				padding: 0;

				.task-group-task {
					&.disabled {
						opacity: 0.6;
					}

					.checkbox {
						label {
							font-family: Lato;
							font-weight: normal;
						}

						input[type="checkbox"] {
							height: 20px;
							width: 20px;
							margin: 8px 8px 0 0;
						}

						a {
							color: @text-color;
							text-decoration: underline;
						}

						.fa-trash-o {
							cursor: pointer;
							float: right;
						}
					}
				}
			}

			.panel-group {
				.panel {
					.panel-heading {
						border: none;

						.panel-title {
							.accordion-toggle {
								padding: 0;
							}
						}
					}
				}
			}
		}

		.select2-container {
			min-width: 100%;
			width: 100%;
		}

		.panel-content-activity {
			.panel-heading {
				background-color: #000000;
				color: #ffffff;
				font-weight: bold;
			}

			.panel-body {
				background-color: #E4E4E4;

				ul {
					list-style: none;
					padding: 0;

					li {
						border-bottom: dotted 2px #aaaaaa;
						font-size: 8pt;
						padding: 8px 4px;

						.user-image{
							float: left;
							margin-right: 4px;

							.user-image-medium;
						}

						.user-name {
							display: block;
							font-weight: bold;
						}

						.content-activity-date{
							float: right;
						}
					}
				}
			}
		}
	}

	.right-pane {
		.row {
			margin: 20px 0;

			.col-md-12 {
				padding: 0;
			}
		}

		.user-image {
			border-color: @createColor;
		}

		.right-pane-header {
			background-color: @createColor;
			border-bottom-color: lighten(@createColor, 30%);
			color: #ffffff;

			.cl-icon {
				color: #ffffff;
			}
		}

		> .view, > .panel {
			margin: 0 16px 16px 16px;
		}

		.concept-editor, .content-editor {
			margin: 20px 0;
		}

		.content-file-view {
			.cl-icon {
				margin-right: 4px;
			}

			.fa {
				margin-left: 8px;
			}

			.content-file-view-file {
				cursor: pointer;
				display: inline-block;
				padding: 0 16px;
			}
		}

		.concept-container {
			.form-group {
				max-width: 300px;
				vertical-align: bottom;
			}
		}

		.discussion-panel {
			margin: 0 15px;

			.panel-footer {
				background-color: #D7D7D7;
				position: relative;
				text-align: center;

				textarea {
					min-width: 300px;
					width: 60%;
				}

				.btn {
					position: absolute;
					right: 50px;
					top: 30px;
				}
			}

			.panel-body {
				.row {
					border-bottom: dotted 3px #D7D7D7;
					margin: 8px 16px;
				}
			}
		}

		.panel-collaborators {
			.panel-footer {
				background-color: #E4E4E4;
			}
		}

		.panel {
			background-color: #E4E4E4;

			.panel-heading {
				background-color: #000000;
				color: #ffffff;
				font-weight: bold;
			}

			.panel-body {
				background-color: #E4E4E4;

				ul.concept-collaborators {
					list-style: none;
					margin: 16px 0;
					padding: 0;

					li {
						position: relative;

						.fa {
							cursor: pointer;
							position: absolute;
							top: 8px;
						}

						.fa-trash-o {
							right: 0;
						}

						.fa-thumbs-o-up {
							right: 16px;
						}
					}
				}
			}

			&.panel-user-info {
				font-weight: bold;
				min-width: 200px;
				padding: 4px;
				vertical-align: middle;
			}
		}

		.btn {
			.fa {
				display: inline-block;
				margin-right: 8px;
			}
		}

		.btn-black {
			background-color: #000000;
			color: #ffffff;
		}

		.content-workflow {
			padding: 0;
			position: relative;

			.content-workflow-item {
				background-color: #000000;
				border-radius: 50%;
				display: inline-block;
				margin: 0 16px;
				padding: 4px;
				position: relative;
				height: 48px;
				width: 48px;

				.cl-icon {
					position: absolute;
					left: 8px;
					top: 8px;
					height: 32px;
					width: 32px;
				}

				&.inactive {
					background-color: #cccccc;

					.cl-icon {
						opacity: 0.2;
					}
				}
			}

			.content-workflow-connector-1, .content-workflow-connector-2, .content-workflow-connector-3 {
				border-bottom: solid 12px #000000;
				position: absolute;
				top: 18px;
				width: 38px;

				&.inactive {
					border-bottom: dotted 6px #cccccc;
					top: 20px;
				}
			}

			.content-workflow-connector-1 {
				left: 62px;
			}

			.content-workflow-connector-2 {
				left: 146px;
			}

			.content-workflow-connector-3 {
				left: 230px;
			}
		}

		.create-content-header {
			margin: 0;

			h3 {
				margin: 0;
			}
		}

		.content-approved-header, .content-launched-header {
			font-size: 16pt;
			font-weight: bold;
			margin-bottom: 16px;

			.fa {
				color: #000000;
				display: inline-block;

				&.fa-check {
					color: @homeColorDark;
				}
			}
		}

		.content-approved-header {
			color: @homeColorDark;

			.fa {
				margin: 0 0 16px 12px;
			}
		}

		.content-launched-header {
			.fa {
				display: inline-block;
				font-size: 16pt;
				margin: 0 4px;
			}
		}

		.content-preview {
			background-color: #e4e4e4;
			padding: 16px;
			width: 100%;

			h4 {
				font-family: 'Lato Black';
				margin: 4px 0;
			}

			.control-group {
				height: 46px;
				margin: 0;
				position: relative;

				.btn-launch, .btn-promote {
					color: #ffffff;
					font-size: 12pt;
					font-weight: bold;
					position: absolute;
					right: 8px;

					span {
						vertical-align: middle;

						&.cl-icon-launch {
							height: 30px;
							width: 30px;
						}
					}
				}

				.btn-launch {
					background-color: @homeColorDark;
				}

				.btn-promote {
					background-color: @launchColor;
				}
			}
		}
	}
}

.create-header {
	margin: 0 16px;

	>* {
		display: inline-block;
		margin: 0 16px;
		vertical-align: middle;

		.control-label, .form-control {
			display: inline;
		}
	}

	.btn-group {
		.btn {
			&.active {
				background-color: #000000;
				color: #ffffff;
			}
		}
	}

	.create-download, .create-delete {
		.btn {
			font-size: 15pt;
		}
	}

	.create-paging-controls {
		float: right;

		>* {
			display: inline-block;
			margin: 0 16px;
		}

		.create-pager {
			.pagination {
				margin: 0;

				.btn {
					font-size: 15pt;
				}
			}
		}
	}
}

.create-table-container {
	margin: 16px;

	table.create-table {
		width: 100%;

		tr {
			border-bottom: solid 1px #000000;

			td, th {
				padding: 8px;
				position: relative;
				text-align: left;

				&.small-cell {
					width: 50px;
				}

				> span, > a {
					display: inline-block;
					vertical-align: middle;
				}

				.user-image {
					border-color: @createColor;
					height: 32px;
					width: 32px;
				}

				.cl-icon {
					color: #000000;
					font-size: 20pt;
					height: 32px;
					width: 32px;
				}

				.cl-icon-workflow {
					margin: 4px 8px;
				}

				input[type="checkbox"].form-control {
					height: 20px;
					width: 20px;
				}
			}

			th {
				.clickable-header {
					cursor: pointer;
					text-decoration: underline;
				}
			}

			&.dark {
				td {
					background-color: #E6E4E0;
				}
			}
		}
	}
}

.calendar {
	.right-pane-header {
		background-color: @calendarColor;
		border-bottom-color: lighten(@calendarColor, 30%);
		color: white;
	}

	.filter-panel {
		padding: 6px 12px;
		background-color: @calendarColor;
		color: white;
		margin-bottom: 8px;
	}

	.left-pane {
		.select2-container {
			max-width: auto;
			min-width: 0;
			width: 100%;
		}		
	}
}

.header-bar {
	padding: 6px 12px;
	background-color: black;
	color: white;
	margin-bottom: 8px;
	border-radius: 4px;
	line-height: 1.42857143;
}

.full-width-view {
	background: #f2f0ec;
	min-height: 100%;
	height: auto;
}

.module-header {
	background-color: #ffffff;
	border-bottom: solid 12px @rightPaneHeaderMarginColor;
	padding: 8px 16px;
	margin: 0 0 24px;
}

.collaborate {
	.module-header {
		background-color: @collaborateColor;
		border-bottom-color: lighten(@collaborateColor, 30%);
		color: white;		
	}
}

.section-header {
	margin: 0 16px;

	> * {
		display: inline-block;
		margin: 0 16px;
		vertical-align: middle;

		.control-label, .form-control {
			display: inline;
		}
	}

	.btn-group {
		.btn {
			&.active {
				background-color: #000000;
				color: #ffffff;
			}
		}
	}

	.paging-controls {
		float: right;

		> * {
			display: inline-block;
			margin: 0 16px;
			vertical-align: middle;
		}

		.pager {
			.pagination {
				margin: 0;

				.btn {
					font-size: 15pt;
				}
			}

			li > a {
				border-radius: 0;
			}
		}
	}
}

.grid-container {
	padding-top: 30px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center; //space-between;

	.grid-cell {
		background: #e4e4e4;
		// autoprefixer doesn't seem to support shorthand `flex:`
		flex-grow: 1;
		flex-basis: 310px;
		margin-bottom: 30px;
		margin: 0 10px 20px;
	}

	.grid-cell-lining {
		padding: 10px;
	}
}

.sub-section-heading {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border-radius: 4px;
	background: black;
	color: white;
	margin-bottom: 12px;
}

.no-margin {
	margin: 0 !important;
}
.nudge-down {
	margin-bottom: 1em;
}
.large-nudge-down {
	margin-bottom: 2em;
}

.task-list {
	list-style: none;
	padding: 0;

	.task-task {
		&.disabled {
			opacity: 0.6;
		}

		.checkbox {
			padding-left: 0;

			input[type="checkbox"] {
				height: 20px;
				width: 20px;
				margin: 8px 8px 0 0;
			}

			small {
				display: block;
				margin-top: -2px;
			}

			a {
				color: @text-color;
				text-decoration: underline;
			}

			.fa-trash-o, .fa-pencil {
				cursor: pointer;
				float: right;
				margin-left: 8px;
			}
		}
	}
}

.cl-badge {
	margin: 0 .5em;

	.cl-badge-image {
		background: #000000 url("../images/user.svg") no-repeat center center;
		background-size: cover;
		border: solid 2px #ffffff;
		border-radius: 50%;
		display: inline-block;
		height: 40px;
		width: 40px;
		vertical-align: middle;

		&.cl-badge-image-small {
			height: 30px;
			width: 30px;
		}
	}

	.cl-badge-caption {
		margin: 5px 0 10px;
	}

	&.cl-badge-row {
		display: inline-block;
		text-align: center;
		width: 75px;
		vertical-align: top;
	}

	&.cl-badge-horizontal {
		margin: 0 0 0.5em;

		.cl-badge-image {
			display: inline-block;
			vertical-align: middle;
			margin: 0 0.5em 0 0;

			&.fa {
				color: #f2f0ec;
				text-align: center;
				&:before {
					font-size: 22px;
					display: inline-block;
					margin-top: -4px;
				}
			}
		}

		.cl-badge-caption {
			display: inline-block;
			vertical-align: middle;
			margin: 5px 0;
		}

		.fa {
			line-height: 35px;
		}
	}
}

.collaborators {
	text-align: center;
}

.files-list {
	.files-list-header {
		margin: 24px 0 !important;

		.btn {
			float: right;
			padding: 6px 12px;
			vertical-align: text-top;
		}

		input[type="file"] {
			display: none;
		}
	}

	.files-list-items {
		list-style: none;
		padding: 0;

		.files-list-item {
			background-color: #d7d7d7;
			border-radius: 10px;
			cursor: pointer;
			display: inline-block;
			margin: 0 8px 8px 8px;
			padding: 4px;
			position: relative;
			height: 100px;
			width: 300px;

			.files-list-item-icon, .files-list-item-title, .files-list-item-author {
				display: inline-block;
				position: absolute;
			}

			.files-list-item-icon {
				left: 8px;
				top: 4px;

				.cl-icon {
					height: 92px;
					width: 92px;
				}
			}

			.files-list-item-title, .files-list-item-author {
				font-size: 8pt;
				height: 44px;
				left: 104px;
				width: 188px;
			}

			.files-list-item-title {
				top: 4px;

				.fa {
					display: inline-block;
					float: right;
					font-size: 16px;
					margin-left: 4px;
				}
			}

			.files-list-item-author {
				top: 52px;

				span {
					display: inline-block;
					vertical-align: middle;

					&.files-list-item-author-name {
						text-align: left;
						width: 100px;
					}
				}
			}
		}
	}
}

// generic button stuff
.full-width {
	width: 100%;
}

.btn-inverse {
	background: black;
	color: white;

	&:hover {
		color: white;
		background: lighten(black, 20%);
	}

	&:focus {
		color: white;
	}

	&:active {
		color: #ccc;
	}
}

table.structural {
	width: 100%;
	> thead > tr > th, > tbody > tr > td {
		padding-right: 20px;
		&:last-child {
			padding-right: 0;
		}
	}

	&.small-headers {
		th {
			font-size: 10px;
		}
	}

	> tbody > tr > td {
		padding-bottom: 15px;
	}
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
	background-color: #e6e4e0;
}

.disabled-row {
	color: #aaa;

	a {
		color: #8fa4bb;
	}
}

.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}
.align-middle {
	vertical-align: middle !important;
}
.align-top {
	vertical-align: top !important;
}
.align-bottom {
	vertical-align: bottom !important;
}

.underline {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid black;
}

.panel {
	border: 0 none;
	background-color: #e4e4e4;
}

.panel-inverse > .panel-heading {
	color: white;
	background-color: black;
	border-color: black;
}

.well {
	background: #e4e4e4;
	border: 0 none;
	box-shadow: none;
}

.icon-danger {
	color: #d9534f;
}

.wheel-of-color {
	width: 70px;
	height: 70px;
	display: inline-block;
	border: 2px solid #717171;
	background-color: white;
	border-radius: 50%;
}

[ng-click]:not(.modal) {
	cursor: pointer;
}

.accordion-blend {
	.panel-group {
		.panel + .panel {
			margin: 0;
		}

		.panel {
			background-color: transparent;
			border: none !important;

			.panel-collapse .panel-body {
				border: none !important;
			}
		}

		.panel-heading {
			background-color: transparent;
			border-bottom: solid 1px #000000;
		}
	}
}

.accordion-header {
	padding: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #555;

	i {
		display: inline-block;
		width: 16px;
	}
}

.accordion-body {
	padding: 10px;
	margin-bottom: 10px;
}

.small-nudge-down {
	margin-bottom: 8px;
}

.squeeze-20 {
	padding: 0 20px;
}

.select2-container {
	max-width: 400px;
	min-width: 400px;

	&.select2-container {
		.select2-choices {
			.select2-search-choice {
				.select2-search-choice-close {
					background-image: url(/assets/images/select2.png);
				}
			}

			.select2-search-field {
				input[type="text"] {
					height: auto !important;
				}
			}
		}

		.select2-choice {
			.select2-arrow {
				b {
					background: url(/assets/images/select2.png) no-repeat 0 4px;
				}
			}

			abbr {
				background-image: url(/assets/images/select2.png);
			}
		}
	}
}

.select2-search-choice-close {
	background-image: url(/assets/images/select2.png);
}

.link-button-container {
	text-align: center;

	.link-button {
		color: #000000;
		display: inline-block;
		padding: 4px;

		&:hover{
			text-decoration: none;
		}
	}
}

.campaign-dot {
	border-radius: 50%;
	display: inline-block;
	height: 16px;
	width: 16px;
	vertical-align: middle;

	&.campaign-dot-small {
		height: 12px;
		width: 12px;
	}

	&.campaign-dot-1 {
		background-color: #660033;
	}

	&.campaign-dot-2 {
		background-color: #CC9900;
	}

	&.campaign-dot-3 {
		background-color: #99CCFF;
	}

	&.campaign-dot-4 {
		background-color: #990000;
	}

	&.campaign-dot-5 {
		background-color: #FFFF66;
	}

	&.campaign-dot-6 {
		background-color: #003366;
	}

	&.campaign-dot-7 {
		background-color: #CC3300;
	}

	&.campaign-dot-8 {
		background-color: #CCFF33;
	}

	&.campaign-dot-9 {
		background-color: #666699;
	}

	&.campaign-dot-10 {
		background-color: #FF6600;
	}

	&.campaign-dot-11 {
		background-color: #99CC00;
	}

	&.campaign-dot-12 {
		background-color: #6666FF;
	}

	&.campaign-dot-13 {
		background-color: #FF9933;
	}

	&.campaign-dot-14 {
		background-color: #00CC66;
	}

	&.campaign-dot-15 {
		background-color: #CC0099;
	}
}

.dont-know-link {
  text-decoration: underline;
  margin-left: 10px;
}

.btn-create {
	background-color: @createColor;
	color: white;

	&:hover {
		color: white;
		background-color: darken(@createColor, 5%);
	}
}

.btn-collaborate {
	background-color: @collaborateColor;
	color: white;

	&:hover {
		color: white;
		background-color: darken(@collaborateColor, 5%);
	}
}

.btn {
	img {
		max-height: 20px;
		margin-right: 5px;
	}
}

// Full Calendar Styles
//////////////////////////

.fc-border-separate {
	background: white;
}

.fc-header-title {
	h2 {
		margin: 0 !important;
		border-bottom: none !important;
	}
}

.fc-header {
	.fc-button {
		&:extend(.btn);
	}
}

.calendar-task {
	height: 40px;
	border-left-width: 2px !important;
	border-right-width: 2px !important;
	border-top-width: 2px !important;
	border-bottom-width: 2px !important;
}

.calendar-node {
	background: white;
	padding: 2px;
	color: black;
	height: 100%;

	&:after {
		clear: both;
	}

	&-title {
		line-height: 12px;
		overflow: hidden;
		text-overflow: ellipsis;
		height: 12px;
		white-space: nowrap;
	}

	&-connection-icon {
		float: left;
		margin: 3px 8px 0 0;

		span {
			display: block;
			width: 24px;
			font-size: 24px;
			vertical-align: middle;
		}
	}

	&-status {
		img {
			display: inline-block;
			width: 16px;
			vertical-align: middle;
			margin-right: 5px;
		}
	}

	&-colorification {
		display: inline-block;
		height: 16px;
		width: 16px;
		border-radius: 50%;
		vertical-align: middle;
	}
}

.connection-icon {
	font-size: 24px;
}

// .fc-view {
// 	overflow: visible;
// }

.calendar-node-popover {
	min-width: 240px;
	font-size: 12px;
	line-height: 16px;

	strong {
		font-size: 14px;
		line-height: 18px;
	}

	&-title {
		float: left;
	}

	&-date {
		float: right;
	}

	img, &-colorification {
		display: inline-block;
		width: 24px;
		vertical-align: middle;
		margin-right: 8px;
	}

	&-colorification {
		height: 24px;
		border-radius: 50%;
	}

	.structural {
		> tbody > tr > td {
			vertical-align: middle;
			padding-right: 0;
			&:first-child {
				width: 24px;
			}
			&:last-child {
				padding-left: 5px;
			}
		}
	}
}

hr.simple-divider {
	height: 1px;
	background: #ccc;
	width: auto;
	display: block;
	border: 0 none;
	margin: 20px 0;
	padding: 0;
}

.slide-toggle.ng-hide {
	display: block !important;
}

.loading-spinner-container {
	height: 100%;
	width: 100%;
	text-align: center;

	.loading-spinner {
		margin: 128px 0;
	}
}

.loading-spinner {
    width: 20px;
    height: 20px;
    float: none;
    margin: 0;
    margin-right: 0;
    display: inline-block;
}

.header-message {
  background: #80ABC3;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
}

.files-list {
  list-style: none;
  padding: 0;

  li {
    padding-left: 0;
    padding-right: 30px;
  }

  .file-preview, .folder-preview {
    position: relative;
    background: #D7D7D7;
    padding: 5px 10px 15px 10px;
    margin: 20px 0;
    border-radius: 8px;
    height: 155px;

    .row {
      margin-top: 5px;
    }

    .edit {
      position: absolute;
      top: 1px;
      right: 2px;
      font-size: 10px;
      font-weight: bold;
      text-align: center;
      .fa {
        font-size: 20px;
      }
    }

    .cl-icon, .cl-icon svg {
      height: 50px;
      width: 50px;
      float: left;
      margin-right: 25px;
      margin-top: -5px;
    }

    .description {
      padding-right: 25px;
      padding-top: 5px;
      font-size: 13px;
    }

    .filename {
      text-decoration: underline;
      cursor: pointer;
      a {
        color: #000000;
        font-weight: bold;
      }
    }

    .info, .user {
      font-size: 11px;
      overflow: hidden;
    }

    .name {
      font-weight: bold;
    }

    .tags {
      font-style: italic;
      span {
        margin-right: 3px;
      }
    }

    .user {
      .user-image {
        border-color: #2BADC0;
        float: left;
        margin-right: 5px;
      }
    }

    .rating-views {
      margin: 8px 0;
    }

    .rating {
      font-size: 16px;
    }

    .views {
      margin-left: 10px;
    }
  }
}

.admin-library {
  .right-pane {
    padding: 65px 20px;

    > h3 {
      margin: 0 0 20px 0;
      border-bottom: solid 1px #000000;
      padding-bottom: 8px;
    }
  }
}

.library-file-form, .library-folder-form {
  .buttons {
    .btn-black {
      margin: 0 10px;
    }
    text-align: center;
  }
  .btn-black {
    background-color: #000000;
    color: #ffffff;
    vertical-align: middle;
    border: none;
  }
}

.view.forum {
	.section-header {
		margin: 0 0 16px;
		h3 { margin: 0 16px 0 0; }
	}
}

.consult {
  &.consult-landing .right-pane-header {
    padding-left: 50px;
  }

  .left-pane {
    .select2-container {
      // min-width: 100%;
      width: 100%;
    }
  }

  .panel-group {
    .panel {
      background-color: transparent;
      border: none !important;

      .panel-heading {
        background-color: transparent;
        border-bottom: solid 1px #000000;
      }

      .panel-collapse {
        border: none !important;

        .panel-body {
          border: none !important;
        }
      }
    }
  }

  .right-pane-header {
    color: #ffffff;
    background-color: #2BADC0;
    border-bottom-color: #8DCDD5;
  }
  .container {
    padding-left: 0;
  }
  .subheader {
    h3 {
      border-bottom: 1px solid #000000;
      padding-bottom: 10px;
      margin-top: 0;
    }
  }
  .landing-box {
    text-align: center;
    padding: 0 28px;
    h3 {
      border-bottom: 1px solid #000000;
      padding-bottom: 10px;
    }
    .landing-icon {
      svg {
        width: 150px;
        height: 150px;  
      }
      margin: 15px 0;
    }
    .text {
      padding: 0 20px;
      text-align: left;
      font-style: italic;
    }
  }
  .subtext {
    font-style: italic;
    margin: 85px auto 45px auto;
    width: 40%;
  }
  .filter-panel {
    background-color: #2BADC0;
    border-radius: 4px;
    color: #ffffff;
    font-family: 'Lato Black';
    font-size: 14pt;
    margin: 12px 0;
    padding: 4px;
  }

  .cl-badge-image {
  	border-color: @consultColorDark;
  }
}

.filter-slection-counter {
	float: right;
}

[sort-by] {
	cursor: pointer;
	&:before {
		margin-right: 3px;
	}
}

.tiny-circle {
	border-radius: 50%;
	width: 8px;
	height: 8px;
	background-color: white;
}

.full-screen-modal {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	background-color: rgba(0,0,0, 0.5);

	.loading-spinner {
		position: absolute;
		top: 50%;
		left: 50%;
		// margin-left: -50px;
		// margin-top: -50px;
	}

	.message {	
		position: absolute;
		font-size: 36px;
		color: white;
		text-align: center;
		top: 50%;
		margin-top: 115px;
		width: 100%;
	}
}

.file-dialog {
	img, video {
		max-width: 100%;
	}
}

.thread-meta {
	padding: 10px;
	font-size: 11px;
}