//------------------------------
// *****************************
// Container
// *****************************
//------------------------------

// Workspace Classes
.landing {
  min-height: 100%;
  padding: 40px 0;
}

.landing-logo {
  position: relative;
  display: block;
  margin: 0 auto 40px auto;
  width: 180px;

  > img {
    max-width: 100%;
  }

  &:hover, &:focus {
    text-decoration: none;
  }
}
