//------------------------------
// *****************************
// Container
// *****************************
//------------------------------

// Container Classes
.workspace {
  position: relative;
  padding: 20px;
  min-width: 1024px;
  min-height: 100%;
  margin-left: $navigation-space-left;
}
