<form role="form" class="modal-brainstorm">
    <div class="modal-header">
        {{message}}
    </div>
    <div class="modal-body">
        <div class="agenda">
            <label>Agenda</label>
            <textarea rows="5" class="form-control" ng-model="brainstorm.agenda"></textarea>
        </div>
        <div class="details">
            <div class="date">
                <label>Date</label>
                <input show-weeks="false" show-button-bar="false" datepicker-popup="MM/dd/yyyy" date-only="true" type="text" class="form-control" ng-model="brainstorm.date" />
            </div>
            <div class="time">
                <timepicker ng-model="brainstorm.time" hour-step="1" minute-step="15" show-meridian="true"></timepicker>
            </div>
            <div>
                <label>Description</label>
                <textarea rows="5" class="form-control" ng-model="brainstorm.description"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="$dismiss()">Go Back</button>
        <button class="btn btn-primary" ng-click="schedule()">Send</button>
    </div>
</form>
