.fstElement {
  font-size: 12px !important;
  border: none !important;
  border-bottom: 1px solid #A7A1AD !important;
  width: 100% !important;

  .fstControls{
    width: 100% !important;
  }
}

.fstChoiceItem {
  padding:2px 6px 4px 20px !important;
}

.fstResultItem {
  font-size: 14px !important;
}
