//------------------------------
// *****************************
// Schedule
// *****************************
//------------------------------

// Variables

// Classes
.calendar-schedule {
  width: 85%;
  float: left;
  height: 100%;
  padding: 2px 5px;
}

.calendar-schedule-dropdown-wrapper {
  position: relative;
  height: 100%;
}

.calendar-schedule-dropdown {
  @extend .dropdown;

  position: absolute;
  bottom: 5px;
  right: 10px;

  .dropdown-menu-right {
    left: auto;
    right: -9px;
  }
}
