<div class="btn-group">
	<a href="#/writeraccess" class="btn btn-default" ng-class="{ active: (selectedTab === 'overview') }">Overview</a>
	<a href="#/writeraccess/projects" class="btn btn-default" ng-class="{ active: (selectedTab === 'projects') }">Projects</a>
	<a href="#/writeraccess/assets" class="btn btn-default" ng-class="{ active: (selectedTab === 'assets') }">Assets</a>
	<a href="#/writeraccess/writers" class="btn btn-default" ng-class="{ active: (selectedTab === 'writers') }">Writers</a>
	<a href="#/writeraccess/orders" class="btn btn-default" ng-class="{ active: (selectedTab === 'orders') }">Orders</a>
</div>
