<div class="view writeraccess">
	<div class="col-md-3 left-pane">

	</div>

	<div class="col-md-9 right-pane">
		<h2 class="right-pane-header"><img src="http://www.writeraccess.com/images/2014/logo-header.png" alt=""></h2>

		<div class="right-pane-content">
            <div class="measure-header" ng-include="'/assets/views/writeraccess/writeraccess-navigation.html'"></div>
		</div>

		<pre>
{
   "assets":[
      {
         "id":1,
         "name":"Article"
      },
      {
         "id":2,
         "name":"Blog Post"
      },
      {
         "id":3,
         "name":"Book"
      }
   ]
}
		</pre>
	</div>
</div>