<div class="view writeraccess">
	<div class="col-md-3 left-pane">

	</div>

	<div class="col-md-9 right-pane">
		<h2 class="right-pane-header"><img src="http://www.writeraccess.com/images/2014/logo-header.png" alt=""></h2>

		<div class="right-pane-content">
            <div class="measure-header" ng-include="'/assets/views/writeraccess/writeraccess-navigation.html'"></div>
		</div>

        <div ng-init="getOrder(605032)">
            <div class="well" style="padding: 25px; margin: 0 25px 25px 25px;" ng-repeat="order in orders">
                <table>
                    <tr ng-repeat="(key, value) in order">
                        <td>{{key}}</td>
                        <td>{{value}}</td>
                    </tr>
                </table>
            </div>
        </div>
	</div>
</div>