<div class="view writeraccess">
	<div class="col-md-3 left-pane">

	</div>

	<div class="col-md-9 right-pane">
		<h2 class="right-pane-header"><img src="http://www.writeraccess.com/images/2014/logo-header.png" alt=""></h2>

		<div class="right-pane-content">
            <div class="measure-header" ng-include="'/assets/views/writeraccess/writeraccess-navigation.html'"></div>
		</div>

		<pre>
{
    "writers":[
        {
            "id":107,
            "name":"Katie L",
            "location":"Encino, CA",
            "rating":4,
            "photo":"http://www.writeraccess.com/thumb/GetThumb.ashx?path=upload&subpath=thumbs&image=klo%20pic%202.jpg&size=&maxX=300&maxY=9999"
        },
        {
            "id":139,
            "name":"Nina G",
            "location":"Los Angeles, CA",
            "rating":4,
            "photo":"http://www.writeraccess.com/thumb/GetThumb.ashx?path=upload&subpath=thumbs&image=nina%202%20(2).jpg&size=&maxX=300&maxY=9999"
        }
    ]
}
		</pre>
	</div>
</div>