<div class="view writeraccess">
	<div class="col-md-3 left-pane">

	</div>

	<div class="col-md-9 right-pane">
		<h2 class="right-pane-header"><img src="http://www.writeraccess.com/images/2014/logo-header.png" alt=""></h2>

		<div class="right-pane-content">
            <div class="measure-header" ng-include="'/assets/views/writeraccess/writeraccess-navigation.html'"></div>
		</div>

		<pre>
{
   "orders":[
      {
         "id":14101,
         "status":"Open",
         "autoapproved":null,
         "project":{
            "id":26,
            "name":"Exercise"
         },
         "title":"Aerobic Exercises",
         "minwords":200,
         "maxwords":650,
         "maxcost":33.15,
         "writer":null,
         "editor":null
      },
      {
         "id":14172,
         "status":"Open",
         "autoapproved":null,
         "project":{
            "id":1424,
            "name":"Folder #41"
         },
         "title":"order 1",
         "minwords":100,
         "maxwords":300,
         "maxcost":17.4,
         "writer":null,
         "editor":null
      }
   ]
}
		</pre>
	</div>
</div>