<div class="view writeraccess">
	<div class="col-md-3 left-pane">

	</div>

	<div class="col-md-9 right-pane">
		<h2 class="right-pane-header"><img src="http://www.writeraccess.com/images/2014/logo-header.png" alt=""></h2>

		<div class="right-pane-content">
            <div class="measure-header" ng-include="'/assets/views/writeraccess/writeraccess-navigation.html'"></div>
		</div>

		<pre>
{
   "projects":[
      {
         "id":3,
         "name":"Cleaning Tips",
         "status":{
            "open":3,
            "inprogress":0,
            "pending":2,
            "approved":15
         }
      },
      {
         "id":4,
         "name":"Makeup Tips",
         "status":{
            "open":0,
            "inprogress":16,
            "pending":0,
            "approved":4
         }
      }
   ]
}
		</pre>
	</div>
</div>