//------------------------------
// *****************************
// Stats
// *****************************
//------------------------------

.dashboard-stats {
  padding: 15px;
  border-bottom: 1px solid #dadfeb;
}

.dashboard-stats-label {
  font-family: $source-sans-pro;
  font-weight: bold;
  font-size: 16px;
  color: #1d1131;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.dashboard-stats-label-chart-wrapper {
  border: 1px solid #dadfeb;
  height: 160px;
}
