<div class="view create" ng-show="!isLoading">
	<div class="col-md-3 left-pane">
		<label for="selAllItems">Your Concepts</label>
		<select id="selAllItems" name="selAllItems" class="form-control" ng-model="selectedItemId" ng-options="item.id as item.title for item in allItems" ng-change="changeItem()">
		</select>
	</div>
	<div class="col-md-9 right-pane" ng-show="canViewContent">
		<h2 class="right-pane-header">Create</h2>
		<form name="editConcept" novalidate="novalidate">
			<div class="concept-editor row">
				<div class="col-md-9">
					<h2>
						Edit Concept
						<span class="cl-icon cl-icon-large cl-icon-workflow-concept"></span>
					</h2>
				
					<div class="concept-container">
						<div class="control-group">
							<div class="form-group">
								<label class="control-label" for="txtConceptName">Working Title</label>
								<input type="text" name="txtConceptName" id="txtConceptName" class="form-control" ng-model="selectedItem.title" ng-disabled="true" />
							</div>

							<div class="form-group">
								<label class="control-label" for="selContentType">Content Type</label>
								<select name="selContentType" id="selContentType" ng-disabled="true"
										ui-select2="{ formatResult: formatContentTypeItem, formatSelection: formatContentTypeItem, selectOnBlur: true }" ng-model="selectedItem.contentType.name">
									<option value="{{ selectedItem.contentType.name }}">{{ selectedItem.contentType.title }}</option>
								</select>
							</div>
						</div>

						<div class="control-group">
							<div class="form-group">
								<label class="control-label" for="selCampaign">Campaign</label>
								<select name="selCampaign" id="selCampaign"
										ui-select2="{ formatResult: formatCampaignItem, formatSelection: formatCampaignItem, allowClear: true }" ng-model="selectedItem.campaign.id" ng-disabled="true">
									<option value="{{ selectedItem.campaign.id }}">{{ selectedItem.campaign.title }}</option>
								</select>
							</div>

							<div class="form-group">
								<label class="control-label" for="selCreator">Content Creator</label>
								<select name="selCreator" id="selCreator"
										ui-select2="{ formatResult: formatUserItem, formatSelection: formatUserItem, selectOnBlur: true }" ng-model="selectedItem.author.id" ng-disabled="true">
									<option value="{{ selectedItem.author.id }}">{{ selectedItem.author.formatName() }}</option>
								</select>
							</div>
						</div>
					
						<div class="control-group">
							<label class="control-label" for="txtConceptDesc">Description</label>
							<textarea name="txtConceptDesc" id="txtConceptDesc" rich-text-editor ng-model="selectedItem.body" disabled="disabled"></textarea>
						</div>
						
						<div files-list="selectedItem.attachments" after-add-file-success="addAttachment" users="users" is-disabled="true"></div>
					</div>
				</div>
			</div>

			<div class="panel panel-default discussion-panel">
				<div class="panel-heading">Discussion</div>
				<div class="panel-body">
					<div class="row" ng-repeat="c in comments">
						<div class="col-md-2">
							<span class="user-image user-image-small" ng-style="{ 'background-image': c.commentor.imageUrl() }"></span>
							{{ c.commentor.formatName() }}
						</div>
						<div class="col-md-8 well">{{ c.comment }}</div>
						<div class="col-md-2">{{ c.commentDate() }}</div>
					</div>
				</div>
				<div class="panel-footer">
					<textarea rows="3" ng-model="newComment"></textarea>

					<button type="button" class="btn btn-black btn-default" ng-click="addComment()">Send</button>
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-9 right-pane" ng-hide="canViewContent">
		<h3 class="unauthorized-message">There are no items for you to view.</h3>
	</div>
</div>

<div class="loading-spinner-container" ng-show="isLoading">
	<spinner spin="{ length: 50, width: 10, radius: 30 }"></spinner>
</div>