<div class="collaborate view full-width-view">
    <h2 class="module-header">Collaborate</h2>
    <div class="container" ng-show="guest">
        <p ng-show="guest.type == 'individual'">
            <strong>{{ guest.name }}</strong>, you have been invited by 
            <strong>{{ guest.content.user.name }}</strong>
            to collaborate on their concept <strong>{{ guest.content.title }}</strong>.            
        </p>

        <p ng-show="guest.type == 'group'">
            As a member of the <strong>{{ guest.name }}</strong> group on LinkedIn, you have been invited by
            <strong>{{ guest.content.user.name }}</strong>
            to collaborate on their concept <strong>{{ guest.content.title }}</strong>.
        </p>

        <p>
            As {{ guest.content.user.firstName }} has invited you via {{ guest.connection.name }}, you'll 
            have to sign in via that service before you can collaborate:
        </p>

        <a target="_self" ng-href="/api/guest-collaborators/{{ guest.id }}/link-account" class="btn btn-inverse">Sign in with {{ guest.connection.name }}</a>
    </div>
</div>