<form role="form">
    <div class="modal-header">
        Invite to Collaborate
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Recipients</label>
            <div>
                <span ng-hide="recipients.length">
                    No Recipients
                </span>
                <span ng-repeat="recipient in recipients">
                    {{ recipient.name }}
                    <span ng-hide="$last">, </span>
                </span>
            </div>
        </div>
        <div class="form-group" ng-hide="provider == 'twitter'">
            <label>Subject</label>
            <input type="text" class="form-control" ng-model="message.subject"></textarea>
        </div>
        <div class="form-group">
            <label>Message</label>
            <textarea rows="5" class="form-control" ng-model="message.body"></textarea>
            <p class="help-block">{{ 140 - message.body.length - linkLength }} characters</p>
        </div>

        <p class="align-center">
            This message will  be sent to the chosen 
            {{ isGroup ? 'Group' : (provider == 'twitter' ? 'Followers' : 'Connections') }}
            <br>
            along with a link to become a collaborator
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="$dismiss()">Go Back</button>
        <button class="btn btn-primary" ng-click="$close(message)">Send</button>
    </div>
</form>
