<div class="collaborate view full-width-view">
    <h2 class="module-header">Collaborate</h2>
    <div class="container">
        <div class="section-header">
            <h3>Concepts</h3>
            
            <div class="btn-group" ng-init="view = 'list'">
                <button class="btn btn-default" ng-class="{ active: view === 'list' }" ng-click="view = 'list'">
                    List View
                </button>
                <button class="btn btn-default" ng-class="{ active: view === 'grid' }" ng-click="view = 'grid'">
                    Grid View
                </button>
            </div>

            <div class="paging-controls">
                <div class="form-group form-inline">
                    <label class="control-label" for="selPageSize">Items per page:</label>
                    <select class="form-control" id="selPageSize" name="selPageSize" ng-model="pagination.pageSize">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>

                <div style="width: 100px; text-align: center;">
                    {{ (pagination.currentPage - 1) * pagination.pageSize + 1 }} 
                    to {{ pagination.currentPage * pagination.pageSize | min:list.length }}
                    of {{ list.length }}
                </div>

                <div class="pager" ng-show="list.length > pagination.pageSize">
                    <pagination 
                        total-items="list.length"
                        items-per-page="pagination.pageSize"
                        page="pagination.currentPage"
                        direction-links="true"
                        max-size="0">
                    </pagination>
                </div>
            </div>
        </div>

        <div class="table-container" ng-show="view == 'list'">
            <table class="table">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Working Title</th>
                        <th>Type</th>
                        <th>Internal Collaborators</th>
                        <th>Guest Collaborators</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in list | paginate:pagination.currentPage:pagination.pageSize track by (item.id + item.type)" ng-class-odd="'dark'">
                        <td class="align-middle"><span class="cl-icon cl-icon-med cl-icon-workflow-concept"></span></td>
                        <td class="align-middle">{{ item.title }}</td>
                        <td class="align-middle">{{ item.type }}</td>
                        <td class="align-middle">
                            <ng-pluralize count="item.internalCollaborators.length" offset="2"
                                when="{ 0: 'No collaborators',
                                        1: '{{item.internalCollaborators[0].name}}',
                                        2: '{{item.internalCollaborators[0].name}} and {{item.internalCollaborators[1].name}}',
                                        one: '{{item.internalCollaborators[0].name}}, {{item.internalCollaborators[1].name}} and one other person',
                                        other: '{{item.internalCollaborators[0].name}}, {{item.internalCollaborators[1].name}} and {} other people' }">
                            </ng-pluralize>
                        </td>
                        <td class="align-middle">
                            <ng-pluralize count="item.guestCollaborators.length" offset="1"
                                when="{ 0: 'No collaborators',
                                        1: '{{item.guestCollaborators[0].name}}',
                                        one: '{{item.guestCollaborators[0].name}} and one other person',
                                        other: '{{item.guestCollaborators[0].name}} and {} other people' }">
                            </ng-pluralize>
                        </td>
                        <td class="align-middle">
                            <a href="/collaborate/{{ item.typeSlug }}/{{ item.id }}" class="btn btn-inverse">Manage Collaborators</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="grid-container break-3" ng-show="view == 'grid'">
            <div class="grid-cell" ng-repeat="item in list | paginate:pagination.currentPage:pagination.pageSize track by (item.id + item.type)">
                <div class="grid-cell-lining">
                    <h4>{{ item.title }}</h4>
                    <p>{{ item.concept }}</p>

                    <div class="sub-section-heading full-width">Internal Collaborators</div>
                    <div class="nudge-down collaborators">
                        <div ng-repeat="collab in item.internalCollaborators" class="internal-collaborator cl-badge cl-badge-row">
                            <span class="cl-badge-image" style="background-image: url('{{ collab.image | imagePathFromObject }}')")></span>
                            <div class="cl-badge-caption">
                                {{ collab.name }}
                            </div>
                        </div>
                    </div>

                    <div class="sub-section-heading full-width">Guest Collaborators</div>
                    <div class="nudge-down collaborators">
                        <div ng-repeat="collab in item.guestCollaborators" class="guest-collaborator cl-badge cl-badge-row">
                            <span class="cl-badge-image fa fa-{{ collab.connection.provider }}" style="background-image: none;"></span>
                            <div class="cl-badge-caption">
                                {{ collab.name }}
                            </div>
                        </div>
                    </div>

                    <div class="align-center">
                        <a href="/collaborate/{{ item.typeSlug }}/{{ item.id }}" class="btn btn-inverse">Manage Collaborators</a>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>