<div class="traackr-table-wrapper">
    <table class="table table-striped" ng-show="users.length">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>Primary Affiliation</th>
                <th class="align-center">Reach</th>
                <th class="align-center">Resonance</th>
                <th class="align-center">Relevance</th>
                <th>Connections</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td class="align-middle">
                    <input ng-hide="isTagged(user)" checklist-value="user.uid" checklist-model="selectedIds" type="checkbox">
                    <i ng-show="isTagged(user)" class="fa fa-check big-blue-check"></i>
                </td>
                <td class="align-middle" style="white-space: nowrap;">
                    <div class="cl-badge cl-badge-horizontal">
                        <span class="cl-badge-image cl-badge-image-small" style="background-image: url('{{ user.avatar.small }}')"></span>
                        <div class="cl-badge-caption">
                            {{ user.name }}
                        </div>
                    </div>
                </td>
                <td class="align-middle">{{ user.primaryAffiliation }}</td>
                <td class="align-middle align-center big-orange">{{ user.reach }}</td>
                <td class="align-middle align-center big-orange">{{ user.resonance }}</td>
                <td class="align-middle align-center big-orange">{{ user.relevance }}</td>
                <td class="align-middle">
                    <a ng-repeat="social in user.social" target="_blank" href="{{ social.url }}">
                        <span class="fa fa-{{ social.type }}"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <div ng-hide="users.length">
        No results.
    </div>
</div>